<div class="modal-header">
                <h3 class="modal-title">Search Videos by Date time</h3>
            </div>
            
            <div class="modal-body">
            <div ng-show="error" class="has_error col-md-6 col-md-offset-3">No Videos Found for the specified Date Time</div>
<div class="row">
    <div class="col-md-12">
        Date:
        <p class="input-group">
        <input type="text" class="form-control" datepicker-popup="yyyy/MM/dd" ng-model="date" is-open="opened" min-date="'2010-06-22'" max-date="'2020-06-22'" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" ng-click="open($event)"/>
        <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="open($event)"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
        </p>
    </div>
    <div class="col-md-12">
    Time:
    <timepicker ng-model="mytime" ng-change="changed()" hour-step="hstep" minute-step="mstep" show-meridian="ismeridian"></timepicker>
    </div>
    
</div>
<div class="row">
<div class="col-md-3 col-md-offset-9">
    <button class="btn btn-success btn-block" ng-click="get_search_url()">Search</button>
</div>
    
</div>

                
            </div>
    
          
            <div class="modal-footer">                                                                                        
                
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>                                                                                                                                         
            </div>