{% extends "dashboardui/base.html" %}

{% block extra_css %}
    <style type="text/css">
   .btn-green {
border-color: #5cb85c;
color: #fff;
background-color: #5cb85c;
}
table td{
    font-size: 14px

}
hr {
margin-top: 3px;
margin-bottom: 3px;
border: 0;
border-top: 1px solid #9E9999;
}

legend {
display: block;
padding: 8px 0;
border-bottom: 1px dashed rgba(0,0,0,.2);

font-size: 16px;
font-weight: 300;
color: #222;
margin: 3px 0 3px;
}
h2 {
letter-spacing: -1px;
font-size: 22px;
margin: 5px 0; 
line-height: normal;
}

    </style>
{% endblock extra_css %}

{% block location %}
    
{% endblock location %}



{% block content %}
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span> Reports > ALL Locations</span></h1>
    </div>
    
</div>

<section id='widget-grid' ng-controller="AllLocatiosCtrl" >


    

        

        


{% verbatim %}
<div class="row">
<article class="col-md-12">
            <!-- new widget -->
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                    <h2>All Locations Sales</h2>

                    
                </header>

                <!-- widget div-->
                <div class="no-padding">
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">

                        test
                    </div>
                    <!-- end widget edit box -->

                    <div class="widget-body">
                        <!-- content -->
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                
                                

                                <div class="show-stat-microcharts text-center">
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading"><h3>Total Sales</h3></div>
                                            <div class="panel-body"><span class="txt-color-blue" ng-cloak>${{order_total|number:2}}</span></div>
                                        
                                            
                                        </div>

                                        
                                        
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <div class="panel panel-green">
                                            <div class="panel-heading"><h3>Profits</h3></div>
                                            <div class="panel-body"><span class="txt-color-green" ng-cloak>${{profits|number:2}}</span></div>
                                        
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <div class="panel panel-yellow">
                                            <div class="panel-heading"><h3>Cost Of Goods</h3></div>
                                            <div class="panel-body"><span class="txt-color-yellow" ng-cloak>${{unit_cost|number:2}}</span></div>
                                        
                                            
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <div class="panel panel-red">
                                            <div class="panel-heading"><h3>Taxes</h3></div>
                                            <div class="panel-body"><span class="txt-color-red" ng-cloak>${{taxes|number:2}}</span></div>
                                        
                                            
                                        </div>
                                        
                                    </div>
                                </div>
                                

                            </div>
                            <!-- end s1 tab pane -->

                            

                        <!-- end content -->
                    </div>

                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->

        </article>
    
</div>
<div class="row">

    <div class="col-md-7 well">
    <div class="row">
    <div class="col-md-4 text-center">
        <h3>Sales Graph</h3>
            
        </div>
        <div class="col-md-4 text-center">
        <h3>Stock Level</h3>
            
        </div>
        <div class="col-md-4 text-center">
        <h3>Sales Total</h3>
            
        </div>
        
    </div>
        
        <hr />
        <div style="height:472px;overflow-x:hidden;overflow-y:auto">
        <div class="row " ng-repeat="locations in all_locations" ng-cloak style="border-bottom: 1px dashed;">
            <div ng-repeat="(location, value) in locations">
            
            
                <h2 style="margin-left:15px">{{location}}</h2>
            
            <div class="row" >

            <div class="col-md-4 sparks-info">
            <spark-line-chart data="{{value.graph}}"></spark-line-chart> 
                
            </div>
            <div class="col-md-4 text-center">
            <div class="col-md-6 col-md-offset-3">
            <div class="easy-pie-chart txt-color-orangeDark" data-percent="{{graph.percent_stock}}" data-pie-size="50" easy-pie-chart>
                                            <span class="percent percent-sign">{{graph.percent_stock}}</span>
                                        </div>
                
            </div>
            
                
            </div>
            <div class="col-md-4 text-center">
            <h3>$ {{value.order_total}}</h3>
                
            </div>
                
            </div>

                
            </div>
            
        </div>
            
        </div>
    
        
        
    </div>
    <div class="col-md-5">









        <article class="">
            <!-- new widget -->
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                    <h2>Top Ten Products </h2>

                    

                </header>

                <!-- widget div-->
                <div class="no-padding">
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">

                        test
                    </div>
                    <!-- end widget edit box -->

                    <div class="widget-body">
                        <!-- content -->
                        
                            
                            

                            <div class="" id="s1">
                                
                                <div class="padding-10 ">
                                    <div class="row">
                                       
                                        
                                            <div id="updating-pie-chart-products" style="height:300px; width:300px;" piechart ng-model='top_ten_products'>
                                            </div>
                                        
                                        
                                       
                                        
                                </div>

                            </div>
                            
                    </div>

                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->

        </article>


        
    


    
        
    </div>
</div>

{% endverbatim %}


</section>
{% endblock content %}

{% block extra_angular %}
    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/all_locationsctrl.js?v=1.2'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/directives/pie.js?v=1.2'></script>
    
{% endblock extra_angular %}

{% block extra_js %}
<script type="text/javascript" src="/static/js/plugin/flot/jquery.flot.cust.min.js?v=1.2"></script>
<script type="text/javascript" src="/static/js/plugin/flot/jquery.flot.resize.min.js?v=1.2"></script>
<script type="text/javascript" src="/static/js/plugin/flot/jquery.flot.tooltip.min.js?v=1.2"></script>
<script type="text/javascript" src="/static/js/plugin/flot/jquery.flot.pie.js?v=1.2"></script>

{% endblock extra_js %}