{% extends "dashboardui/base.html" %}

{% block datetime %}
    
{% endblock datetime %}

{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span> Reports > Cash Box</span></h1>
    </div>
    
</div>
    <section id='widget-grid' ng-controller="CashBoxCtr">
        
    <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Cash Box </h2>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="table-responsive"> 

                                        <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                               <th>Location</th>
                                               <th>Start Date</th>
                                               <th>Current Amount</th> 
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% verbatim %}
                                        <tr ng-cloak>
                                               <th>{{current_cashbox.location}}</th>
                                               <th>{{current_cashbox.start_date|date : 'MMM dd, yyyy  H:mm a'}}</th>
                                               <th>${{current_cashbox.amount}}</th> 
                                            </tr>
                                        {% endverbatim %}
                                        
                                            
                                        </tbody>
                                            
                                        </table>
                                        </div>
                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
        <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Cash Box History</h2>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="table-responsive"> 

                                        <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                               <th>Location</th>
                                               <th>Start Date</th>
                                               <th>End Date</th>
                                               <th>Amount</th>
                                               <th>Emptied At</th>
                                               <th>Emptied By</th> 
                                            </tr>
                                        </thead>
                                        <tbody>
                                        {% verbatim %}
                                        <tr ng-repeat="history in history_cashbox" ng-cloak>
                                               <td>{{history.location}}</td>
                                               <td>{{history.start_date|date : 'MMM dd, yyyy  H:mm a'}}</td>
                                               <td>{{history.end_date|date : 'MMM dd, yyyy  H:mm a'}}</td> 
                                               <td>{{history.amount}}</td>
                                               <td>{{history.emptied_at|date : 'MMM dd, yyyy  H:mm a'}}</td>
                                               <td>{{history.emptied_by}}</td>                     
                                        </tr>

                                        {% endverbatim %}
                                        
                                            
                                        </tbody>
                                            
                                        </table>
                                        </div>
                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>
{% endblock content %}

{% block extra_angular %}

    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/cashboxctrl.js'></script>
    
{% endblock extra_angular %}