{% extends "dashboardui/base.html" %}

{% block extra_css %}
    <style type="text/css">
   .btn-green {
border-color: #5cb85c;
color: #fff;
background-color: #5cb85c;
}
table td{
    font-size: 14px

}
hr {
margin-top: 3px;
margin-bottom: 3px;
border: 0;
border-top: 1px solid #9E9999;
}

legend {
display: block;
padding: 8px 0;
border-bottom: 1px dashed rgba(0,0,0,.2);

font-size: 16px;
font-weight: 300;
color: #222;
margin: 3px 0 3px;
}
h2 {
letter-spacing: -1px;
font-size: 22px;
margin: 5px 0; 
line-height: normal;
}

    </style>
{% endblock extra_css %}





{% block content %}
    <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span> Reports > Daily Financial Report</span></h1>
    </div>
    
</div>

<section id='widget-grid' ng-controller="DailyFinancialReport" >

{% verbatim %}
<div class="row">
<article class="col-md-12">
            <!-- new widget -->
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                    <h2>All Sales</h2>

                    
                </header>

                <!-- widget div-->
                <div class="no-padding">
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">

                        test
                    </div>
                    <!-- end widget edit box -->

                    <div class="widget-body">
                        <!-- content -->
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1" cg-busy="{promise:promise,message:'Please Wait',minDuration:300}">
                                
                                

                                <div class="show-stat-microcharts text-center">
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <div class="panel panel-primary">
                                            <div class="panel-heading"><h3>Total Sales</h3></div>
                                            <div class="panel-body"><span class="txt-color-blue" ng-cloak>${{order_total|number:2}}</span></div>
                                        
                                            
                                        </div>

                                        
                                        
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <div class="panel panel-green">
                                            <div class="panel-heading"><h3>Profits</h3></div>
                                            <div class="panel-body"><span class="txt-color-green" ng-cloak>${{profits|number:2}}</span></div>
                                        
                                            
                                        </div>
                                        
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <div class="panel panel-yellow">
                                            <div class="panel-heading"><h3>Cost Of Goods</h3></div>
                                            <div class="panel-body"><span class="txt-color-yellow" ng-cloak>${{unit_cost|number:2}}</span></div>
                                        
                                            
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                        <div class="panel panel-red">
                                            <div class="panel-heading"><h3>Taxes</h3></div>
                                            <div class="panel-body"><span class="txt-color-red" ng-cloak>${{taxes|number:2}}</span></div>
                                        
                                            
                                    </div>
                                        
                                    </div>
                                </div>
                                

                            </div>
                            <!-- end s1 tab pane -->

                            

                        <!-- end content -->
                    </div>

                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->

        </article>
    
</div>                                                          

<div class="row">


    <div class="col-md-12">









        <article class="">
            <!-- new widget -->
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                    <h2>Daily Financial Report </h2>

                    

                </header>

                <!-- widget div-->
                <div class="no-padding">
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">

                        test
                    </div>
                    <!-- end widget edit box -->

                    <div class="widget-body">
                        <!-- content -->
                        
                            
                            

                            <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1" >
                                   
                                       
                                        
                                            <div class="table-responsive">
                                                <table class="table table-bordered table-stripped" cg-busy="{promise:promise,message:'Please Wait',minDuration:300}">
                                                <thead>
                                                    <tr>
                                                        <th>
                                                            Date
                                                        </th>
                                                        <th>
                                                            sales Totals
                                                        </th>
                                                        <th>
                                                            Profits
                                                        </th>
                                                        <th>
                                                            Taxes
                                                        </th>
                                                        <th>
                                                            COGs
                                                        </th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    <tr ng-repeat="date in all_dates" ng-cloak>
                                                        <td>
                                                            {{date.date}}
                                                        </td>
                                                        <td>
                                                            {{date.total|number:2}}
                                                        </td>
                                                        <td>
                                                            {{date.profits|number:2}}
                                                        </td>
                                                        <td>
                                                            {{date.taxes|number:2}}
                                                        </td>
                                                        <td>
                                                            {{date.unit_cost|number:2}}
                                                        </td>
                                                    </tr>
                                                    
                                                    
                                                </tbody>
                                                    
                                                </table>
                                            </div>
                                        
                                       
                                        
                                </div>

                           
                            
                    </div>

                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->

        </article>


        
    


    
        
    </div>
</div>



{% endverbatim %}


</section>
{% endblock content %}

{% block extra_angular %}
    <script type="text/javascript" src='/static/dashboard_scripts/controllers/dailyfinancialreportctrl.js?v=1.2'></script>
    
    
{% endblock extra_angular %}

