{% extends "dashboardui/base.html" %}

{% block extra_css %}
    <style type="text/css">
   .btn-green {
border-color: #5cb85c;
color: #fff;
background-color: #5cb85c;
}
table td{
    font-size: 14px

}

    </style>
{% endblock extra_css %}



{% block content %}
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span> Reports > Financial Report</span></h1>
    </div>
    
</div>

<section id='widget-grid' ng-controller="FinancialReportCtrl" >
    
<div class="row">
        <article class="col-md-12">
            <!-- new widget -->
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                    <h2>Financial Report </h2>

                    

                </header>

                <!-- widget div-->
                <div class="no-padding">
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">

                        test
                    </div>
                    <!-- end widget edit box -->

                    <div class="widget-body">
                        <!-- content -->
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                <div class="row no-space">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        
                                        <div class="table-responsive">
      {% verbatim %}
                                            
                                           
                                                                                  
<table class="table table-bordered table-striped " ng-cloak>
    
    <tr>
        <th rowspan="4">Credit Cards</th>
        <th>Credit Sales Totals (w/tax included):</th>
        <th>$ {{ report.credit_sales_with_tax }}</th>
    </tr>
    <tr>
        <th>Credit Sales Totals (without tax included):</th>
        <th>$ {{ report.credit_sales_without_tax }}</th></tr>
        <tr>
            <th>No of items in the credit Transactions:</th>
            <th>{{ report.orderItemsCredit_count }}</th>
        </tr>
        <tr>
            <th>No of Credit Transactions:</th>
            <th>{{ report.credit_transactions }}</th>
        </tr>
        <tr>
            <th rowspan="4">Account</th>
            <th>Account Sales (w/tax included):</th>
            <th>$ {{ report.account_sales_with_tax }}</th></tr>
            <tr><th>Account (without tax included):</th>
            <th>$ {{ report.account_sales_without_tax }}</th>
        </tr>
        <tr>
            <th>No of items in the Account Transactions:</th>
            <th>{{ report.orderItemsAccount_count }}</th>
        </tr>
        <tr>
            <th>No of  Account Transactions:</th>
            <th>{{ report.account_transactions }}</th>
        </tr>
        <tr>
            <th>Total Sales (without tax included):</th>
            <th></th>
            <th>$ {{ report.total_sales_witout_tax }}</th>
        </tr>
        <tr><th>Total Sales (with tax included):</th> <th></th><th>$ {{ report.total_sales }}</th></tr>
    </table>
     {% endverbatim %}
                                        </div>
                                    </div>
                                    
                                </div>
                                

                            </div>

                        </div>

                        <!-- end content -->
                    </div>

                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->

        </article>


        


    </div>


</section>
{% endblock content %}

{% block extra_angular %}
    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/financial_report.js?v=1.2'></script>
    
{% endblock extra_angular %}

{% block extra_js %}



{% endblock extra_js %}