{% extends "dashboardui/base.html" %}

{% block extra_css %}
	<style type="text/css">
	.legendLabel{
		font-size: 14px
	}
	.legend table {
width: 200px;
}



	</style>
{% endblock extra_css %}

{% block content %}
	<div class="row">
	<div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
		<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span> My Dashboard</span></h1>
	</div>
	
</div>

<section id='widget-grid' ng-controller="HomeCtrl" >
	
<div class="row">








		<article class="col-md-12">
			<!-- new widget -->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
					<h2>Sales Graph </h2>

					<ul class="nav nav-tabs pull-right in" id="myTab">
						<li class="active">
							<a data-toggle="tab" href="#s1"><i class="fa fa-clock-o"></i> <span class="hidden-mobile hidden-tablet">Sales Graph</span></a>
						</li>

						<li>
							<a data-toggle="tab" href="#s2"><i class="fa fa-facebook"></i> <span class="hidden-mobile hidden-tablet">Top Ten Products</span></a>
						</li>

						
					</ul>

				</header>

				<!-- widget div-->
				<div class="no-padding">
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">

						test
					</div>
					<!-- end widget edit box -->

					<div class="widget-body">
						<!-- content -->
						<div id="myTabContent" class="tab-content">
							<div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
								<div class="row no-space">
									<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
										<span class="demo-liveupdate-1"> <span class="onoffswitch-title">Live switch</span> <span class="onoffswitch">
												<input type="checkbox" name="start_interval" class="onoffswitch-checkbox" id="start_interval">
												<label class="onoffswitch-label" for="start_interval"> 
													<span class="onoffswitch-inner" data-swchon-text="ON" data-swchoff-text="OFF"></span> 
													<span class="onoffswitch-switch"></span> </label> </span> </span>
										<div id="updating-chart" class="chart-large txt-color-blue" chart ng-model='data'></div>

									</div>
									
								</div>
								{% verbatim %}

								<div class="show-stat-microcharts text-center">
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
										<div class="panel panel-primary">
											<div class="panel-heading"><h3>Total Sales</h3></div>
											<div class="panel-body"><span class="txt-color-blue" ng-cloak>${{sales.order_total|number:2}}</span></div>
										
											
										</div>

										
										
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
										<div class="panel panel-green">
											<div class="panel-heading"><h3>Profits</h3></div>
											<div class="panel-body"><span class="txt-color-green" ng-cloak>${{sales.profits|number:2}}</span></div>
										
											
										</div>
										
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
										<div class="panel panel-yellow">
											<div class="panel-heading"><h3>Cost Of Goods</h3></div>
											<div class="panel-body"><span class="txt-color-yellow" ng-cloak>${{sales.unit_cost|number:2}}</span></div>
										
											
										</div>
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
										<div class="panel panel-red">
											<div class="panel-heading"><h3>Taxes</h3></div>
											<div class="panel-body"><span class="txt-color-red" ng-cloak>${{sales.taxes|number:2}}</span></div>
										
											
										</div>
										
									</div>
								</div>
								{% endverbatim %}

							</div>
							<!-- end s1 tab pane -->

							<div class="tab-pane fade" id="s2">
								
								<div class="padding-10 ">
									<div class="row">
										<div class="col-md-6">
										<h4 class="col-md-8 col-md-offset-2">Top Ten Products</h4>
											<div id="updating-pie-chart-products" style="height:300px; width:300px;" piechart ng-model='top_ten_products'>
											</div>
										
										
										</div>
										<div class="col-md-6">
										<h4 class="col-md-8 col-md-offset-2">Top Ten Categories</h4>

										<div id="updating-pie-chart-products" style="height:300px; width:300px;"  piechart ng-model='top_ten_categories'>
										</div>
										</div>
								</div>

							</div>
							<!-- end s2 tab pane -->

							
							<!-- end s3 tab pane -->
						</div>

						<!-- end content -->
					</div>

				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->

		</article>


		<article class="col-md-12">
			<!-- new widget -->
			<div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
				<!-- widget options:
				usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

				data-widget-colorbutton="false"
				data-widget-editbutton="false"
				data-widget-togglebutton="false"
				data-widget-deletebutton="false"
				data-widget-fullscreenbutton="false"
				data-widget-custombutton="false"
				data-widget-collapsed="true"
				data-widget-sortable="false"

				-->
				<header>
					<span class="widget-icon"> <i class="fa fa-table"></i> </span>
					<h2>Latest Orders </h2>

					

				</header>

				<!-- widget div-->
				<div class="no-padding">
					<!-- widget edit box -->
					<div class="jarviswidget-editbox">

						test
					</div>
					<!-- end widget edit box -->

					<div class="widget-body">
						<div class="panel panel-default ">
						<div class="panel-heading">
						Latest Orders

							
						</div>
							<div class="panel-body smaller_font">
							<div class="table-responsive">
						<table class="table table-bordered"> 
	                      <thead>
	                      <tr>
	                      	<th>Location</th>
	                      	<th>Order id</th>
	                      	<th>Status</th>
	                      	<th>Created</th>
	                      	<th>User</th>	
	                      	<th>Order Total</th>
	                      </tr>
	                      	
	                      </thead>
	                      {% verbatim %}
	                      <tbody>
	                      	<tr ng-repeat="order in latest_orders">
	                      	<td ng-cloak>{{order.location}}</td>
	                      	<td><a href="/dashboard/orders/order_detail/{{order.id}}" ng-cloak>{{order.id}}</a></td>
	                      	<td ng-cloak>{{order.status | status}}</td>
	                      	<td ng-cloak>{{order.created|date : 'MMM dd, yyyy  H:mm a'}}</td>
	                      	<td ng-cloak>{{order.user}}</td>	
	                      	<td ng-cloak>{{order.order_total}}</td>
	                      </tr>
	                      </tbody>
	                      {% endverbatim %}

						</table>
							
						</div>
								
							</div>
						</div>
						{% verbatim %}
						<div class="text-center " style="padding:10px">
						<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
										<div class="panel panel-red">
											<div class="panel-heading"><h3>CashBox</h3></div>
											<div class="panel-body"><span class="txt-color-red" ng-cloak>${{cashbox.amount}}</span></div>
										
											
										</div>
										
									</div>
									<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
										<div class="panel panel-green">
											<div class="panel-heading"><h3>User Balance</h3></div>
											<div class="panel-body"><span class="txt-color-green" ng-cloak>${{balances}}</span></div>
										
											
										</div>
										
									</div>
					</div>

						{% endverbatim %}

						

					
						
					</div>

				</div>
				<!-- end widget div -->
			</div>
			<!-- end widget -->

		</article>
	


	</div>


</section>
{% endblock content %}
{% block extra_angular %}
<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/home.js?v=1.3'></script>
  <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/cashboxctrl.js?v=1.3'></script>  
	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/orderlistctrl.js?v=1.3'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/directives/pie.js?v=1.3'></script>

  	
    {% endblock extra_angular %}

{% block extra_js %}
<script type="text/javascript" src="/static/js/plugin/flot/jquery.flot.cust.min.js?v=1.2"></script>
<script type="text/javascript" src="/static/js/plugin/flot/jquery.flot.resize.min.js?v=1.2"></script>
<script type="text/javascript" src="/static/js/plugin/flot/jquery.flot.tooltip.min.js?v=1.2"></script>
<script type="text/javascript" src="/static/js/plugin/flot/jquery.flot.pie.js?v=1.2"></script>

{% endblock extra_js %}