{% extends "dashboardui/base.html" %}

{% block extra_css %}
    <style type="text/css">
   .btn-green {
border-color: #5cb85c;
color: #fff;
background-color: #5cb85c;
}
table td{
    font-size: 14px

}

    </style>
{% endblock extra_css %}

{% block datetime %}
    
{% endblock datetime %}

{% block content %}
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span> Reports > Missing Scanned Barcode/Keytags</span></h1>
    </div>
    
</div>

<section id='widget-grid' ng-controller="ProductSoldCtrl" >
    
<div class="row">
        <article class="col-md-12">
            <!-- new widget -->
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                    <h2>Missing barcodes/keytags </h2>

                    

                </header>

                <!-- widget div-->
                <div class="no-padding">
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">

                        test
                    </div>
                    <!-- end widget edit box -->

                    <div class="widget-body">
                        <!-- content -->
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                <div class="row no-space">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="table-responsive">
                                        <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                        <th>Location</th>
                                            
                                            <th>Barcode/keytag</th>
                                            <th>Date Time</th>
                                        </tr>
                                            
                                        </thead>
                                        <tbody>
                                        {% for tag in missing %}
                                            
                                       
                                            
                                            <tr >
                                            <th>{{location_name}}</th>
                                                
                                                <td>{{tag.barcode}}</td>
                                                <td>{{tag.date}}</td>
                                            </tr>
                                             {% endfor %}
                                           
                                        </tbody>
                                            
                                        </table>
                                            
                                        </div>
                                    </div>
                                    
                                </div>
                                

                            </div>

                        </div>

                        <!-- end content -->
                    </div>

                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->

        </article>


        


    </div>


</section>
{% endblock content %}

{% block extra_angular %}
    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/products-sold.js'></script>
    
{% endblock extra_angular %}

{% block extra_js %}
<script type="text/javascript" src='{{ STATIC_URL }}jspdf.min.js'></script>
<script type="text/javascript" src="/static/js/plugin/flot/jquery.flot.cust.min.js"></script>
<script type="text/javascript" src="/static/js/plugin/flot/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="/static/js/plugin/flot/jquery.flot.tooltip.min.js"></script>


{% endblock extra_js %}