{% extends "dashboardui/base.html" %}

{% block extra_css %}
    <style type="text/css">
   .btn-green {
border-color: #5cb85c;
color: #fff;
background-color: #5cb85c;
}
table td{
    font-size: 14px

}

    </style>
{% endblock extra_css %}

{% block content %}
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span> Reports > Non Moving Stock</span></h1>
    </div>
    
</div>

<section id='widget-grid' ng-controller="NonMovingStockCtrl" >
    
<div class="row">
        <article class="col-md-12">
            <!-- new widget -->
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                    <h2>Non Moving Stock <span style="font-weight:bolder">( {{last_week}} To {{today}} )</span></h2>

                    <ul class="nav nav-tabs pull-right in" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#s1"><i class="fa fa-clock-o"></i> <span class="hidden-mobile hidden-tablet">Non Moving Stock </span></a>
                        </li>

                        

                        
                    </ul>

                </header>

                <!-- widget div-->
                <div class="no-padding">
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">

                        test
                    </div>
                    <!-- end widget edit box -->

                    <div class="widget-body">
                        <!-- content -->
                        <div id="myTabContent" class="tab-content">

                            <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                               <div class="widget-body-toolbar bg-color-white">

                                    <div class="row">
                                                <div class="col-md-9">
                                                   <form class="form-inline" role="form">

                                        <div class="form-group">
                                                <label class="" for="s123">Filter Number of products sold between</label>
                                            <input type="text" class="form-control input-sm" id="s123" placeholder="0" ng-model='from'>
                                        </div>
                                        <div class="form-group">
                                                <label class="" for="s123">And</label>

                                            <input type="text" class="form-control input-sm" id="s124" placeholder="100" ng-model="to">
                                        </div>

                                        

                                    </form>

                                                </div>
                                                <div class="col-md-3">
                                                    
                                                        <button class="btn btn-success btn-xs">Download Csv</button>
                                                        <button class="btn btn-success btn-xs">Download PDF</button>
                                                  
                                                   
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>

                                </div>
                                <div class="padding-10">
                                    <div class="table-responsive">
                                        <table class="table table-bordered">
                                        <thead>
                                        <tr>
                                        <th>Location</th>
                                            <th>Product Name</th>
                                            <th>Barcode</th>
                                            <th>Number Of Product Sold</th>
                                        </tr>
                                            
                                        </thead>
                                        <tbody>
                                            {% verbatim %}
                                            <tr ng-repeat="product in products_sold | filter:greaterThan('amount', from) | filter:lessThan('amount', to) " ng-cloak>
                                            <th>{{product.location}}</th>
                                                <td>{{product.name}}</td>
                                                <td>{{product.barcode}}</td>
                                                <td>{{product.amount}}</td>
                                            </tr>
                                            {% endverbatim %}
                                        </tbody>
                                            
                                        </table>
                                            
                                        </div>
                                </div>
                                

                            </div>
                            <!-- end s1 tab pane -->


                            
                        </div>

                        <!-- end content -->
                    </div>

                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->

        </article>


        


    </div>


</section>
{% endblock content %}

{% block extra_angular %}
    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/nonmovingstock.js?v=1.2'></script>
    
{% endblock extra_angular %}

{% block extra_js %}
<script type="text/javascript" src="/static/js/plugin/flot/jquery.flot.cust.min.js?v=1.2"></script>
<script type="text/javascript" src="/static/js/plugin/flot/jquery.flot.resize.min.js?v=1.2"></script>
<script type="text/javascript" src="/static/js/plugin/flot/jquery.flot.tooltip.min.js?v=1.2"></script>


{% endblock extra_js %}