{% extends "dashboardui/base.html" %}

{% block extra_css %}
    <style type="text/css">
   .btn-green {
border-color: #5cb85c;
color: #fff;
background-color: #5cb85c;
}
table td{
    font-size: 14px

}

    </style>
{% endblock extra_css %}

{% block content %}
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span> Reports > Products Sold</span></h1>
    </div>
    
</div>

<section id='widget-grid' ng-controller="ProductSoldCtrl" >
    
<div class="row">
        <article class="col-md-12">
            <!-- new widget -->
            <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                <!-- widget options:
                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">

                data-widget-colorbutton="false"
                data-widget-editbutton="false"
                data-widget-togglebutton="false"
                data-widget-deletebutton="false"
                data-widget-fullscreenbutton="false"
                data-widget-custombutton="false"
                data-widget-collapsed="true"
                data-widget-sortable="false"

                -->
                <header>
                    <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                    <h2>Products Sold </h2>

                    <ul class="nav nav-tabs pull-right in" id="myTab">
                        <li class="active">
                            <a data-toggle="tab" href="#s1"><i class="fa fa-clock-o"></i> <span class="hidden-mobile hidden-tablet">Products Sold</span></a>
                        </li>

                        <li>
                            <a data-toggle="tab" href="#s2"><i class="fa fa-clock-o"></i> <span class="hidden-mobile hidden-tablet">Products Sold By Day</span></a>
                        </li>
                         <li>
                            <a data-toggle="tab" href="#s3"><i class="fa fa-clock-o"></i> <span class="hidden-mobile hidden-tablet">Products Sold per Hour</span></a>
                        </li>

                        
                    </ul>

                </header>

                <!-- widget div-->
                <div class="no-padding">
                    <!-- widget edit box -->
                    <div class="jarviswidget-editbox">

                        test
                    </div>
                    <!-- end widget edit box -->

                    <div class="widget-body">
                        <!-- content -->
                        <div id="myTabContent" class="tab-content">
                            <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                <div class="row no-space">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="panel panel-default" >
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h4>Products Sold Between <span>{{last_week}}</span> and <span>{{today}}</span></h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-6 col-md-offset-6">
                                                        <button class="btn btn-success btn-xs" ng-csv="export_csv_products_sold()" filename="products_sold_{{last_week}}_{{today}}.csv" csv-header='csv_headersproducts_sold' lazy-load='true'>Download Csv</button>
                                                        <button class="btn btn-success btn-xs" ng-click="download_pdf_products_sold()">Download PDF</button>
                                                    </div>
                                                   
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="panel-body" cg-busy="{promise:products_sold_promise,message:'Please Wait',minDuration:900}">

                                        <div class="table-responsive">
                                        <table class="table table-bordered" >
                                        <thead>
                                        <tr>
                                        <th>Location</th>
                                            <th>Product Name</th>
                                            <th>Barcode</th>
                                            <th>Number Of Product Sold</th>
                                        </tr>
                                            
                                        </thead>
                                        <tbody>
                                            {% verbatim %}
                                            <tr ng-repeat="product in products_sold" ng-cloak>
                                            <th>{{product.location}}</th>
                                                <td>{{product.name}}</td>
                                                <td>{{product.barcode}}</td>
                                                <td>{{product.amount}}</td>
                                            </tr>
                                            {% endverbatim %}
                                        </tbody>
                                            
                                        </table>
                                            
                                        </div>
                                            
                                        </div>
                                            
                                        </div>
                                        {# <div id="updating-chart" class="chart-large txt-color-blue" chart ng-model='data'></div> #}

                                    </div>
                                    
                                </div>
                                

                            </div>
                            <!-- end s1 tab pane -->

                            <div class="tab-pane fade in padding-10 no-padding-bottom" id="s2">
                                <div class="row no-space">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="panel panel-default" >
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h4>Products Sold PerDay <span>{{last_week}}</span> and <span>{{today}}</span></h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-6 col-md-offset-6">
                                                        <button class="btn btn-success btn-xs">Download Csv</button>
                                                        <button class="btn btn-success btn-xs">Download PDF</button>
                                                    </div>
                                                   
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="panel-body" cg-busy="{promise:products_sold_per_day,message:'Please Wait',minDuration:900}">
                                            <div id="flotcontainer" class="chart-large has-legend-unique txt-color-blue" barchart ng-model='data'></div>
                                        </div>
                                            
                                        </div>
                                        {# <div id="updating-chart" class="chart-large txt-color-blue" chart ng-model='data'></div> #}

                                    </div>
                                    
                                </div>
                                

                            </div>
                            <!-- end s2 tab pane -->

                            <div class="tab-pane fade in padding-10 no-padding-bottom" id="s3">
                                <div class="row no-space">
                                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="panel panel-default" >
                                        <div class="panel-heading">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <h4>Products Sold per Hour Between <span>{{last_week}}</span> and <span>{{today}}</span></h4>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="col-md-6 col-md-offset-6">
                                                        <!--<button class="btn btn-success btn-xs">Download Csv</button>
                                                        <button class="btn btn-success btn-xs">Download PDF</button>-->
                                                    </div>
                                                   
                                                    
                                                </div>
                                                
                                            </div>
                                        </div>
                                        <div class="panel-body" cg-busy="{promise:products_sold_per_hour,message:'Please Wait',minDuration:900}">
                                        <legend class="text-center">Amount in $ of product bought each hour for date:</legend>
                                            <div id="flotcontainer" class="chart-large has-legend-unique txt-color-blue" bar-chart-amounts ng-model='amount_per_hour'></div>

                                            <legend class="text-center">Number of product bought against hour for date::</legend>
                                            <div id="flotcontainer" class="chart-large has-legend-unique txt-color-blue" bar-chart-quantity ng-model='quantity_per_hour'></div>
                                        </div>
                                            
                                        </div>
                                        {# <div id="updating-chart" class="chart-large txt-color-blue" chart ng-model='data'></div> #}

                                    </div>
                                    
                                </div>
                                

                            </div>
                            <!-- end s3 tab pane -->
                        </div>

                        <!-- end content -->
                    </div>

                </div>
                <!-- end widget div -->
            </div>
            <!-- end widget -->

        </article>


        


    </div>


</section>
{% endblock content %}

{% block extra_angular %}
    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/products-sold.js?v=1.3'></script>
    
{% endblock extra_angular %}

{% block extra_js %}
<script type="text/javascript" src='{{ STATIC_URL }}jspdf.min.js'></script>
<script type="text/javascript" src="/static/js/plugin/flot/jquery.flot.cust.min.js"></script>
<script type="text/javascript" src="/static/js/plugin/flot/jquery.flot.resize.min.js"></script>
<script type="text/javascript" src="/static/js/plugin/flot/jquery.flot.tooltip.min.js"></script>


{% endblock extra_js %}