{% extends "dashboardui/base.html" %}
{% block extra_css %}
    <style type="text/css">
    .grid {
  width: 100%;
  height: 725px;
}</style>
{% endblock extra_css %}



{% block content %}
<div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Dashboard <span> Reports > Product Profitability</span></h1>
    </div>
    
</div>
    <section id='widget-grid' ng-controller="ProductProfitability">
        
    
        <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="fa fa-table"></i> </span>
                        <h2>Product Profitability</h2>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" cg-busy="{promise:promise,message:'Please Wait',minDuration:100}">

                                            
                                           <div class="grid" ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNa  external-scopes="$scope"  >
        </div>
        
          
                                        </div>                           
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>
{% endblock content %}

{% block extra_angular %}

    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/product_profitability.js?v=1.3'></script>
    
{% endblock extra_angular %}