<head>
<meta http-equiv="refresh" content="5" />
</head>
<body>

<h1>Server Error.Reloading in 5 seconds</h2>
<div id="CDTimer"></div>

<script language="JavaScript" type="text/javascript">
/*<![CDATA[*/
var TimerVal = 5;
var TimerSPan = document.getElementById("CDTimer");
function CountDown(){
   setTimeout( "CountDown()", 1000 );
   TimerSPan.innerHTML=TimerVal;
   TimerVal=TimerVal-1;
   if (TimerVal<0) { TimerVal=0;
//   location.reload(true); 
   } //improvement by vivalibre, tq 
}
CountDown();
/*]]>*/ </script>

</body>
