{% extends "kioskui/base.html" %}
{% load i18n %}
{% block extra_css %}
    <style>
   
    </style>
{% endblock %}

{% block bodyclass %}
    whiteBg
{% endblock bodyclass %}

{% block topnav %}
    
{% endblock topnav %}

{# the keycode is captured by the scancontroller  #}

{% block content %}
        <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
            <h1>Please Scan Your Keytag or your fingerprint To Access Your Account</h1>
        </div>
        <div class="col-md-8 col-md-offset-2 text-center">
            <img style="max-height: 85%;" src="{{ STATIC_URL }}cart-images/scan_keytag.png" >
        </div>
        <div class="col-md-4 col-md-offset-8">
            <a   class="btn btn-kiosk-green btn-large" href="/cart/" >{% trans "Start Shopping"  %}</a>
        </div>
            
        </div>
    
    
    
    
 
    
{% endblock content %}