{% load i18n %}
<div id="django_cups_tab">
	<ul>
		<li><a href="{% url 'django_cups.views.getFavouriteslist' %}"><span>Favourites</span></a></li>
		<li><a href="{% url 'django_cups.views.getPrinterslist' %}"><span>Printers</span></a></li>
	</ul>
	
</div>
<a href="{% url 'django_cups.views.refreshPrinterslist' %}" class="printerreload">Refresh the list of printers</a>
<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/django_cups.js"></script>
<script type="text/javascript">
	django_cups.print_form.init_form();
</script>
