<script type="text/javascript">
var DJANGO_CUPS_PRINTFORM_URL = '{% url 'django_cups.views.displayPrintForm' %}';	
</script>
<script type="text/javascript" src="{{ STATIC_URL }}js/django_cups.js"></script>