{% extends "kioskui/base.html" %}
{% load i18n %}
{% block extra_css %}
    <link href="css/plugins/dataTables.bootstrap.css" rel="stylesheet">
    <style type="text/css">
    .error-box {
max-width: 900px;
margin: 0 auto;
}
.animated.tada {
-webkit-animation-name: tada;
-moz-animation-name: tada;
-o-animation-name: tada;
animation-name: tada;
}
.error-text {
font-weight: 400;
color: #fff;
letter-spacing: -4px;
font-size: 700%;
margin-bottom: 30px;
text-shadow: 0 1px 0 #ccc,0 2px 0 #bfbfbf,0 3px 0 #bbb,0 4px 0 #b9b9b9,0 5px 0 #aaa,0 6px 1px rgba(0,0,0,.1),0 0 5px rgba(0,0,0,.1),0 1px 3px rgba(0,0,0,.3),0 3px 5px rgba(0,0,0,.2),0 5px 10px rgba(0,0,0,.25),0 10px 10px rgba(0,0,0,.2),0 20px 20px rgba(0,0,0,.15);
}
.animated {
-webkit-animation-duration: 1s;
-moz-animation-duration: 1s;
-o-animation-duration: 1s;
animation-duration: 1s;
-webkit-animation-fill-mode: both;
-moz-animation-fill-mode: both;
-o-animation-fill-mode: both;
animation-fill-mode: both;
}

    </style>
{% endblock extra_css %}
{% block topnav %}
    
{% endblock topnav %}
{% block ng %}
ng-controller='ErrorsCtr'
    
{% endblock ng %}
{% block bodyclass %}whiteBg page-general{% endblock bodyclass %}
{% block content %}

    <div class="row">
  
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
  
      <div class="row">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
          <div class="text-center error-box container main-content">
            <h1 class="error-text tada animated"><img src="{{STATIC_URL}}cart-images/payment_denied.png"> Error</h1>
            <h2 class="font-xl"><strong>Oooops, Something went wrong!</strong></h2>
            <br />
            <p class="lead semi-bold">
              <strong>You have experienced a technical error. We apologize.</strong><br><br>
              <div class="row">
              <div class="col-md-6">
              <a class="btn btn-kiosk-green btn-large" onclick="history.go(-1)">Go Back</a>
                
              </div>
              <div class="col-md-6">
              <a href="{% url 'logout' %}" class="btn btn-kiosk-danger btn-large">Logout</a>
                
              </div>
                
                
              </div>
              <div class="alert alert-danger">Auto Logout in {% verbatim %}{{counter}} seconds ... {% endverbatim %}
              </div>
            </p>
            
          </div>
  
        </div>
  
      </div>
  
    </div>
    
  </div>
{% endblock content %}

{% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}scripts/controllers/errors.js"></script>
    
{% endblock extra_js %}