{% extends "kioskui/base.html" %}
{% block extra_css %}
    <style type="text/css">
    .margin-down-15{
        margin-bottom: 15px
    }
    </style>

{% endblock extra_css %}

{% block leftcol %}
    
{% endblock leftcol %}
{% block rightcol %}
    
{% endblock rightcol %}


{% block content %}
<div class="container" ng-controller="DebitCtr" ng-init='init({{amount}}, "{{is_online}}")'>


    <div class="row" ng-show='!error'>
        <div class="col-md-12">
            <div class="product col-md-12 text-center">

<h1>Please Follow Instructions On the PinPad</h1>

{% verbatim %}
<h3>${{amount}} Will Be Added To Your Account</h3>
<h4 ng-show="pinpadinit">Initializing PinPad</h4>
<h3>Please Don't Cancel this page</h3>
<h3 class="text-danger">REMOVE CARD WHEN PINPAD SAYS APPROVED</h3>
{% endverbatim %}


            <div class="row" style="margin-top:30px">

            <img src="/static/cart-images/Creditcard Image.png">
                
            </div>


             <div class="bottom_holder">
                 <a href="" class="btn btn-kiosk-danger btn-large">Go Back</a>
             </div>
                
            </div>

           
            
            

        </div>
    </div>
    <div class="row" ng-show='error=="success"'>
    
        <div class="col-md-12">
            <div class="product col-md-12 text-center">

            
    <h1>Transaction Was Approved</h1>
    <div class="col-md-3">
        <img src="/static/cart-images/payment_approved.jpg">
    </div>
    <div class="col-md-9">
        

{% verbatim %}
<div class="alert alert-{{response_status}}"><h4>${{amount}} was added to your account - Your Balance : {{balance}}</h4></div>
<div class="row" style="margin-top:100px">
    <div class="col-md-6"><a href="/cart" class="btn btn-kiosk-green btn-large " style="line-height: 45px">Start Shopping</a></div>
    <div class="col-md-6"><a href="/user_account" class="btn btn-kiosk-info btn-large " style="line-height: 45px">My Account</a></div>

</div>

{% endverbatim %}
    </div>




            


             <div class="bottom_holder">
                 <!-- <a href="history.go(-1)" class="btn btn-kiosk-danger btn-large">Go Back</a> -->
             </div>
                
            </div>

           
            
            

        </div>
    </div>


    <div class="row" ng-show='error==true'>
    
        <div class="col-md-12">
            <div class="product col-md-12 text-center">

            
    <h1>Transaction Not Approved</h1>
    <div class="col-md-3">
        <img src="/static/cart-images/payment_denied.png">
    </div>
    <div class="col-md-9">
        

{% verbatim %}
<div class="alert alert-{{response_status}}"><h4>{{msg}}</h4></div>
<div class="row" style="margin-top:100px">
    <div class="col-md-4"><button class="btn btn-kiosk-green btn-large " style="line-height: 45px" ng-click="tryagain()">Try Again</button></div>
    <div class="col-md-4"><a href="/insert_bills/" class="btn btn-kiosk-info btn-large " style="line-height: 45px">Add Cash</a></div>
    <div class="col-md-4"><a href="/user_account" class="btn btn-kiosk-info btn-large " style="line-height: 45px">My Account</a></div>

</div>

{% endverbatim %}
    </div>




            


             <div class="bottom_holder">
                 <a href="#" class="btn btn-kiosk-danger btn-large" onclick="history.go(-1)">Go Back</a>
             </div>
                
            </div>

           
            
            

        </div>
    </div>
</div>
    {% endblock content %}