<!DOCTYPE html>
<html lang="en" ng-app="kioskui">
<head>
    <meta charset="utf-8">
    <title>Canada Micro Markets - {% block title %}
        
    {% endblock title %}</title>

     <meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">
<link href="{{ STATIC_URL }}css/kiosk.css" rel="stylesheet" media="screen">   

<link href="{{ STATIC_URL }}css/kiosk-green.css" rel="stylesheet" media="screen">

<link href="{{ STATIC_URL }}css/rateit.css" rel="stylesheet" media="screen">               
<link href="{{ STATIC_URL }}css/magnific-popup.css" rel="stylesheet">       
<script src="{{ STATIC_URL }}js/respond.min.js"></script>
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="{{ STATIC_URL }}css/keyboard.css?v=1.2" rel="stylesheet">     
<link href="{{ STATIC_URL }}css/toaster.css" rel="stylesheet">    



{% block extra_css %}
    
{% endblock extra_css %}
<style type="text/css">
    .timer {
border: 10px solid #b9b9b9;
color: #000;
line-height: 30px;
font-size: 35px;
font-weight: bold;
background-color: #fff;
border-radius: 15px;
/* -webkit-box-shadow: 1px 1px 1em -1em rgb(9, 8, 8), inset 1px 1px 3em -1em rgb(9, 8, 8); */
}
.danger{
    color:red;
}
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
      display: none !important;
    }

.alert {
margin-bottom: 20px;
margin-top: 0;
color: #675100;
border-width: 0;
border-left-width: 5px;
padding: 10px;
border-radius: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
} 
.alert-danger {
color: #a94442;
background-color: #f2dede;
border-color: #E77C85;
} 
  
  .modal-lg {
width: 1300px!important;
}

#feedback { 
  height: 104px; 
  width: 104px; 
  position: fixed; 
  top: 40%; 
  z-index: 999;
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg); 
  -moz-transform: rotate(-90deg); 
  -o-transform: rotate(-90deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.feedback_btn{
     padding: 8px 16px;
  color: #fff; 
  font-family: Arial, sans-serif; 
  font-size: 17px; 
  font-weight: bolder; 
  text-transform: uppercase;
  border-radius: 0!important
}
</style>



</head>

<body class="{% block bodyclass %}greyBG{% endblock bodyclass %}" {% block ng %} ng-controller='ScanCtr' ng-keypress='keypressFun($event)'{% endblock ng %} ng-init="init({{cart_quantity}})" >
<toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>

<div ng-controller="FeedbackCtrl"> 
<div id="feedback">
    <button ng-click="feedback() " class="btn btn-kiosk-danger feedback_btn" >Feedback</button>
</div>
</div>



{# block that house the top nav #}
{% block topnav %}
<div class="container">
<div class="row text-center">
    <div class="col-md-3">
        {% block leftcol %}
        <a href="{% url 'user_account' %}" class="btn btn-kiosk-green btn-large"> My Account</a>
    {% endblock leftcol %}
    </div>
    <div class="col-md-3">
        {% block centercol %}
        <div class="col-md-12">
          <h3 style="margin:0; color:#000" id="welcome">Welcome {{user.get_name}}  </h3>
        </div>
        <div>
            
        <h3 style="margin:0; color:#000" id="balance">Balance : ${{user.balance}}</h3>
        </div>
        
    {% endblock centercol %}
    </div>
    <div class="col-md-3">
        {% block timer %}
        <div class="col-md-12 timer" ng-class="timerClass" ng-cloak >
         {% verbatim %} 
0:{{counter|timer}}
         {% endverbatim %} 
        </div>
        
        
    {% endblock timer %}
    </div>
    <div class="col-md-3" ng-controller="LogoutCtrl" ng-init='logoutInit({{cart_quantity}})'>

        {% block rightcol %}
        <button ng-click="logout()" class="btn btn-kiosk-danger btn-large"> Cancel</button>
    {% endblock rightcol %}
    </div>
    
</div>
    
</div>
    
{% endblock topnav %}

{% block homecontent %}
    
{% endblock homecontent %}

{% block content %}
    
    
{% endblock content %}

<script type="text/ng-template" id="logoutModal.html">
        <div class="modal-header">
            <h3 class="modal-title" style="color:red">You Have {%verbatim%}{{items}}{%endverbatim%} Unpaid Items On The Cart!</h3>
        </div>
        <div class="modal-body">
        {%verbatim%}
        <h4>Please Press Here When the Items Have been returned</h4>
        
        <button class="btn btn-kiosk-green btn-large" ng-disabled='returned' ng-click="cart_delete()">Items Returned</button>

     
        {%endverbatim%}
            
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-kiosk-danger btn-large" ng-click="returnitems()" style="margin-bottom:0">Return Items</button>
            <button class="btn btn-kiosk-green btn-large" ng-click="ok()">PayNow</button>
            
        </div>
    </script>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" style="color:red">You Have Unpaid Items!</h3>
        </div>
        <div class="modal-body">
        {%verbatim%}
        <h4>Products</h4>
     <ul>
                <li ng-repeat="item in items" style="font-size:17px">
                   {{item.name}} {{ item.quantity }}
                </li>
            </ul>
        {%endverbatim%}
            
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">PayNow</button>
            <button class="btn btn-kiosk-danger" ng-click="cancel()">Logout</button>
        </div>
    </script>

    <script type="text/ng-template" id="logout.html">
        <div class="modal-header">
            <h3 class="modal-title" style="color:red">Order Cancelled!</h3>
        </div>
        <div class="modal-body">
        {%verbatim%}
        <h4>The order has been cancelled, Please Return the items or start a new session</h4>
        
        
        {%endverbatim%}
            
            
        </div>
        
    </script>

    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" style="color:red">You Have Unpaid Items!</h3>
        </div>
        <div class="modal-body">
        {%verbatim%}
        <h4>Products</h4>
     <ul>
                <li ng-repeat="item in items" style="font-size:17px">
                   {{item.name}} {{ item.quantity }}
                </li>
            </ul>
        {%endverbatim%}
            
            
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">PayNow</button>
            <button class="btn btn-kiosk-danger" ng-click="cancel()">Logout</button>
        </div>
    </script>


    <script type="text/ng-template" id="feedback.html">
            <div class="modal-header">
                <h3 class="modal-title">Feedback and Suggestions</h3>
                <p class="text-muted">We highly appreciate any feedback and suggestions</p>
            </div>
            
            <div class="modal-body">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
            <div class="content inner">
                            <form   id="contact-form" class="form">
                            <legend class="text-center">Touch On the Input to get a keyboard</legend>
                                <div class="form-group">        
                                    <label class="control-label" for="message">Message </label>
                                    <textarea id="message" name="cf-message" cols="45" rows="8" class="form-control" ng-model='feedback.text' data-ng-keypad-input="numeric" tabindex="1" ng-click="selected('text')"></textarea>
                                </div>
                                <div class="form-group">        
                                    <label class="control-label" for="author">Name</label>                          
                                    <input id="author" name="cf-author" type="text" value="" size="30" class="form-control" ng-model='feedback.name' data-ng-keypad-input="numeric" tabindex="2" ng-click="selected('name')">
                                </div>

                               
                            </form>
                        </div> 
                
            </div>
            </div>
            
                
                    
                
            </div>
    
          
            <div class="modal-footer">  
            <button class="btn btn-kiosk-green" ng-click="ok()">Send message</button>                                                                                      
                
                <button class="btn btn-kiosk-danger" ng-click="cancel()">Cancel</button>                                                                                                                                         
            </div>
            
            <div data-ng-keypad="numeric" data-auto-close="true" data-ng-draggable class="numpad col-md-12" style="position: absolute;
left: 117px !important;
top: 406px!important;">
        <div ng-include="" src="'/static/scripts/views/feedback_keyboard.html?v=1.7'"></div>
            
    </div>
            
    </script>





    
    
<script src="{{STATIC_URL}}js/libs/jquery-2.0.2.min.js"></script>  
<script src="{{ STATIC_URL }}js/modernizr.min.js"></script> 
<script src="{{ STATIC_URL }}js/imagesloaded.min.js"></script>  
<script src="{{ STATIC_URL }}js/jquery.masonry.min.js"></script>    
<script src="{{ STATIC_URL }}js/jquery.rateit.min.js"></script>     
<script src="{{ STATIC_URL }}js/jquery.magnific-popup.min.js"></script>             
<script src="{{ STATIC_URL }}js/bootstrap.js"></script>
<script src="{{ STATIC_URL }}js/kiosk.js"></script>  


  {# angularjs scripts #}

<script type="text/javascript" src='{{ STATIC_URL }}angular/angular.min.js'></script>
<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-resource.min.js'></script>
<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-route.min.js'></script>
<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-sanitize.min.js'></script>
<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-touch.min.js'></script>

<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-cookies.min.js'></script>

<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-animate.min.js'></script>
<script type="text/javascript" src='{{ STATIC_URL }}angular/ui-bootstrap-tpls-0.11.2.min.js'></script>


<script type="text/javascript" src="{{ STATIC_URL }}scripts/app.js "></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/controllers/cart.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/controllers/scanctr.js"></script>
 <script type="text/javascript" src="{{ STATIC_URL }}scripts/services/transform.js"></script> 
 <script type="text/javascript" src="{{ STATIC_URL }}scripts/services/models.js"></script>  
 <script type="text/javascript" src="{{ STATIC_URL }}scripts/services/debitfactory.js"></script> 
<script type="text/javascript" src="{{ STATIC_URL }}scripts/controllers/checkout.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/controllers/autocheckout.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/controllers/autocheckoutpayroll.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}scripts/controllers/user_account.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/controllers/keyboard.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/controllers/addmoneydebitcard.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/controllers/cashcontroller.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/controllers/pay_by_debit.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/controllers/scroll.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/controllers/key_in_code.js?v=1.2"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/controllers/registeruser.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/controllers/logoutcontroller.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/controllers/thankyou.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/controllers/emailctrl.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}scripts/controllers/feedback.js?v=1.234566767"></script>


<script type="text/javascript" src="{{ STATIC_URL }}scripts/directives/ngDraggable/ngDraggable.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/directives/ngKeypad/ngKey.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/directives/ngKeypad/ngKeypad.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}scripts/directives/ngKeypad/ngKeypadInput.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}scripts/filters/timer.js"></script>
<script type="text/javascript" src="/static/scripts/directives/currenttime.js"></script>
<script src="{{ STATIC_URL }}js/toaster.js"></script>  


<script type="text/javascript">
    function camelToDash(str) {
  // converts resource urls to format required by api
  return str.replace(/([a-z\d])([A-Z])/g, '$1_$2').toLowerCase();
}
</script>


    {% block extra_js %}
    
{% endblock extra_js %}

</body>
</html>