{% extends "kioskui/base.html" %}
{% load i18n %}
{% load url from future %}
{% block extra_css %}


{% endblock extra_css %}


{% block content %}

    
    <div class="container" ng-controller="CartCtr">
    {# will be our cart space #}
        <div class="col-md-7">

            <div class="product col-md-12 left-cart-content">
            <div class="col-md-11"> 
              {# will hold the actual products #}
              <div class='col-md-12 text-center order-header'>
              {# order header #}
              <h3>Your Order</h3>
                
              </div>
              <div class='col-md-12' style="height:560px">
              {# will hold the name of the products #}
              
              

         <form id="cart_update" method="post" action="{% url 'cart_update' %}" style="margin-top:15px" ng-controller='CartCtr'>
                    {% csrf_token %}
                    {{ formset.management_form }}
                    {% for form in formset %}
                        {{ form.id }}
                    {% endfor %}

                    {% for form in formset %}
                    
                        {% with form.quantity as field %}
                     <div class="row" style="margin-bottom:15px">
                                <div  class="col-md-2 no-padding">
                                    <span class="btn btn-kiosk-danger"  ng-click="delete_product('{% url 'cart_item_delete' form.instance.pk %}')"><i class="fa icon-remove-sign"></i>Remove</span>
                                       
                                    
                                    <span style="display: none" id="{{ form.instance.product.id }}" >{{ field }}</span>
                                </div>

                                <div class="col-md-8" style="" >
                                    
                                    <div class='col-md-10 no-padding'  style=" word-wrap: break-word; font-size: 20px; "> {{ form.instance.product.get_name }}</div>
                                    <div class="col-md-2 no-padding"><span class="badge badge-info" style="font-size: 20px; ">{{ form.instance.quantity }}X</span></div>


{% comment %}
{% for extra_price_field in form.instance.extra_price_fields %}


                                    - ({{ extra_price_field.0 }}
                                    {{ extra_price_field.1 }})

                                {% endfor %}
{% endcomment %}


                                </div>


                                <div class="col-md-2 no-padding" style="font-size: 20px; ">
                                    $ {{ form.instance.line_total }}


                                </div>
                            </div>
                        {% endwith %}
                    {% endfor %}

                    <input style="display: none;" type="submit" value="{% trans "Update Shopping Cart" %}"/>
                </form>

              </div>
              <div class="col-md-6 col-md-offset-6" style="font-size:20px">

            {% if cart_quantity > 0 %}
                        <div class="row">
                            <div class="col-md-6">Sub Total</div>
                        <div class="col-md-6">${{cart.subtotal_price}}</div>
                        </div>
                        
                        {% for extra_price_field in cart.extra_price_fields %}
                        <div class="row">
                           
                                <div class="col-md-6">{{ extra_price_field.0 }}</div>
                                <div class="col-md-6">${{ extra_price_field.1 }}</div>

                        
                        </div>
                        {% endfor %} 
                        <div>
                            <hr style="margin:5px">
                        </div>
                        <div class="row">
                            <div class="col-md-6">{% trans "Total" %}</div>
                        <div class="col-md-6" id='carttotal'>
                        ${{cart.total_price}}
                        </div>
                        

                            
                        </div>
                    {% else %}
                    <div class="row">
                            <div class="col-md-6">Sub Total</div>
                        <div class="col-md-6">$0.00</div>
                        </div>
                        
                        {% for extra_price_field in cart.extra_price_fields %}
                        <div class="row">
                           
                                <div class="col-md-6">{{ extra_price_field.0 }}</div>
                                <div class="col-md-6">$0.00</div>

                        
                        </div>
                        {% endfor %} 
                        <div>
                            <hr style="margin:5px">
                        </div>
                        <div class="row">
                            <div class="col-md-6">{% trans "Total" %}</div>
                        <div class="col-md-6" id='carttotal'>
                        $0.00
                        </div>
                        

                            
                        </div>



                    {% endif %}

                
            </div>
              

                
            </div>
               <div class="col-md-1 scroll">
               {# the scroll div #}
                   
               </div>
                
            </div>

            
        </div>

        <div class="col-md-5">
            <div class="product col-md-12 no-padding">
            <div class="scan-image-div">
            <div>
                <img src="{{STATIC_URL}}cart-images/scan_image.png">
                <div class="col-md-12 text-center" style='font-size:17px; font-weight:bolder'>
                    Scan Products Barcode Then Scan Your Keytag To Complete The Transaction or Hit Pay Now for Other Payment Options
                </div>
                <div class="row" style="margin:10px">
                    <div class="col-md-6">
                        <a href="{% url "product_no_barcodes" %}" class=""><div class='select_item'><img src="/static/cart-images/select_item.jpg"></div></a>
                    </div>
                    <div class="col-md-6">
                        <a href="{% url 'key_in_code' %}" class=""><div class='select_item'><img src="/static/cart-images/keyincode.jpg"></div></a>
                    </div>
                </div>
            </div>
                
            </div>
            <div class="checkout">
            {% if user.is_authenticated %}
            <a href="/auto_checkout/" class="" ><div class="paynow">
                <img src="/static/cart-images/pay_now.jpg" id="id_paynow">
                    
                </div></a>

            {% else %}
                
                <a href="/checkout/" class="" ><div class="paynow">
                <img src="/static/cart-images/pay_now.jpg" id="id_paynow">
                    
                </div></a>
                
            {% endif %}
            
                
            </div>


               
                
            </div>
        </div>

    </div>


    


{% endblock content %}