{% extends "kioskui/base.html" %}
{% load i18n %}
{% block extra_css %}
    <link href="css/plugins/dataTables.bootstrap.css" rel="stylesheet">
    <style type="text/css">

    </style>
{% endblock extra_css %}
{% block topnav %}
    
{% endblock topnav %}
{% block ng %}
    
{% endblock ng %}
{% block bodyclass %}whiteBg page-general{% endblock bodyclass %}
{% block content %}

    <div class="container main-content">
    <div class="col-md-12">
        <div class="content">
        <div class="row">
            <div class="col-md-8">
            <h3>Logged in as {{user.get_name}}</h3>   

            
            </div>
            <div class="col-md-4">
            <a href="{% url 'logout' %}" class="btn btn-kiosk-danger btn-large">Logout</a>
              
            </div>
            <div class="col-md-8 col-md-offset-2">
            <div class="table-responsive">

            <table class="table table-bordered table-stripped">
            <caption><h2>Current Cashbox</h2></caption>
            <thead>
            <tr>
              
              <th>Start Date</th>
              <th>Current Amount</th>
              <th>Empty</th>
            </tr>
            </thead>
            <tbody>
            {% for box in current %}
              <tr>
                
                
                  <td>
                    {{box.start_date}}
                  </td>
                  <th>
                    {{box.amount}}
                  </th>
                  <td>
                  {% if user.is_cashbox_manager %}
                    <a href="{% url 'emptycashbox' %}" class="btn btn-kiosk-info">Empty CashBox</a>
                    {% else %}
                    <a href="" class="btn btn-kiosk-info">Empty CashBox</a>
                  {% endif %}
                    
                  </td>
                
                  
                
              </tr>
              {% endfor %}
            </tbody>
              
            </table>
              
            </div>

              
            </div>
            <div class="col-md-12 ">
            <div class="table-responsive">

            <table class="table table-bordered table-stripped">
            <caption><h2>History</h2></caption>
            <thead>
            <tr>
              
              <th>Start Date</th>
              <th>End Date</th>
              <th>Amount</th>
              <th>Emptied At</th>
              <th>Emptied By</th>

            </tr>
            </thead>
            <tbody>
            {% for box in history %}
              <tr>
                
                
                  <td>
                    {{box.start_date}}
                  </td>
                  <td>
                    {{box.end_date}}
                  </td>
                  <td>
                    {{box.amount}}
                  </td>
                  <td>
                         {{box.emptied_at}}  
                  </td>
                  <td>
                    {{box.emptied_by}}
                  </td>
                  
                
                  
                
              </tr>
              {% endfor %}
            </tbody>
              
            </table>
              
            </div>

              
            </div>

            
        </div>
        
    
            </div>
            </div></div>



{% endblock content %}

{% block extra_js %}
    
{% endblock extra_js %}