{% extends "kioskui/base.html" %}
{% block extra_css %}
    <style type="text/css">
    .margin-down-15{
        margin-bottom: 15px
    }
    </style>

{% endblock extra_css %}

{% block content %}
<div class="container">


    <div class="row">
        <div class="col-md-12">
            <div class="product col-md-12 text-center">
<h1>Choose Amount you would like to Add To Account</h1>

            <div class="row" style="margin-top:30px">

            {% for bill in bill_values %}
            
            <div class="col-md-4" style="margin-bottom:30px">
            <a href='{% url "add_cash_by_debit_card" bill %}' class="btn btn-kiosk-select btn-large" style="line-height: 50px" >
                
                {{bill}} Dollars</a>
            </div>
            
                
            {% endfor %}
                
            </div>


             <div class="bottom_holder">
                 <a href="#" class="btn btn-kiosk-danger btn-large" onclick="history.go(-1)">Go Back</a>
             </div>
                
            </div>

           
            
            

        </div>
    </div>
</div>
    {% endblock content %}