<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<title>HTML Invoice Template</title>
<style type="text/css">
<!--
body {
  font-family:Tahoma;
}

img {
  border:0;
}

#page {
  width:800px;
  margin:0 auto;
  padding:15px;

}

#logo {
  float:left;
  margin:0;
}

#address {
  height:181px;
  margin-left:250px; 
}

table {
  width:100%;
}

td {
padding:5px;
}

tr.odd {
  background:#e1ffe1;
}
-->
</style>
</head>
<body>
<div id="page">
<div id="logo">
    <a href="http://www.ventrexvending.com/micro_markets.php"><img src="http://www.ventrexvending.com/images/logo.jpg"></a>
  </div><!--end logo-->
  
  <div id="address">

    <p><strong>Canada Micro Markets</strong><br />
    Ventrex 1550 Liverpool Ct Ottawa ON K1B 4L2 <br />
    (613) 747-0455 <br />

    Merchant Id : {{merchantid}} <br >

    <a href="mailto:service@ventrex.ca">service@Canadamicromarkets.ca</a>
    <br /><br />
    Transaction : # {{order.id}} <br />
    {{created_on}}<br />
    </p>
  </div><!--end address-->

  <div id="content">
    <p>
      <strong>Customer Details</strong><br />
      <br />
      Transaction Type: {{transaction_type}}<br />

      {% ifequal type 'card' %}
        <span><strong>Account Type: </strong></span> {{card_type}}  <br />
        <span><strong>Card Number: </strong></span> {{card_number}}<br />
        <span><strong>Total Amount Charged: </strong></span> {{order_total}}
        {% else %}
        
        <span><strong>User: </strong></span>{{order.user}}<br />
        <span><strong>Account Balance: </strong></span>{{balance}} <br />
        <span><strong>Total Amount Charged: </strong></span>{{order.order_total}}<br />
      {% endifequal %}
    </p>
      
    <hr>
    {% if order %}
    <table>
      <tr><td><strong>Description</strong></td><td><strong>Qty</strong></td><td><strong>Unit Price</strong></td><td><strong>Amount</strong></td></tr>

      {% for product in products %}
          <tr class="odd"><td>{{product.product_name}}</td><td>{{product.quantity}}</td><td>{{product.product.unit_price}}</td><td>{{product.line_total}}</td></tr> 
      {% endfor %}
       
       <tr><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td></tr>  
       <tr><td>&nbsp;</td><td>&nbsp;</td><td><strong>Gst</strong></td><td><strong>{{Hst}}</strong></td></tr>         
       <tr><td>&nbsp;</td><td>&nbsp;</td><td><strong>Pst</strong></td><td><strong>{{Pst}}</strong></td></tr>
       <tr><td>&nbsp;</td><td>&nbsp;</td><td><strong>Sub Total</strong></td><td><strong>{{order.order_subtotal}}</strong></td></tr>
       <tr><td>&nbsp;</td><td>&nbsp;</td><td  colspan="2"><hr /></td></tr>
       <tr><td>&nbsp;</td><td>&nbsp;</td><td><strong>Total</strong></td><td><strong>{{order.order_total}}</strong></td></tr>

    </table>
        
    {% endif %}
    
    <hr>
    <p>
      Thank you for your order!  This transaction will appear on your billing statement as "Canada Micro Markets".<br />
      If you have any questions, please feel free to contact us at <a href="mailto:service@Canadamicromarkets.ca.ca">service@ventrex.ca</a>.
    </p>

    <hr>
    <p>
      <center><small>This communication is for the exclusive use of the addressee and may contain proprietary, confidential or privileged information. If you are not the intended recipient any use, copying, disclosure, dissemination or distribution is strictly prohibited.
      <br /><br />
      &copy; Canada Micro Markets All Rights Reserved
      </small></center>
    </p>
  </div><!--end content-->
</div><!--end page-->
</body>

</html>