{% extends "kioskui/base.html" %}
{% block extra_css %}
    <style type="text/css">
    .welcome-h1 {
font-weight: bolder;
font-size: 70px;
color: #000;
/*text-shadow: 2px 2px #131347;*/
}
h2{
    font-weight: bold
}
.btn-large{
    line-height: 45px;
    font-size: 25px!important;
    font-weight: bold
}
body{
    padding-top:0;
    }
    .product{
        padding-top:30px;
        padding-bottom:30px;
    }
    .product a{
        margin-bottom: 20px

    }
    .text-style p{
        margin:0;
        padding: 0;
        font-size:18px;
         font-weight:bold;
         text-transform: uppercase;

    }

    .datetime {
border: 10px solid #b9b9b9;
color: #2B7408;
line-height: 30px;
font-size: 20px;
font-weight: bold;
background-color: #fff;
border-radius: 15px;
margin-top: 20px;
min-height: 50px;
/*-webkit-box-shadow: 1px 1px 1em -1em rgb(9, 8, 8), inset 1px 1px 3em -1em rgb(9, 8, 8); */
}
    </style>

{% endblock extra_css %}

{% block topnav %}
    
{% endblock topnav %}

{% block bodyclass %}
    whiteBg
{% endblock bodyclass %}


{% block homecontent %}
<script type="text/javascript">
    {% if user.is_authenticated %}
    window.location = '/cart/'
        
    {% endif %}
</script>

    <div class="container">

        <div class="row">
        <div class='col-md-3'>
        <div class="datetime text-center" date-time>
          
            
        </div>
            
        </div>
            <div class="col-md-6">
               <h1 class="text-center welcome-h1">Welcome</h1> 
            </div>
            <div class="col-md-6 col-md-offset-3">
               <h2 class="text-center">Scan Product to Begin</h2> 
            </div>
        </div>
        <div class="row">
        
            <div class="col-md-12 text-center">
            <div class="row">
                <div class="col-md-4 col-md-offset-4">
                     <a href='/cart' class="btn btn-kiosk-info btn-large" id="start">Start Order</a>
                 </div>
            </div>
            <div class="row">
                <div class="col-md-4 col-md-offset-8 text-style">
                    
                    <p >For a list of</p>
<p >additional</p>
<p >products press</p>
<p>this button</p>
                </div>
            </div>
                 <div class="row">
                     <div class="col-md-4 ">
                     <a href='{% url 'user_account' %}' class="btn btn-kiosk-info btn-large" id="my_account">My Account</a>
                     </div>
                     <div class="col-md-4 col-md-offset-4">
                        <a href='{% url "product_no_barcodes" %}' class="btn btn-kiosk-info btn-large" id="no-barcode">No-Barcode Items</a>
                    </div>
                 </div>     
            </div>
        
            
            
        </div>
    </div>

    
{% endblock homecontent %}



{% block content %}
    
{% endblock content %}