{% extends "kioskui/base.html" %}
{% block extra_css %}
    <style type="text/css">
    .margin-down-15{
        margin-bottom: 15px
    }
    </style>

{% endblock extra_css %}

{% block content %}
<div class="container" ng-controller="CashCtr" ng-init='init("{{username}}")'>


    <div class="row" ng-show='!error'>
        <div class="col-md-12">
            <div class="product col-md-12 text-center">

<h1>Insert Bill</h1>

{% verbatim %}

<h4 >Put In A Bill When Bill Collector Lights Come On</h4>
<h3 class="text-red">May Take A Few Seconds, Please Dont Cancel This Page</h3>

{% endverbatim %}


            <div class="row" style="margin-top:30px">

            <img src="/static/cart-images/insert_bills.png">
                
            </div>


             <div class="bottom_holder">
                 <!--<a href="" class="btn btn-kiosk-danger btn-large">Go Back</a>-->
             </div>
                
            </div>

           
            
            

        </div>
    </div>
    <div class="row" ng-show='error=="success"'>
    
        <div class="col-md-12">
            <div class="product col-md-12 text-center">

            
    <h1>Bill Was Accepted</h1>
    <div class="col-md-3">
        <img src="/static/cart-images/payment_approved.jpg">
    </div>
    <div class="col-md-9">
        

{% verbatim %}
<div class="alert alert-{{response_status}}"><h4><span style="font-size:25px; font-weight:bold">${{amount}}</span> was added to your account - Your Balance : <span style="font-size:25px; font-weight:bold">{{balance}}</span></h4></div>
<div class="row" style="margin-top:100px">
<div class="col-md-4"><button class="btn btn-kiosk-green btn-large " style="line-height: 45px" ng-click="tryagain()">Add Another Bill</button></div>
    <div class="col-md-4"><a href="/cart" class="btn btn-kiosk-green btn-large " style="line-height: 45px">Start Shopping</a></div>
    <div class="col-md-4"><a href="/user_account" class="btn btn-kiosk-info btn-large " style="line-height: 45px">My Account</a></div>

</div>

{% endverbatim %}
    </div>




            


             <div class="bottom_holder">
                 <a href="#" class="btn btn-kiosk-danger btn-large" onclick="history.go(-1)">Go Back</a>
             </div>
                
            </div>

           
            
            

        </div>
    </div>


    <div class="row" ng-show='error==true'>
    
        <div class="col-md-12">
            <div class="product col-md-12 text-center">

            
    <h1>No Bill was Put in.</h1>
    <div class="col-md-3">
        <img src="/static/cart-images/payment_denied.png">
    </div>
    <div class="col-md-9">
        

{% verbatim %}
<div class="alert alert-{{response_status}}"><h4>{{msg}}</h4></div>
<div class="row" style="margin-top:100px">
    <div class="col-md-4"><button class="btn btn-kiosk-green btn-large " style="line-height: 45px" ng-click="tryagain()">Try Again</button></div>
    <div class="col-md-4"><a href="/choose_cash_to_deposit_via_credit_card" class="btn btn-kiosk-green btn-large " style="line-height: 45px">Credit Card</a></div>
    <div class="col-md-4"><a href="/user_account" class="btn btn-kiosk-info btn-large " style="line-height: 45px">My Account</a></div>

</div>

{% endverbatim %}
    </div>




            


             <div class="bottom_holder">
                 <a href="#" class="btn btn-kiosk-danger btn-large" onclick="history.go(-1)">Go Back</a>
             </div>
                
            </div>

           
            
            

        </div>
    </div>
</div>
    {% endblock content %}