{% extends "kioskui/base.html" %}
{% block extra_css %}
    <style type="text/css">
    .margin-down-15{
        margin-bottom: 15px
    }
    .scroll{
        background:#b9b9b9;
        height:800px;

    }
    .no-padding{
        padding-left: 0;
padding-right: 0;
    }
    .product_image{
        
    border-radius:5px;
    -moz-border-radius:5px; /* Old Firefox */
    box-shadow: 5px 5px 5px 5px #888888;
    cursor:pointer;

    }
    </style>

{% endblock extra_css %}

{% block content %}
<div class="container" ng-controller="KeyInCtr" >


    <div class="row">
        <div class="col-md-12">
            <div class="product col-md-12 text-center">
            
                <div class="col-md-6 col-md-offset-3" style="margin-top:20px">
                <table width="450" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td><input type="text" class="input_key" id="number" name="num"/></td>
                        <td><div class="go1" ng-click="number_c();" ></div></td>
                    </tr>
                </table>
                <table width="448" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td><div class="no1" ng-click="number_write(1);"></div></td>
                        <td><div class="no2" ng-click="number_write(2);"></div></td>
                        <td><div class="no3" ng-click="number_write(3);"></div></td>
                    </tr>
                    <tr>
                        <td><div class="no4" ng-click="number_write(4);"></div></td>
                        <td><div class="no5" ng-click="number_write(5);"></div></td>
                        <td><div class="no6" ng-click="number_write(6);"></div></td>
                    </tr>
                    <tr>
                        <td><div class="no7" ng-click="number_write(7);"></div></td>
                        <td><div class="no8" ng-click="number_write(8);"></div></td>
                        <td><div class="no9" ng-click="number_write(9);"></div></td>
                    </tr>
                    <tr>
                        <td><div class="left_0"><button  style="margin-top: 7px; font-size: 26px; line-height: 100px;" class="btn btn-kiosk-danger btn-large" ng-click="number_clear()" >Clear</button></div></td>
                        <td><div class="no0" ng-click="number_write(0);"></div></td>
                        <td><div class="right_0"><button id="submit" style="margin-top: 7px; margin-left: 10px; font-size: 26px; line-height: 100px;" class="btn btn-kiosk-green btn-large" ng-click="enter_code()" >Submit</button></div></td>
                    </tr>
                </table>

            </div>
            </div>


            {% verbatim %}
            
            {% endverbatim %}
            
            

        </div>
    </div>
</div>
    {% endblock content %}

    {% block extra_js %}
        
    {% endblock extra_js %}