{% extends "kioskui/base.html" %}
{% load i18n %}
{% block extra_css %}
	<link href="css/plugins/dataTables.bootstrap.css" rel="stylesheet">
	<style type="text/css">

	</style>
{% endblock extra_css %}
{% block topnav %}
	
{% endblock topnav %}
{% block ng %}
	
{% endblock ng %}
{% block bodyclass %}whiteBg page-general{% endblock bodyclass %}
{% block content %}

	<div class="container main-content">
	<div class="col-md-12">
		<div class="content">
		<div class="row">
			<div class="col-md-8">
			<h3>Orders for {{user.username}}</h3>	
			</div>
			<div class="col-md-4" style="margin-top: 20px; margin-bottom: 10px;">
				<a href="{% url 'user_account' %}" class="btn  btn-kiosk-info btn-large">My Account</a>
				<a href="{% url 'userorders' %}" class="btn  btn-kiosk-danger btn-large">Go Back</a>
			</div>
		</div>
		
	
			<h3>
  {% trans "Order ID:" %} {{ order.pk }}
</h3>

<p>
  {% trans "Order Status" %}: {{ order.get_status_display }}
</p>



<table border="1" class="table table-bordered">
  <thead>
    <tr>
    <th>{% trans "Product name" %}</th>
    <th>{% trans "Unit price" %}</th>
    <th>{% trans "Quantity" %}</th>
    <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    {% for item in order.items.all %}
      <tr>
        <td>{{item.product_name}}</td>
        <td>{{ item.unit_price }}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.line_subtotal }}</td>
      </tr>
      
      <tr><td colspan="2">&nbsp;</td><td>{% trans "Line Total" %}:</td><td>{{item.line_total }}</td></tr>
    {% endfor %}
  </tbody>

  <tfoot>
    <tr><td colspan="2">&nbsp;</td><td>{% trans "Order Subtotal" %}</td><td>{{order.order_subtotal }}</td></tr>
    {% for extra_price_field in order.extraorderpricefield_set.all %}
      <tr>
        <td colspan="2">&nbsp;</td>
        <td>{{ extra_price_field.label }}</td>
        <td>{{ extra_price_field.value }}</td>
      </tr>
    {% endfor %}
    <tr><td colspan="2">&nbsp;</td><td><b>{% trans "Order Total" %}</b></td><td><b>{{order.order_total}}</b></td></tr>
  </tfoot>
</table>

{% for extra_info in order.extra_info.all  %}
  <p>{{ extra_info.text }}</p>
{% endfor %}

		</div>
	</div>
		
	</div>
{% endblock content %}

{% block extra_js %}
	
{% endblock extra_js %}