{% extends "kioskui/base.html" %}
{% load i18n %}
{% block extra_css %}
    <link href="css/plugins/dataTables.bootstrap.css" rel="stylesheet">
    <style type="text/css">

    </style>
{% endblock extra_css %}
{% block topnav %}
    
{% endblock topnav %}
{% block ng %}
    
{% endblock ng %}
{% block bodyclass %}whiteBg page-general{% endblock bodyclass %}
{% block content %}

    <div class="container main-content" ng-controller="EmailCtrl" ng-init="initEmail('{{email}}')">
    
    <div class="col-md-12">
        <div class="content text-center">
         <h3>Send Recipt for Transaction</h3>
         <div class="well col-md-7 col-md-offset-2" style="font-size:20px" ng-cloak>
         <div class="row">
         <div class="col col-md-3">Email:</div>
                                        
            <div class="col col-md-6 text-muted" ng-hide="edit">
            {% verbatim %}
            <span ng-show="email">{{email}}</span>
            <span ng-hide='email'>Empty</span>
            
            {% endverbatim %}
            
              
            </div>
            {{edit}}
            <div ng-show="edit" class="col col-md-6">
              <input type="text" ng-model="email" id="email">
            </div>
            <div class="col-md-3" ng-hide="edit">
            <button class="btn btn-kiosk-green" ng-click="editEmail()">Edit</button>
           
         </div>
                                        
        </div>

         <div class="row">
         <div class="col-md-6 col-md-offset-3">
          <form id="" action="." method="post" >
            {% csrf_token %}

            <div style="display:none">
                {{form}}
            </div>
            
            <input type="submit" value="Send To Email" class="btn btn-kiosk-green btn-large btn-block" />
        </form>
        <button class="btn btn-kiosk-green btn-large btn-block" style="" ng-click="sendToPrinter()">Send to Printer</button>
           
         </div>
           
         </div>
         
           
         </div>
         <div ng-keypad="numeric"  class="numpad">
                        <div ng-include="" src="'/static/scripts/views/keyboard.html'"></div>
                    </div>

                   
         
    </div>
        
    </div>
    </div>
{% endblock content %}

{% block extra_js %}
    
{% endblock extra_js %}