{% extends "kioskui/base.html" %}
{% block extra_css %}
    <style type="text/css">
    .margin-down-15{
        margin-bottom: 15px
    }
    .scroll{
        background:#b9b9b9;
        height:700px;

    }
    .go_back{
        background:#b9b9b9;
        /*height:700px;*/
        padding-left:0!important 

    }

    .product {
border-bottom: 0;
}


    .no-padding{
        padding-left: 0;
padding-right: 0;
    }
    .product_image{
        
    border-radius:5px;
    -moz-border-radius:5px; /* Old Firefox */
    box-shadow: 5px 5px 5px 5px #888888;
    cursor:pointer;
    }
    </style>

{% endblock extra_css %}

{% block content %}
<div class="container" ng-controller="ScrollCtr" >


    <div class="row">
        <div class="col-md-12">
            <div class="product col-md-12 text-center" style="padding-right: 0; padding-left:0;">
            <div class="">
                <div class="col-md-11 mover" style="margin-top:20px">
                <h3> Pick an Item </h3>
                

                {% for object in product_no_barcodes_list %}
                            {% if object %}
                                <div class="col-md-3" style="margin-top:10px" >
                                    <form id="add_product_{{object.id}}" method="post" action="{% url 'cart' %}" >{% csrf_token %}
                                        <img id="{{object.id}}" class="product_image" src="{{ object.image.url }}" height="150" width="150" ng-click="submitform({{object.id}})" >
                                        <br><span style="font-size:20px; font-weight:bold">{{ object.name }} ${{object.unit_price}}</span>
                                        <input type="hidden" name="add_item_id" value="{{object.id}}">
                                        <input type="hidden" name="add_item_quantity" value="1">
                                        <input type="submit" value="Add to cart" style="display: none;">
                                    </form>
                                </div>

                            {% endif %}
              
                        {% endfor %}
                    
                </div>
                <div class="col-md-1 scroll no-padding">
                    <div class="col-md-12 no-padding">
                    <img src="/static/cart-images/a_up_1.png" ng-click="scrollUp()">
                    </div>
                    <div class="col-md-12 no-padding">
                    <img src="/static/cart-images/a_down.png" ng-click="scrollDown()">
                     </div>
                </div>
            </div>
            <div class="col-md-12 go_back" style="padding:10px">
            <div class="col-md-4 col-md-offset-8">
            <a href="/cart/" class="btn btn-kiosk-danger btn-large" >Go Back</a>
                
            </div>
                
            </div>

                
            </div>


            {% verbatim %}
            
            {% endverbatim %}
            
            

        </div>
    </div>
</div>
    {% endblock content %}

    {% block extra_js %}
        
    {% endblock extra_js %}