{% extends "kioskui/base.html" %}
{% block centercol %}
	
{% endblock centercol %}
{% block extra_css %}
    <style type="text/css">
    .margin-down-15{
        margin-bottom: 15px
    }
    </style>

{% endblock extra_css %}

{% block content %}
<div class="container"  ng-controller='RegisterUserCtr' ng-init=init_register('{{keypress}}') >


    <div class="row">
        <div class="col-md-12">
            <div class="product col-md-12 text-center">
            <div ng-hide="register">
            	<h3>
            	This Account is Not Available
            </h3>

            <div class="row" style="margin-top:50px">
            	<div class="col-md-12">
            		<button class="btn btn-kiosk-green btn-large" ng-click="register_user()">Register New Account</button>
            	</div>
            	<div class="col-md-12">
            		<button class="btn btn-kiosk-danger btn-large" ng-click='cancel()'>Cancel</button>
            	</div>
            </div>
            </div>
            <div ng-show="first_name">
            	<h3>Please Enter your Full Name (First Name Last Name)</h3>
            	<div class="col-md-12">
            		<div ng-keypad="first_name"  class="numpad">
                        <div ng-include="" src="'/static/scripts/views/name_keyboard.html'"></div>
                    </div>
            	</div>
            	<div class="col-md-4 col-md-offset-8" style="margin-top:450px">
            		<button class="btn btn-kiosk-green btn-large" ng-click="complete()">Done</button>
            	</div>
            	
            </div>
            
            	


            </div>

            
            
            

        </div>
    </div>
</div>
    {% endblock content %}