{% extends "kioskui/base.html" %}
{% load i18n %}
{% block extra_css %}
    <link href="css/plugins/dataTables.bootstrap.css" rel="stylesheet">
    <style type="text/css">

    </style>
{% endblock extra_css %}


{% block bodyclass %}whiteBg page-general{% endblock bodyclass %}
{% block content %}

    <div class="container main-content" ng-controller="Fingerprintctr" ng-init="initFingerprint('{{user.username}}')">
    
    <div class="col-md-12">
        <div class="content text-center">
         <h3>Register Your Fingerprint</h3>
         <div class="well col-md-8 col-md-offset-2" style="font-size:20px" ng-cloak>
         <h4>Follow instructions on the popup</h4>
         <div class="col-md-8 col-md-offset-2" ng-show="enroll_started">
         <img src="{{STATIC_URL}}cart-images/fingerprint_on.png">
             
         </div >

         <div class="col-md-8 col-md-offset-2" ng-hide="enroll_started">
         {% verbatim %}
         <div class="alert alert-{{alert}}">
         {{msg}}
        

         
                 
             </div>


             <div ng-show="(status==='success')" class="col-md-6 col-md-offset-3">
            <a href="/cart" class="btn btn-kiosk-green btn-block" style="font-size:20px">
             Start Shopping
                 
             </a>
                 
             </div>
             <div ng-show="status==='already_enrolled'" class="col-md-6 col-md-offset-3">
             <a href="/cart" class="btn btn-kiosk-green btn-block" style="font-size:20px">
             Start Shopping
                 
             </a>
                 
             </div>
             <div ng-show="status=='failed'" class="">
             <div class="col-md-6">
                 <button class="btn btn-kiosk-green btn-block" style="font-size:20px" ng-click="enroll()">
             Try Again
                 
             </button>
             </div>

             <div class="col-md-6">
              <a href="/cart" class="btn btn-kiosk-green btn-block" style="font-size:20px">
             Start Shopping
                 
             </a>
                 
             </div>
             
            
                 
             </div>
         
         {% endverbatim %}
         
             
             
         </div>
 </div>
         

                   
         
    </div>
        
    </div>
    </div>
{% endblock content %}

{% block extra_js %}
<script src='/static/scripts/services/fingerprintService.js'></script>
<script src='/static/scripts/controllers/fingerprint.js'></script>

    
{% endblock extra_js %}