{% extends "kioskui/base.html" %}
{% block extra_css %}
	<link href="css/plugins/dataTables.bootstrap.css" rel="stylesheet">
	<style type="text/css">

	</style>
{% endblock extra_css %}
{% block topnav %}
	
{% endblock topnav %}
{% block ng %}
	
{% endblock ng %}
{% block bodyclass %}whiteBg page-general{% endblock bodyclass %}
{% block content %}

	<div class="container main-content">
	<div class="col-md-12">
		<div class="content">
		<div class="row">
			<div class="col-md-8">
			<h3>Orders for {{user.username}}</h3>	
			</div>
			<div class="col-md-4" style="margin-top: 20px; margin-bottom: 10px;">
				<a href="{% url 'user_account' %}" class="btn  btn-kiosk-info btn-large">My Account</a>
			</div>
		</div>
		
	
			<table class="table table-bordered table-striped">
			<thead>
			<tr>
				<th>Order Id</th>
				<th>User</th>
				<th>Date</th>
				<th>Status</th>
				<th>Order Total</th>
			</tr>
				
			</thead>
			<tbody>
			{% for order in orders %}
			<tr>
				
					<th><a   href="{% url 'userordersdetails' order.id %}">{{order.id}}</a></th>
				<th>{{order.user.username}}</th>
				<th>{{order.created}}</th>
				<th>{{order.get_status_name}}</th>
				<th>{{order.order_total}}</th>
				
			</tr>
				{% endfor %}
			</tbody>

				
			</table>
		</div>
	</div>
		
	</div>
{% endblock content %}

{% block extra_js %}
	
{% endblock extra_js %}