{% extends "kioskui/base.html" %}
{% block extra_css %}
    <style type="text/css">
    .margin-down-15{
        margin-bottom: 15px
    }
    </style>

{% endblock extra_css %}

{% block content %}
<div class="container" ng-controller='UserAccount' ng-init=init_user('{{user.id}}')>


    <div class="row">
        <div class="col-md-12">
            <div class="product col-md-12 text-center">

                <div class='col-md-12'>
                    <h3>Add money to account</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="col-md-8 col-md-offset-2">
                                <a href="{% url 'choose_cash_to_deposit_via_credit_card' %}" class='btn btn-kiosk-info btn-large btn-block' style="line-height: 45px">Credit/Debit card</a>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="col-md-8 col-md-offset-2">

                                <a href="/insert_bills" class="btn btn-kiosk-info btn-large btn-block" style="line-height: 45px">Cash</a>
                            </div>

                        </div>
                    </div>
                    <hr>
                </div>
                <div class="col-md-12">
                    <h3>Register Fingerprint</h3>
                    <div class="row">
                        <div class="col-md-6">
                            <img src="{{ STATIC_URL }}img/fingerprint_on.png"  width="100px" ></div>
                        <div class="col-md-6">
                            <div class="col-md-8 col-md-offset-2">

                                <a href="{% url 'register_fingerprint' %}" class="btn btn-kiosk-info btn-large btn-block" style="line-height: 45px">Register ThumbPrint</a>
                            </div>
                        </div>
                    </div>

                    <hr>
                </div>

                <div class="col-md-12" style="font-size: 20px">
                    <div class="col-md-6">

                        <div class="row margin-down-15">
                                        <div class="col col-md-3">First Name</div>
                                        <div ng-hide='editfirstname'>
                                            <div class="col col-md-6 text-muted">
                                            {% verbatim %}
                                            <span ng-show="user.first_name">{{ user.first_name }}</span>
                                            <span ng-show='!user.first_name'>Empty</span>
                                            
                                            {% endverbatim %}
                                        </div>
                                        <div class="col-md-3"><button class="btn btn-kiosk-green" ng-click='editfield("id_first_name")'>Edit</button></div>
                                        </div>
                                        <div ng-show='editfirstname'>
                                            <div class="col col-md-6 text-muted">
                                            {% verbatim %}
                                            <input type="text" data-ng-model="user.first_name" placeholder="First Name" data-ng-keypad-input="numeric" id='id_first_name' >
                                            
                                            {% endverbatim %}
                                        </div>
                                        <div class="col-md-3"><button class="btn btn-kiosk-info" ng-click='savefield() '>Save</button></div>
                                        </div>

                        </div>
                        <div class="row margin-down-15">
                                        <div class="col col-md-3">Last Name</div>
                                        <div ng-hide='editlastname'>
                                            <div class="col col-md-6 text-muted">
                                            {% verbatim %}
                                            <span ng-show="user.last_name">{{ user.last_name }}</span>
                                            <span ng-show='!user.last_name'>Empty</span>
                                            
                                            {% endverbatim %}
                                        </div>
                                        <div class="col-md-3"><button class="btn btn-kiosk-green" ng-click='editfield("id_last_name")'>Edit</button></div>
                                        </div>
                                        <div ng-show='editlastname'>
                                            <div class="col col-md-6 text-muted">
                                            {% verbatim %}
                                            <input type="text" value="{{user.last_name}}" placeholder="Last Name" >
                                            
                                            {% endverbatim %}
                                        </div>
                                        <div class="col-md-3"><button class="btn btn-kiosk-info" ng-click='savefield() '>Save</button></div>
                                        </div>
                                        

                        </div>
                        <div class="row margin-down-15">
                                        <div class="col col-md-3">Email</div>
                                        <div ng-hide='editemail' >
                                            <div class="col col-md-6 text-muted">
                                            {{ user.email }}
                                            
                                            
                                            </div>
                                            <div class="col-md-3"><button class="btn btn-kiosk-green" ng-click='editfield("id_email")' >Edit</button></div>
                                        </div>
                                        <div ng-show='editemail' >
                                           <div class="col col-md-6 text-muted">
                                            
                                            <input type="text" value="{{user.email}}" >
                                        </div>
                                        <div class="col-md-3"><button class="btn btn-kiosk-info" ng-click='savefield() '>Save</button></div> 
                                        </div>
                                        

                        </div>
                        
                    </div>
                    <div class="col-md-6">
                   <div class="col-md-8 col-md-offset-2">

                                <a href="{% url "userorders" %}" class="btn btn-kiosk-info btn-large btn-block" style="line-height: 45px">View Transactions</a>
                            </div>
                            <div class="col-md-8 col-md-offset-2">

                                <button  class="btn btn-kiosk-info btn-large btn-block" style="line-height: 45px" ng-click="connect_app()">Connect Mobile App</button>
                                
                                
                                
                            </div>
                    </div>
                    

                </div>

                <div ng-keypad="numeric" data-auto-close="true" class="numpad">
                        <div ng-include="" src="'/static/scripts/views/keyboard.html'"></div>
                    </div>
<div class="bottom_holder">
<a href="/cart/" class="btn btn-kiosk-green btn-large">Start Shopping</a>
                
            </div>
            </div>

            {% verbatim %}
            
            {% endverbatim %}
            
            

        </div>
    </div>
</div>

    <script type="text/ng-template" id="connect_app.html">
            <div class="modal-header">
                <h3 class="modal-title text-center">Scan the following Code on your Kiosk mobile app</h3>
            </div>
            
            <div class="modal-body">
            <div class="row text-center">
            <div class="col-md-6 col-md-offset-3">
            
            {% verbatim %}
                                <img src="{{dataURI}}" class="img-responsive img-thumbnail" width="180">
                                {% endverbatim %}
                
            </div>
                
            </div>
                
                                
            </div>
    
          
            <div class="modal-footer">                                                                                        
                <button class="btn btn-success" ng-click="ok()" >Ok</button>                                                                                                                                        
            </div>
            
            </script>


    {% endblock content %}

    {% block extra_js %}
<script type="text/javascript" src="{{ STATIC_URL }}bwip-js/bwip.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}bwip-js/lib/symdesc2.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bwip-js/lib/needyoffset.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bwip-js/lib/canvas.js"></script>
<script type="text/javascript" src='{{ STATIC_URL }}bwip-js/libpng.js'></script>
        
    {% endblock extra_js %}