#container{

position: absolute;
background: #7C7A7A;
margin: 30px;
padding: 20px;
border-radius: 15px

}
#write {
margin: 0 0 5px;
padding: 5px;
width: 671px;

font: 1em/1.5 Verdana, Sans-Serif;
background: #fff;
border: 1px solid #f9f9f9;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
}
#keyboard {
margin: 0;
padding: 0;
list-style: none;
}
    #keyboard li {
float: left;
margin: 0 5px 5px 0;
width: 60px;
height: 50px;
line-height: 40px;
text-align: center;
background: #fff;
border: 1px solid #f9f9f9;
-moz-border-radius: 5px;
-webkit-border-radius: 5px;
font-size: 16px;
font-weight: bolder;
}
        .capslock, .tab, .left-shift {
        clear: left;
        }
            #keyboard .tab, #keyboard .delete {
            width: 70px;
            }
            #keyboard .capslock {
            width: 80px;
            }
            #keyboard .return {
            width: 77px;
            }
            #keyboard .left-shift {
            width: 95px;
            }
            #keyboard .right-shift {
            width: 109px;
            }
        .lastitem {
        margin-right: 0;
        }
        .uppercase {
        text-transform: uppercase;
        }
        #keyboard .space {
        clear: left;
        width: 681px;
        }
        .on {
        display: none;
        }
        #keyboard li:hover {
        position: relative;
        top: 1px;
        left: 1px;
        border-color: #e5e5e5;
        cursor: pointer;
        }

.closed{
    display:none;
}   

.no1{background:url(/static/cart-images/1.png) no-repeat; width:154px; height:150px;
    cursor: pointer;}
.no2{background:url(/static/cart-images/2.png) no-repeat; width:148px; height:150px; cursor: pointer; }
.no3{background:url(/static/cart-images/3.png) no-repeat; width:148px; height:150px; cursor: pointer;}
.no4{background:url(/static/cart-images/4.png) no-repeat; width:154px; height:146px; cursor: pointer;}
.no5{background:url(/static/cart-images/5.png) no-repeat; width:148px; height:146px; cursor: pointer;}
.no6{background:url(/static/cart-images/6.png) no-repeat; width:147px; height:146px; cursor: pointer;}
.no7{background:url(/static/cart-images/7.png) no-repeat; width:154px; height:144px; cursor: pointer;}
.no8{background:url(/static/cart-images/8.png) no-repeat; width:148px; height:144px; cursor: pointer;}
.no9{background:url(/static/cart-images/9.png) no-repeat; width:147px; height:144px; cursor: pointer;}
.no0{background:url(/static/cart-images/0.png) no-repeat; width:148px; height:151px; cursor: pointer;}
.go1{background:url(/static/cart-images/go.png) no-repeat; width:134px; height:88px; cursor: pointer;}
.left_0{background:url(/static/cart-images/0-left.png) no-repeat; width:154px; height:151px; }
.right_0{background:url(/static/cart-images/0-right.png) no-repeat; width:147px; height:151px; }
.cancel_0 div{background:url(/static/cart-images/cancel.jpg) no-repeat; width:234px; height:75px; }
.input_key{width:400px; height:88px;font-weight:bold; font-size:45px; border:none; padding:0 0 0 20px; margin:0;-webkit-box-shadow: inset 10px -1px 33px -5 rgba(0,0,0,1);
-moz-box-shadow: inset 10px -1px 33px -5 rgba(0,0,0,1);
box-shadow: inset 10px -1px 33px -5px rgba(0,0,0,1);}

