a {
  color: #87944d;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s; }

a:hover {
  color: #bfd16d;
  -webkit-transition: color 0.5s;
  -moz-transition: color 0.5s;
  transition: color 0.5s; }

/* body backgrounds*/
.greenBG{
  background: url(../img/kioskBG.jpg) no-repeat #e0f09a;
  color: #25394d;
}

.greyBG{
background: url(../img/bg.jpg) repeat-x #292929;
}  

.whiteBg{

            background: url("../img/whiteBg.jpg") no-repeat center center fixed;
            bacground-color: #065371;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;

        
}

.navbar {
  background-color: #bfd16d;
  border-bottom: solid 1px #87944d; }
  .navbar .brand {
    background-color: #87944d; }
  .navbar .nav > li > a {
    color: #fff; }
    .navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
      background-color: #e5f0b6;
      color: #fff; }
  .navbar .nav > li.activehover > a {
    background-color: #e5f0b6;
    color: #fff; }
  .navbar .nav > .active a {
    color: #4f572d; }
    .navbar .nav > .active a:hover, .navbar .nav > .active a:focus {
      color: #4f572d; }

.submenu-container {
  background-color: #e5f0b6;
  border-bottom: solid 4px #bfd16d; }
  .submenu-container .submenu {
    background-color: #daf07d; }
    .submenu-container .submenu a .price {
      color: #25394d; }
    .submenu-container .submenu li.active, .submenu-container .submenu li:hover {
      background-color: #e5f0b6; }
  .submenu-container .submenu-preview a.drop-link {
    background: #87944d;
    color: white; }

.basket {
  background-color: #87944d; }
  .basket .basket-count {
    color: #4f572d; }

.product .description a {
  color: #87944d; }
.product .details-expand {
  color: #fff;
  background-color: #bfd16d; }
  .product .details-expand:hover {
    background-color: #87944d; }
  .product .details-expand.expanded {
    background-color: #87944d; }
.product.cta {
  color: #87944d;
  -webkit-transition: background-color 0.5s;
  -moz-transition: background-color 0.5s;
  transition: background-color 0.5s; }
  .product.cta.alt {
    background-color: #bfd16d;
    color: #fff; }
    .product.cta.alt a, .product.cta.alt a:hover {
      color: #fff;
      display: block; }
    .product.cta.alt:hover {
      background-color: #87944d;
      -webkit-transition: background-color 0.5s;
      -moz-transition: background-color 0.5s;
      transition: background-color 0.5s; }
.product .plabel {
  background-color: #f6cf9e;
  text-shadow: 1px 1px 1px #A7A1A1; }

.btn {
  background-color: #348401;
  border-radius: 7px;

   
   }
  .btn:hover, .btn:focus {
    background-color: #87944d; }

.pricing .special {
  background-color: #f6cf9e;
  color: #fff; }

.top-contrib {
  background-color: #87944d;
  color: #fff; }

.quantity {
  color: #fff;
  background-color: #bfd16d; }
  .quantity:hover {
    background-color: #87944d;
    color: #fff; }

.navbar .navbar-toggle:hover {
  color: #fff;
  background-color: #e5f0b6; }
  .navbar .navbar-toggle:hover .icon-bar {
    color: #fff; }

.collection-page .board-filters a.filter-hidden,
.collection-page .board-links a.filter-hidden {
  background-color: #bfd16d;
  color: #fff;
  border-color: #87944d; }

.btn-atc {
  background-color: #ffc247;
  color: white;
  text-shadow: 1px 1px 1px #c28100;
  box-shadow: 1px 1px 1px #c28100; }
  .btn-atc:hover {
    background-color: #ffaa00; }
  .btn-atc.qadd {
    box-shadow: none; }




.product{
  border: solid 5px #357c01;
border-radius: 10px;
}

.product-cart{
  border:solid 15px #b9b9b9;
  border-radius: 10px;
}
    

/*custome button*/


.btn-kiosk-green {
color: #ffffff;
    background-color: #5CB85C;
    background-image: linear-gradient(to bottom, #5abf5a, #022e02);
    border-color: #3E8F3E #3E8F3E #3E8F3E;}


.btn-kiosk-danger {
color: #ffffff;
    background-color: #BE0C1A;
    background-image: linear-gradient(to bottom, #FC7C86, #920D17);
    border-color: #3E8F3E #3E8F3E #3E8F3E;}

    .btn-kiosk-select {
color: #ffffff;
    background-color: #5CB85C;
    background-image: linear-gradient(to bottom, #627EF1, #051981);
    border-color: #3E8F3E #3E8F3E #3E8F3E;}
.btn-kiosk-info {
color: #ffffff;
    background-color: #5CB85C;
    background-image: linear-gradient(to bottom, #627EF1, #051981);
    border-color: #3E8F3E #3E8F3E #3E8F3E;}

.btn-large{
  font-size:15px !important;
}


  .btn-atc:hover {
    background-color: #ffaa00; }
  .btn-atc.qadd {
    box-shadow: none; 

  }


    .product {
border: solid 21px #b9b9b9;
border-radius: 15px;
height: 800px;
-webkit-box-shadow: 1px 1px 5em -1em rgb(9, 8, 8), inset 1px 1px 3em -1em rgb(9, 8, 8);



}
.product-content{

}
.left-cart-content{
    padding-right: 0 !important;
    
}
.scroll{
    background: #b9b9b9;
    height: 770px
}
.order-header{
    border-bottom: 1px solid #000
}
.no-padding{
    padding:0;
}
hr{
   border-top: 1px solid #BDB1B1; 
}

.scan-image-div{
    height:600px;
}
.checkout{
    height: 200px;
    background: #e0dfdf
}
.select-btn {
font-size: 20px;
line-height: 45px;
}
.paynow > img {
    margin-right: auto;
margin-left: auto;
display: block;
width: 100%;
max-width: 100%;
height: 160px;

}

.select_item> img {
    margin-right: auto;
margin-left: auto;
display: block;
width: 100%;
max-width: 100%;
height: 110px;

}
.keyincode> img {
    margin-right: auto;
margin-left: auto;
display: block;
width: 100%;
max-width: 100%;
height: 110px;

}

.product .bottom_holder {
position: absolute;
right: 0px;
bottom: 10px;
width: 300px;
line-height: 20px;

}