<div id="container" style="position: absolute">
    <textarea id="write" rows="1" cols="60">{{listenedString}}</textarea>
    <ul id="keyboard">
        <li class="symbol"><span class="off">`</span><span class="on">~</span></li>
        <li class="symbol" data-ng-key='1'><span class="off">1</span><span class="on">!</span></li>
        <li class="symbol" data-ng-key='2'><span class="off">2</span><span class="on">@</span></li>
        <li class="symbol" data-ng-key='3'><span class="off">3</span><span class="on">#</span></li>
        <li class="symbol" data-ng-key='4'><span class="off">4</span><span class="on">$</span></li>
        <li class="symbol" data-ng-key='5'><span class="off">5</span><span class="on">%</span></li>
        <li class="symbol" data-ng-key='6'><span class="off">6</span><span class="on">^</span></li>
        <li class="symbol" data-ng-key='7'><span class="off">7</span><span class="on">&amp;</span></li>
        <li class="symbol" data-ng-key='8'><span class="off">8</span><span class="on">*</span></li>
        <li class="symbol" data-ng-key='9'><span class="off">9</span><span class="on">(</span></li>
        <li class="symbol" data-ng-key='0'><span class="off">0</span><span class="on">)</span></li>
        <li class="symbol"><span class="off">-</span><span class="on">_</span></li>
        <li class="symbol"><span class="off">=</span><span class="on">+</span></li>
        <li class="delete lastitem" data-ng-key="[DELETE]">delete</li>
        <li class="tab">tab</li>
        <li class="letter" data-ng-key='q'>q</li>
        <li class="letter"data-ng-key='w'>w</li>
        <li class="letter" data-ng-key='e'>e</li>
        <li class="letter" data-ng-key='r'>r</li>
        <li class="letter" data-ng-key='t'>t</li>   
        <li class="letter" data-ng-key='y'>y</li>
        <li class="letter" data-ng-key='u'>u</li>
        <li class="letter" data-ng-key='i'>i</li>
        <li class="letter" data-ng-key='o'>o</li>
        <li class="letter" data-ng-key='p'>p</li>
        <li class="symbol"><span class="off">[</span><span class="on">{</span></li>
        <li class="symbol"><span class="off">]</span><span class="on">}</span></li>
        <li class="symbol lastitem"><span class="off">\</span><span class="on">|</span></li>
        <li class="capslock" data-ng-key='[CAPS]'>caps lock</li>
        <li class="letter" data-ng-key='a'>a</li>
        <li class="letter" data-ng-key='s'>s</li>
        <li class="letter" data-ng-key='d'>d</li>
        <li class="letter" data-ng-key='f'>f</li>
        <li class="letter" data-ng-key='g'>g</li>
        <li class="letter" data-ng-key='h'>h</li>
        <li class="letter" data-ng-key='j'>j</li>
        <li class="letter" data-ng-key='k'>k</li>
        <li class="letter" data-ng-key='l'>l</li>
        <li class="symbol"><span class="off">;</span><span class="on">:</span></li>
        <li class="symbol"><span class="off">'</span><span class="on">&quot;</span></li>
        <li class="return lastitem" data-ng-key='[ENTER]' style="background:rgb(56, 153, 47)">SAVE</li>
        <li class="left-shift" data-ng-key='@'>@</li>
        <li class="letter" data-ng-key='z'>z</li>
        <li class="letter" data-ng-key='x'>x</li>
        <li class="letter" data-ng-key='c'>c</li>
        <li class="letter" data-ng-key='v'>v</li>
        <li class="letter" data-ng-key='b'>b</li>
        <li class="letter" data-ng-key='n'>n</li>
        <li class="letter" data-ng-key='m'>m</li>
        <li class="symbol" data-ng-key=','><span class="off">,</span><span class="on">&lt;</span></li>
        <li class="letter" data-ng-key='.'><span class="off">.</span><span class="on">&gt;</span></li>
        <li class="letter" data-ng-key='.com'><span class="off">.com</span><span class="on">?</span></li>
        <li class="right-shift lastitem">shift</li>
        <li class="space lastitem" style="margin-left:80px" data-ng-key='[SPACE]'>&nbsp; Space</li>
        
    </ul>
</div> 