{% extends "dashboardui/base.html" %}
{% block extra_css %}
<style type="text/css">
    #sparks li h5 {

margin: 0px 0 0 0;

}
</style>
    
{% endblock extra_css %}

{% block ng %}
  
{% endblock ng %}


    {% block sub_sidebar %}
    {{block.super}}
    {% block location %}
        
    {% endblock location %}
    
    

   
   
{% endblock sub_sidebar %}

    
    

   
    


{% block content %}
<div  ng-controller='EventListCtrl' >
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-video-camera"></i> Video <span> Events List </span></h1>
    </div>
    
    
</div>
    <section id='widget-grid'>
        
    <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                        <h2>Events List </h2>
                        <div class="widget-toolbar">
                        <!-- add: non-hidden - to disable auto hide -->

                        {% verbatim %}
                        
                        <span ng-cloak>PAGE {{events_meta.offset/events_meta.limit+1}} of {{events_meta.total_count/events_meta.limit|number : 0 }}</span>
                        <button class="btn btn-default" role="button" ng-click="get_previous()">Previous</button>
                        <button class="btn btn-default" role="button" ng-click="get_next()">Next</button>
                        {% endverbatim %}
                        

                        
                    </div>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                <div class="widget-body-toolbar bg-color-white">

                                    <div class="row">
                                                <div class="col-md-9">
                                                   <form class="form-inline" role="form">

                                        <div class="form-group">
    <label for="locations" style="font-weight:bold">Filter By:</label>
 
    
    <select class="form-control" ng-model='cause_filter' ng-options='filter.label for filter in cause_filters' ng-change="filter_by_cause(cause_filter)"></select>
  </div>
                                        
                                        

                                    </form>

                                                </div>
                                                
                                            </div>
                                        </div>
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="table-responsive" cg-busy="{promise:promise,message:'Please Wait',minDuration:900}">
                                            <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                            <th>EventId</th>
                                            <th>Camera</th>
                                            <th>Cause</th>
                                            <th>Start Time</th>
                                            <th>End Time</th>
                                            <td><span class="col-md-4" style="border-right:1px solid #ddd; font-weight:bold">OrderId</span> <span class="col-md-4" style="border-right:1px solid #ddd; font-weight:bold">Status</span><span class="col-md-4" style="font-weight:bold">User</span></td>
                                            
                                            </tr>


                                                
                                            </thead>
                                            <tbody>
                                                
                                                    {% verbatim %}
                                                    <tr ng-repeat="event in events">
                                                        <td><a href="/dashboard/videos/event_step/?event_id={{event.id}}">{{event.id}}</a></td>
                                                        <td>{{event.camera}}</td>
                                                        <td>{{event.cause}}</td>
                                                        <td>{{event.starttime|date : 'yyyy/MM/dd HH:mm'}}</td>
                                                        <td>{{event.endtime|date : 'yyyy/MM/dd HH:mm'}}</td>
                                                        
                                                        
                                                        <td>
                                                            <div class='row' ng-repeat="order in event.orders">
                                                               <span class="col-md-4" style="border-right:1px solid #ddd;">{{order.id}}</span> <span class="col-md-4" style="border-right:1px solid #ddd;">{{order.status}}</span><span class="col-md-4">{{order.user}}</span> 
                                                            </div>
                                                        </td>
                                                            
                                                        
                                                    </tr>
                                                    

                                                    
                                                    {% endverbatim %}

                                            </tbody>
                                                
                                            </table>
                                        </div>
                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>
</div>



{% endblock content %}
{% block extra_angular %}
    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/video_events_list.js'></script>

    
{% endblock extra_angular %}