{% extends "dashboardui/base.html" %}

{% block extra_css %}
<style type="text/css">
    .menu-on-top #main {
margin-left: 0!important;
margin-top: -12px!important;
}
#content {
padding: 10px 0px;
position: relative;
}
#ribbon {
min-height: 40px;
background: transparent;
padding: 0 13px;
position: absolute;
top: 85px!important;
z-index: 1;
}
</style>
    
{% endblock extra_css %}

{% block subnav %}

    
{% endblock subnav %}
{% block sidebar %}
    
{% endblock sidebar %}

{% block ng %}
 ng-controller='IframeVideosCtrl'   
{% endblock ng %}

{% block maincontent %}
<div id="ribbon" class="col-md-2 col-md-offset-10">
<div class="form-group">
    
    <select class="form-control" ng-model='selected_location' ng-options='location.name for location in locationList'></select>
  </div>    
</div>
<div>
{% verbatim %}
<div style="height:1000px" ng-cloak>
    <iframe src="{{selected_location.id}}" style="border: 0;  top:0; left:0; right:0; bottom:0; width:100%; height:100%" id="iframe" name="kiosk_frame"></iframe>
</div>

{% endverbatim %}

    
</div>

    
{% endblock maincontent %}

{% block extra_angular %}
  <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/iframevideos.js?v=1.2'></script>  

    
{% endblock extra_angular %}