{% extends "dashboardui/base.html" %}
{% block extra_css %}
<style type="text/css">
    #sparks li h5 {

margin: 0px 0 0 0;



}
.grid {
  width: 100%;
  height: 725px;
}



</style>
    
{% endblock extra_css %}

{% block ng %}
 ng-controller='LiveStreamCtrl'   ng-init='get_monitors_id({{monitors}})'
{% endblock ng %}

{% block sub_sidebar %}
    
    
<div class="panel panel-default">
<div class="panel-heading">Cameras</div>
<div class="panel-body">
<form class="smart-form">
        <fieldset>
<section>
   
    <div class="inline-group col-md-12" ng-cloak>
        {% verbatim %}
        <label class="checkbox col-md-8" ng-repeat="camera in monitors">
            <input type="checkbox" ng-checked="isSelected(camera)" ng-click="updateSelection($event, camera)">
        <i></i>{{camera.name}}</label>
    {% endverbatim %}
    
    
    
</div>
</section>
        </fieldset>
        
    </form> 
    
</div>
      
  </div>
   
{% endblock sub_sidebar %}

{% block content %}

    <div class="row" ng-cloak>
    {% verbatim %}

    <div class="col-md-6" ng-repeat="camera in selected">
    {{camera.name}}
                <img src="/cgi-bin/nph-zms?mode=jpeg&monitor={{camera.id}}&scale=100&maxfps=5&buffer=1000&connkey=305922&rand=1423536215" class="img-responsive img-thumbnail">
                </div>
    
    {% endverbatim %}

</div>

{% endblock content %}
{% block extra_angular %}

    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/livestream.js'></script>

    
{% endblock extra_angular %}