{% extends "dashboardui/base.html" %}
{% block extra_css %}
<style type="text/css">
    #sparks li h5 {

margin: 0px 0 0 0;



}
.grid {
  width: 100%;
  height: 725px;
}

.videogular-container {
    width: 100%;
    height: 320px;
    margin: auto;
    overflow: hidden;
}
 
@media (min-width: 1200px) {
    .videogular-container {
        width: 1100px;
        height: 658.125px;
    }
}
 
@media (min-width: 992px) and (max-width: 1199px) {
    .videogular-container {
        width: 930px;
        height: 520.75px;
    }
}
 
@media (min-width: 768px) and (max-width: 991px) {
    .videogular-container {
        width: 700px;
        height: 400.5px;
    }
}



</style>
    
{% endblock extra_css %}

{% block ng %}
 ng-controller='VideoForTrasactionCtrl as controller'   ng-init='get_events({{events}})'
{% endblock ng %}

{% block sub_sidebar %}
    
    
<div class="panel panel-default">
<div class="panel-heading">Filters</div>
<div class="panel-body">
<div>
{% verbatim %}
<button class="btn btn-success btn-block " ng-click='set_time()' ng-cloak>{{video.date}} {{video.time}}</button>
{% endverbatim %}

       
   </div>
<form class="smart-form">
        <fieldset>

        </fieldset>
        <fieldset>
            <section>
                <div class="row">
                {% verbatim %}
                <div class="col-md-5" style='padding:0 3px'><a href='{{previous_event}}' class="btn btn-block" ng-class="previous_url_css" >Previous</a></div>
       <div class="col-md-5"><a href="{{next_event}}" class="btn btn-block" ng-class="next_url_css">Next</a></div>
                
                {% endverbatim %}
                
       
   </div>
   
            </section>
        </fieldset>
        <fieldset>
            <section>
            
            
                <button class="btn btn-info btn-block btn-lg" ng-show="images_showing&&!videos_showing" ng-click='show_videos()' >View Videos</button>

                <button class="btn btn-success btn-block btn-lg" ng-show="videos_showing&&!images_showing" ng-click="videos_showing=!videos_showing;images_showing=true">View Images</button>
            </section>
        </fieldset>

        <fieldset>
        Orders in Video
        <order-in-video video='video.id'>

                <order>
            
        </fieldset>
        
    </form> 

    
    
</div>
      
  </div>
   
{% endblock sub_sidebar %}

{% block content %}

    <div class="row" ng-cloak ng-show="images_showing">
    {% verbatim %}

    <div ng-repeat="event in events" ng-cloak>
    <span class="col-md-12">Event : {{event.id}} - Cause : {{event.cause}}</span>
    <div class="col-md-4">
        <img src="/events/{{event.monitorid}}/{{event.start_image}}" class="img-thumbnail img-responsive">
    </div>
    <div class="col-md-4">
        <img src="/events/{{event.monitorid}}/{{event.middle_image}}" class="img-thumbnail img-responsive">
    </div>
    <div class="col-md-4">
        <img src="/events/{{event.monitorid}}/{{event.end_image}}" class="img-thumbnail img-responsive">
    </div>
    
    
    

    </div>
    {% endverbatim %}
    </div>

    <div ng-show="videos_showing" ng-cloak>

    <div class="form-group col-md-3">
        Choose monitor to view: <select ng-options="event.monitorid for event in events" ng-model="video" class='form-control' ng-change="get_video(video)" ></select>   
 
    </div>
    <div class="form-group col-md-3">
    Download Video:
    {% verbatim %}
    <a class="btn btn-success btn-block" href="{{url}}" target="_self" download="{{video_name}}">Download Video</a> 
    {% endverbatim %}
    
         
       
 
    </div>

    <hr class="col-md-12" />

    <div class="col-md-12 videogular-container">
    {% verbatim %}
    <videogular vg-theme="config.theme">
            <vg-media vg-src="config.sources"
                    vg-tracks="config.tracks">
            </vg-media>
 
            <vg-controls>
                <vg-play-pause-button></vg-play-pause-button>
                <vg-time-display>{{ currentTime | date:'mm:ss' }}</vg-time-display>
                <vg-scrub-bar>
                    <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                </vg-scrub-bar>

                <vg-time-display>{{ timeLeft | date:'mm:ss' }}</vg-time-display>
                <vg-volume>
                    <vg-mute-button></vg-mute-button>
                    <vg-volume-bar></vg-volume-bar>
                </vg-volume>
                <vg-fullscreen-button></vg-fullscreen-button>
                
                
            </vg-controls>
 
            <vg-overlay-play></vg-overlay-play>
            <vg-poster vg-url='config.plugins.poster'></vg-poster>
        </videogular>
    
    {% endverbatim %}
    
    
        

    </div>

        
    </div>

    



{% endblock content %}
{% block extra_angular %}



    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/videos_for_transaction.js'></script>
     <script type="text/javascript" src='/static/dashboard_scripts/directives/orders_in_videos.js'></script>
    
{% endblock extra_angular %}