{% extends "dashboardui/base.html" %}
{% block extra_css %}
<style type="text/css">
    #sparks li h5 {

margin: 0px 0 0 0;



}
.grid {
  width: 100%;
  height: 725px;
}



</style>
    
{% endblock extra_css %}

{% block ng %}
 ng-controller='UserDetailsCtr'   
{% endblock ng %}

{% block sub_sidebar %}
    
    
<div class="well">
        <div class="form-group">
    <label for="locations" style="font-weight:bold; font-size:18px" >Location </label>
    <br/>
    {{location_name}}
  </div> 
  </div>
   
{% endblock sub_sidebar %}

{% block content %}
<div ng-init='init({{user.id}}, "{{user.username}}", {{user.balance}}, {{user.total_deposits}}, {{user.total_expenses}}, {{user.admin_deducts}}, "{{user.pay_by_payroll}}")' >
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-5">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Users <span> User Details </span></h1>
                <!--get user details -->
                    <div class="panel panel-default">
        <div class="panel-heading">

            <h1>{{user.first_name}} <span class="semi-bold">{{user.last_name}}</span>
            <br>
                                            <small>{{user.username}}</small></h1>
        </div>
        <div class="panel-body">

                                            <ul class="list-unstyled">
                                                
                                                <li>
                                                    <p class="text-muted">
                                                        <i class="fa fa-envelope"></i>&nbsp;&nbsp;{{user.email}}
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted" ng-cloak>
                                                    {% verbatim %}
                                                    Balance:&nbsp;&nbsp;<span class="txt-color-darken">${{balance|number:2}}</span>
                                                    {% endverbatim %}
                                                    
                                                        
                                                    </p>
                                                </li>
                                                <li>
                                                <li>
                                                    <p class="text-muted" ng-cloak>
                                                    {% verbatim %}
                                                    Total Deposits:&nbsp;&nbsp;<span class="txt-color-darken">${{total_deposits|number:2}}</span>
                                                    {% endverbatim %}
                                                    
                                                        
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted" ng-cloak>
                                                    {% verbatim %}
                                                    Total expenses:&nbsp;&nbsp;<span class="txt-color-darken">${{total_expenses|number:2}}</span>
                                                    {% endverbatim %}
                                                    
                                                        
                                                    </p>
                                                </li>
                                                <li>
                                                    <p class="text-muted" ng-cloak>
                                                    {% verbatim %}
                                                    Total Deducts:&nbsp;&nbsp;<span class="txt-color-darken">${{total_deducts|number:2}}</span>
                                                    {% endverbatim %}
                                                    
                                                        
                                                    </p>
                                                </li>
                                                    
                                                </li>
                                            </ul>

                                            <div class="row">
                                            <div class="col-md-6">
                                            <button class="btn btn-success" ng-click="increase=!increase;decrease=false">Increase Balance</button>
                                                
                                            </div>
                                            <div class="col-md-6">
                                            <button class="btn btn-success" ng-click="decrease=!decrease;increase=false">decrease Balance</button>
                                                
                                            </div>

                                                
                                            </div>
                                            <div class="col-md-12" ng-show="increase&&!decrease" style="margin-top:20px" ng-cloak>
                                            
                                            
                                            <form class="smart-form">
                                                <section>
                                                    <label class="label"><strong>Increase User Balance By</strong></label>
                                                    <label class="input">
                                                        <input type="number" class="input-xs" ng-model="increase_balance_value">
                                                    </label>
                                                    <button class="btn btn-success" ng-click="increment_user_balance()">Increment Blance</button>
                                                </section>
                                            </form>
                                            <div >
                                                
                                            </div>
                                            
                                            </div>
                                            <div class="col-md-12" ng-show="decrease&&!increase" style="margin-top:20px" ng-cloak>
                                            
                                            
                                            <form class="smart-form">
                                                <section>
                                                    <label class="label"><strong>Decrease User Balance By</strong></label>
                                                    <label class="input">
                                                        <input type="number" class="input-xs" ng-model="decrease_balance_value" >
                                                    </label>
                                                    <button class="btn btn-success" ng-click="decrement_user_balance()" >Decrement Balance</button>
                                                </section>
                                            </form>
                                            <div >
                                                
                                            </div>
                                            
                                            </div>
                                            <hr />
                                            <!--<div>
                                                <form class="smart-form" cg-busy="{promise:paymentpromise,message:'Please Wait',minDuration:300}">
                                                <fieldset>
                                                    <section>
                                                    {% verbatim %}
                                                    <div class='col-md-7'>
                                                        <label class="toggle">
                                                            <input type="checkbox" name="payroll" ng-model="pay_by_payroll" disable-invalid-styling="true" ng-change="save_payment()" /> 
                                                            <i data-swchon-text="ON" data-swchoff-text="OFF"></i>Pay By Payroll {{pay_by_payroll}}</label>
                                                        </div>
                                                    
                                                    {% endverbatim %}
                                                    
                                                        
                                                        
                                                    
                                                    
                                                    </section>
                                                </fieldset>
                                                    
                                                </form>
                                            </div> -->
            
        </div>
            
        </div><!--end get user details -->
<!-- get user cashflow -->


    <!--end get user cashflow -->

                </div>
                <!--get user transactions -->
                <div class="col-md-7">
                    
                </div>
                <!--end get user transactions -->

        
        


   
    
   
    
</div>
<section id='widget-grid' ng-cloak>
                    <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-shopping-cart"></i> Past Transactions</h1>
        
    <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="fa fa-shopping-cart"></i> </span>
                        <h2>Order List </h2>
                        <div class="widget-toolbar">
                        <!-- add: non-hidden - to disable auto hide -->

                        {% verbatim %}
                        
                        PAGE {{order_meta.offset/order_meta.limit+1}} of {{order_meta.total_count/order_meta.limit|number : 0 }}
                        <button class="btn btn-default" role="button" ng-click="get_previous_orders()">Previous</button>
                        <button class="btn btn-default" role="button" ng-click="get_next_orders()">Next</button>
                        {% endverbatim %}
                        

                        
                    </div>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Order Id</th>
                                                    <th>Status</th>
                                                    <th>Date/Time</th>
                                                    <th>User</th>
                                                    <th>Order Total</th>
                                                    <th>Gst Total</th>
                                                    <th>Pst Total</th>
                                                    <th>Payment Method</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                    {% verbatim %}
                                                    <tr ng-repeat="order in orders">
                                                        <th>Location</th>
                                                        <td><a href="/dashboard/orders/order_detail/{{order.id}}/">{{order.id}}</a></td>
                                                        <td>{{order.status | status}}</td>
                                                        <td>{{order.created|date : 'MMM dd, yyyy  H:mm a'}}</td>
                                                        <td>{{order.user}}</td>
                                                        <td>{{order.order_total}}</td>
                                                        <td>{{order.Gst}}</td>
                                                        <td>{{order.Pst}}</td>
                                                        <td>{{order.payment_method}}</td>
                                                    </tr>

                                                    
                                                    {% endverbatim %}

                                                    
                                                    
                                                    
                                                
                                            </tbody>
                                                
                                            </table>
                                        </div>
                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>

<section id='widget-grid'>
<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-university"></i> Past Cash Flow</h1>
        
    <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="fa fa-university"></i> </span>
                        <h2>Cash Flow </h2>
                        <div class="widget-toolbar">
                        <!-- add: non-hidden - to disable auto hide -->

                        {% verbatim %}
                        
                        PAGE {{meta.offset/meta.limit+1}} of {{meta.total_count/meta.limit|number : 0 }}

                        <button class="btn btn-default" role="button" ng-click="get_previous()">Previous</button>
                        <button class="btn btn-default" role="button" ng-click="get_next()">Next</button>
                        {% endverbatim %}
                        

                        
                    </div>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Location</th>
                                                    
                                                
                                                    <th>Date/Time</th>
                                                   
                                                    <th>Amount</th>

                                                    <th>Method</th>
                                                    <th>Card Info</th>
                                                    <th>Order id</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                    {% verbatim %}
                                                    <tr ng-repeat="cashflow in cashflow_data">
                                                        <th>Location</th>
                                                        
                                                        <td>{{cashflow.date|date : 'MMM dd, yyyy  H:mm a'}}</td>
                                                        <td>{{cashflow.amount}}</td>
                                                        <td>{{cashflow.description}}</td>
                                                        <td>{{cashflow.extra_field}}</td>
                                                      
                                                        <td>{{cashflow.order_id}}</td>

                                                    </tr>

                                                    
                                                    {% endverbatim %}

                                                    
                                                    
                                                    
                                                
                                            </tbody>
                                                
                                            </table>
                                        </div>
                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>

    
</div>

{% endblock content %}
{% block extra_angular %}

    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/user_detail_controller.js'></script>

    
{% endblock extra_angular %}