{% extends "dashboardui/base.html" %}
{% block extra_css %}
<style type="text/css">
    #sparks li h5 {

margin: 0px 0 0 0;



}
.grid {
  width: 100%;
  height: 725px;
}



</style>
    
{% endblock extra_css %}

{% block ng %}
 ng-controller='UserListCtrl'   
{% endblock ng %}

{% block sub_sidebar %}
    
    {{block.super}}
{% block datetime %}
    
{% endblock datetime %}
<div class="well">

<div class="row" style="margin-top:10px">

<div class="col-md-12" style="margin-top:10px">
<span class="text-muted"></span>
<button class="btn btn-success btn-block" ng-click="uploadNewUsers()">Import Users Csv</button>
    
</div>
<div class="col-md-12" style="margin-top:10px">
<button class="btn btn-success btn-block" ng-csv="export_csv()" filename="user.csv" csv-header='csv_headers' lazy-load='true'>Export Users csv</button>
    </div>

    <div class="col-md-12" style="margin-top:10px">
<button class="btn btn-success btn-block" ng-click="createNewUser()">Add Single User</button>
    </div>
</div>
    
</div>
        
   
{% endblock sub_sidebar %}

{% block content %}
<div >
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Users <span> Users List </span></h1>
        

    </div>
   <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-1"><div class="input-group" style='margin-top: 10px;'>  
      <input type="text" class="form-control" placeholder="Search User name or Keytag" ng-model="usersToBeSearched" ng-keypress="{13:'search_product($event)'}">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button" ng-click="search_user()">Go!</button>
      </span>
    </div>
    
   
    
</div>
    <section id='widget-grid'>
        
    <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                        <h2>Users List (Double Click On Row Cell To Start Editing - Press Enter To Save) </h2>
                        <div class="widget-toolbar">
                        <!-- add: non-hidden - to disable auto hide -->

                        {% verbatim %}
                        
                        PAGE {{meta.offset/meta.limit+1}} of {{meta.total_count/meta.limit|number : 0 }}
                        <button class="btn btn-default" role="button" ng-click="get_previous()">Previous</button>
                        <button class="btn btn-default" role="button" ng-click="get_next()">Next</button>
                        {% endverbatim %}
                        

                        
                    </div>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" cg-busy="{promise:users,message:'Please Wait',minDuration:900}">

                                            
                                           <div class="grid" ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNa  external-scopes="$scope"  >
        </div>
        
          
                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>
</div>


<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Add New User</h3>
        </div>
        <div class="modal-body">
            
            <form class="smart-form" novalidate name='user_form' >

            <fieldset>
            <section ng-class="{ 'state-error' : user_form.first_name.$invalid  }">
                <label class="label">First Name</label>
                <label class="input">
                    <input type="text"  ng-model="new_user.first_name" required name="first_name" />
                </label>
                <div class="note note-error" ng-show="user_form.first_name.$invalid" >First Name is required.</div>
            </section>
            <section ng-class="{ 'state-error' : user_form.last_name.$invalid  }">
                <label class="label">Last Name</label>
                <label class="input">
                    <input type="text"  ng-model="new_user.last_name" required name="last_name" />
                </label>
                <div class="note note-error" ng-show="user_form.last_name.$invalid" >Last Name is required.</div>
            </section>
            <section ng-class="{ 'state-error' : user_form.username.$invalid  }">
                <label class="label">KeyTag</label>
                <label class="input">
                    <input type="text"  ng-model="new_user.username" required name="username" ng-unique-user />
                </label>
                <div class="note note-error" ng-show="user_form.username.$error.unique" >User Already Exists.</div>
                <div class="note note-error" ng-show="user_form.username.$invalid" >KeyTag is required.</div>
            </section>
            <section ng-class="{ 'state-error' : user_form.email.$invalid  }">
                <label class="label">Email</label>
                <label class="input">
                    <input type="email"  ng-model="new_user.email" required name="email" />
                </label>
                <div class="note note-error" ng-show="user_form.email.$invalid" >Email is required.</div>
            </section>
            


            </fieldset>
            
            </form>
            </b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()" ng-disabled="user_form.$invalid">Save User</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
        </script>



        <script type="text/ng-template" id="uploadFileContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Upload Users Csv </h3>
        </div>
        <div class="modal-body">
            
           Choose User Csv: <input type="file" ng-file-select="onFileSelect($files)" onclick="this.value=null" name="file">

        </div>
        <div class="modal-footer">                                                                                                                                                                                                                                                                                                                              
            <button class="btn btn-success" ng-click="ok()" ng-disabled="user_form.$invalid">Save User</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
        </div>
        </script>

{% endblock content %}
{% block extra_angular %}
    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/users_controller.js'></script>
    
{% endblock extra_angular %}