<!DOCTYPE html>
<html lang="en-us" ng-app="dashboardui">	
	<head>
		<meta charset="utf-8">
		<title> Canada Micro Markets - {% block title %} {% endblock title %}</title>
		<meta name="description" content="">
		<meta name="author" content="">
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<!-- #CSS Links -->
		<!-- Basic Styles -->
        <style type="text/css">
        [ng\:cloak],[ng-cloak],.ng-cloak{display:none !important}
        </style>

        {% block iframepagecss %}
        	
        {% endblock iframepagecss %}


		<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}ui-grid/ui-grid.css?v=1.2" />
		<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/bootstrap.min.css?v=1.2">
		<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/font-awesome.min.css?v=1.2">

		<!-- SmartAdmin Styles : Please note (smartadmin-production.css?v=1.2) was created using LESS variables -->
		<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/smartadmin-production.min.css?v=1.2">
		<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/smartadmin-skins.min.css?v=1.2">
		<link href="{{STATIC_URL}}font-awesome/css/font-awesome.min.css?v=1.2" rel="stylesheet">

		<!-- SmartAdmin RTL Support is under construction
			 This RTL CSS will be released in version 1.5
		<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/smartadmin-rtl.min.css?v=1.2"> -->

		<!-- We recommend you use "your_style.css?v=1.2" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update. -->
		<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/style.css?v=1.2">
	
		<link rel="stylesheet" type="text/css" media="screen" href='{{ STATIC_URL }}angular-busy/angular-busy.css?v=1.2'>
		<link rel="stylesheet" type="text/css" media="screen" href="{{STATIC_URL}}css/toaster.css?v=1.2">


		

		<!-- #FAVICONS -->
		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

		<!-- #GOOGLE FONT -->
		{# <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700"> #}

		<!-- #APP SCREEN / ICONS -->
		<!-- Specifying a Webpage Icon for Web Clip 
			 Ref: https://developer.apple.com/library/ios/documentation/AppleApplications/Reference/SafariWebContent/ConfiguringWebApplications/ConfiguringWebApplications.html -->
		<link rel="apple-touch-icon" href="img/splash/sptouch-icon-iphone.png">
		<link rel="apple-touch-icon" sizes="76x76" href="img/splash/touch-icon-ipad.png">
		<link rel="apple-touch-icon" sizes="120x120" href="img/splash/touch-icon-iphone-retina.png">
		<link rel="apple-touch-icon" sizes="152x152" href="img/splash/touch-icon-ipad-retina.png">
		
		<!-- iOS web-app metas : hides Safari UI Components and Changes Status Bar Appearance -->
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		
		<!-- Startup image for web apps -->
		<link rel="apple-touch-startup-image" href="img/splash/ipad-landscape.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape)">
		<link rel="apple-touch-startup-image" href="img/splash/ipad-portrait.png" media="screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait)">
		<link rel="apple-touch-startup-image" href="img/splash/iphone.png" media="screen and (max-device-width: 320px)">

		<style type="text/css">
		#ribbon {
min-height: 40px;
background: #41992B;
padding: 0 13px;
position: relative;
}
.sub_nav_menu .sub_nav_menu_ul li a {
color: #F2EEEE;
font-size: 15px;
}
nav ul .active>a {
color: #fff!important;
position: relative;
background: #41992B;
border-bottom: #41992B;
}

.menu-on-top aside#left-panel {
width: 100%!important;
min-height: 0!important;
height: auto;
overflow: visible;
-webkit-box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
box-shadow: 0 2px 4px 0 rgba(0,0,0,.25);
border-bottom: 0px solid #222;
border-top: 1px solid #333;
}
		
        
		</style>
		{% block extra_css %}
			
		{% endblock extra_css %}

	</head>

	
	<body class="menu-on-top fixed-footer" ng-controller="NavLinkCtrl" >
	<toaster-container toaster-options="{'position-class': 'toast-top-right'}"></toaster-container>

	<header id="header">
			

			<!-- #PROJECTS: projects dropdown -->
			
			<!-- end projects dropdown -->
			
			<!-- #TOGGLE LAYOUT BUTTONS -->
			<!-- pulled right: nav area -->
			<div class="pull-right">
				
				<!-- collapse menu button -->
			 	{% block header %}
			 	<div id="hide-menu" class="btn-header pull-right">
				

					<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>
			 		
			 	{% endblock header %}


			

			</div>
			<!-- end pulled right: nav area -->

		</header>

		
		<aside id="left-panel" >

			<!-- User info -->
			<div class="login-info">
				
			</div>
			<!-- end user info -->

			<!-- NAVIGATION : This navigation is also responsive

			To make this navigation dynamic please make sure to link the node
			(the reference to the nav > ul) after page load. Or the navigation
			will not initialize.
			-->
			<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" data-action="toggleMenu" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>
			{% block topnav %}
			<nav >
				{% include 'dashboardui/nav.html'%}
			</nav>
				
			{% endblock topnav %}
			
			

		</aside>
		<!-- END NAVIGATION -->

		<!-- #MAIN PANEL -->
		<div id="main" role="main">

			<!-- RIBBON -->
			{% block subnav %}
			<div id="ribbon">
                <!-- sub nav -->
                {% include "dashboardui/subnav.html" %}

			</div>
				
			{% endblock subnav %}
			
			<!-- END RIBBON -->

			<!-- #MAIN CONTENT -->
			<div ng-controller="DatetimeCtr" ng-init='dateInit("{{today}}","{{last_week}}")'>
				<div id="content" {% block ng %} {% endblock ng %}>
			{% block sidebar %}
			<div class="col-md-2" style="margin-bottom: 100px;">
			{% block sub_sidebar %}
				<div class="well" >
				<div ng-controller="LocationsCtrl" ng-init='initLocations("{{location_name}}")' >
				{% block location %}

				<div class="form-group">
    <label for="locations" style="font-weight:bold">Select Location </label>
    <select class="form-control" ng-model='location_name' ng-options='location for location in locations' ng-change="change_location(location_name)"></select>
  </div>
				
					
				{% endblock location %}
				</div>
				{% block datetime %}
					<div class="form-group">
    <label for="lastweek" style="font-weight:bold">From <span class="text-muted">(YYYY-MM-dd)</span></label>
    <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" ng-model="lastweek" is-open="lastweek_opened" max-date="'2015-06-22'" datepicker-options="dateOptions"  show-button-bar='false' ng-click="open_lastweek($event)"  >
  </div>
  <div class="form-group">
    <label for="to" style="font-weight:bold">To <span class="text-muted">(YYYY-MM-dd)</span></label>
    <input type="text" class="form-control" datepicker-popup="yyyy-MM-dd" format-day='dd' format-month='MM' format-year='YYYY' ng-model="today" is-open="today_opened" max-date="'2015-06-22'" datepicker-options="dateOptions" show-button-bar='false'  ng-click="open_today($event)" >
  </div>
  <div  ><button class="btn btn-success" ng-click="reload_data()">Submit</button> </div>
				{% endblock datetime %}
				
  
	
	</div>


			{% endblock sub_sidebar %}
				
			</div>
				
			{% endblock sidebar %}

			{% block maincontent %}
			<div class="col-md-10" style="margin-bottom:60px">


			{% block content %}
				
			{% endblock content %}

				
			</div>
				
			{% endblock maincontent %}

			</div>
			</div>

			
			
			<!-- END #MAIN CONTENT -->

		</div>
		<!-- END #MAIN PANEL -->

		<!-- #PAGE FOOTER -->
		<div class="page-footer">
			<div class="row">
				<div class="col-xs-12 col-sm-6">
					<span class="txt-color-white">Canada Micro Markets WebApp © 2014</span>
				</div>

				
				<!-- end col -->
			</div>
			<!-- end row -->
		</div>
		
		
		<script src="{{STATIC_URL}}js/libs/jquery-2.0.2.min.js?v=1.2"></script>
		

		<script src="{{STATIC_URL}}js/libs/jquery-ui-1.10.3.min.js?v=1.2"></script>
		<script src="{{ STATIC_URL }}socket.io.js?v=1.2"></script>

        <script type="text/javascript" src="{{STATIC_URL}}fileUpload/angular-file-upload-shim.min.js?v=1.2"></script>

		<script type="text/javascript" src='{{ STATIC_URL }}angular/angular.min.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-resource.min.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-route.min.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-sanitize.min.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-touch.min.js?v=1.2'></script>

	<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-cookies.min.js?v=1.2'></script>

	<script type="text/javascript" src='{{ STATIC_URL }}angular/angular-animate.min.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}angular/ui-bootstrap-tpls-0.11.2.min.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}ui-grid/ui-grid.js?v=1.2'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}ng-csv/ng-csv.js?v=1.2'></script>
    <script src="{{ STATIC_URL }}/auto_validate/jcs-auto-validate.min.js?v=1.2"></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}angular-socket-io-master/socket.js?v=1.2"></script>
        <script type="text/javascript" src="{{STATIC_URL}}fileUpload/angular-file-upload.min.js?v=1.2"></script>
        <script src="{{ STATIC_URL }}video/bower-videogular/videogular.js?v=1.2"></script>
<script src="{{ STATIC_URL }}video/bower-videogular-controls/vg-controls.js?v=1.2"></script>
<script src="{{ STATIC_URL }}video/bower-videogular-overlay-play/vg-overlay-play.js?v=1.2"></script>
<script src="{{ STATIC_URL }}video/bower-videogular-poster/vg-poster.js?v=1.2"></script>
<script src="{{ STATIC_URL }}video/bower-videogular-buffering/vg-buffering.js?v=1.2"></script>


	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/app.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/directives/flot.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/directives/bar.js?v=1.3'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/directives/ng-unique.js?v=1.2'></script>
	
	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/directives/blur.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/directives/save-on-blur.js?v=1.2'></script>

	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/directives/input_submit.js?v=1.2'></script>


	<script type="text/javascript" src='{{ STATIC_URL }}angular-busy/angular-busy.js?v=1.2'></script>


	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/linkcontroller.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/datetime.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/locations.js?v=1.2'></script>

	
	
	
	






	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/filters/order_status.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/services/crudOperations.js?v=1.2'></script>

	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/services/orders_service.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/services/cashflow_service.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/services/products_service.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/services/category_service.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/services/user_service.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/services/sockets.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/services/supplier_service.js?v=1.2'></script>
	<script type="text/javascript" src='{{ STATIC_URL }}toaster.js?v=1.2'></script>
	

    {% block extra_angular %}
    	
    {% endblock extra_angular %}





  

	
		

		<!-- IMPORTANT: APP CONFIG -->
		<script src="{{STATIC_URL}}js/app.config.js?v=1.2"></script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events-->
		<script src="{{STATIC_URL}}js/plugin/jquery-touch/jquery.ui.touch-punch.min.js?v=1.2"></script> 

		<!-- BOOTSTRAP JS -->
		<script src="{{STATIC_URL}}js/bootstrap/bootstrap.min.js?v=1.2"></script>

		<!-- CUSTOM NOTIFICATION -->
		<script src="{{STATIC_URL}}js/notification/SmartNotification.min.js?v=1.2"></script>

		<!-- JARVIS WIDGETS -->
		<script src="{{STATIC_URL}}js/smartwidgets/jarvis.widget.min.js?v=1.2"></script>

		<!-- EASY PIE CHARTS -->
		
		 <script src="{{STATIC_URL}}js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js?v=1.2"></script>

		<!-- SPARKLINES -->
		<script src="{{STATIC_URL}}js/plugin/sparkline/jquery.sparkline.min.js?v=1.2"></script>

		

		<!-- JQUERY VALIDATE -->
		<script src="{{STATIC_URL}}js/plugin/jquery-validate/jquery.validate.min.js?v=1.2"></script>

		<!-- JQUERY MASKED INPUT -->
		<script src="{{STATIC_URL}}js/plugin/masked-input/jquery.maskedinput.min.js?v=1.2"></script>

		<!-- JQUERY SELECT2 INPUT -->
		<script src="{{STATIC_URL}}js/plugin/select2/select2.min.js?v=1.2"></script>

		<!-- JQUERY UI + Bootstrap Slider -->

<!--		<script src="{{STATIC_URL}}js/plugin/bootstrap-slider/bootstrap-slider.min.js?v=1.2"></script>
 -->
		<!-- browser msie issue fix -->
		<script src="{{STATIC_URL}}js/plugin/msie-fix/jquery.mb.browser.min.js?v=1.2"></script>

		<!-- FastClick: For mobile devices: you can disable this in app.js?v=1.2 -->
		<script src="{{STATIC_URL}}js/plugin/fastclick/fastclick.min.js?v=1.2"></script>

		<!--[if IE 8]>
			<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
		<![endif]-->

		<!-- Demo purpose only -->
		<!--<script src="{{STATIC_URL}}js/demo.min.js?v=1.2"></script>-->

		<!-- MAIN APP JS FILE -->
		<script src="{{STATIC_URL}}js/app.min.js?v=1.2"></script>


		{% block extra_js %}
			
		{% endblock extra_js %}

		

	
		

	</body>

</html>