{% extends "dashboardui/base.html" %}
{% block topnav %}
    
{% endblock topnav %}

{% block subnav %}
    
{% endblock subnav %}

{% block sidebar %}
    
{% endblock sidebar %}
{% block extra_css %}
<style type="text/css">
    #header{
        padding-top:10px;
        display: block
    }
</style>
            
        {% endblock extra_css %}
{% block header %}
<span class="text-danger" >Not {{company}} ?</span> <a href="http://beyondvending.com/" class="btn btn-danger">Go Back</a>
    
{% endblock header %}

{% block maincontent %}




    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 col-md-offset-3 col-lg-offset-4">
                        <div class="well no-padding">
                            <form action="." id="login-form" class="smart-form client-form" method="post">
                            {% csrf_token %}
                                <header>
                                    Sign In
                                </header>
                                {% if form.errors %}
                                    <p>Your username and password didn't match. Please try again.</p>
                                {% endif %}

                                <fieldset>
                                    
                                    <section>
                                        <label class="label">Username</label>
                                        <label class="input"> <i class="icon-append fa fa-user"></i>
                                            <input type="text" name="username" id="id_username">
                                            <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Please enter email address/username</b></label>
                                    </section>

                                    <section>
                                        <label class="label">Password</label>
                                        <label class="input"> <i class="icon-append fa fa-lock"></i>
                                            <input type="password" name="password" id='id_password'>
                                            <b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Enter your password</b> </label>
                                        
                                    </section>

                                    
                                </fieldset>

                                <footer>
                                <input type="hidden" name="next" value="{{ next }}" />
                                    <input type="submit" value="Log In" class="btn btn-large btn-success" />
                                </footer>
                            </form>

                        </div>
{% endblock maincontent %}


