<style type="text/css">
    .logout{
         
position: relative;
height: auto!important;
padding: 0!important;
display: inline-block;
float: left;
border-right: 1px solid #222;
border-left: 1px solid #4E4E4E;
overflow: visible;
}

</style>

<ul >
	<li ng-class="{active : active=='home'}"  >
		<a href="{% url 'home' %}" title="Dashboard" ><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
	</li>
    <li ng-class="{active : active=='orders'}"  >
        <a href="{% url 'orders' %}" title="Transactions" ><i class="fa fa-lg fa-fw fa-shopping-cart"></i> <span class="menu-item-parent">Transactions</span></a>
    </li>
    <li ng-class="{active : active=='products'}"  >
        <a href="{% url 'products' %}" title="Products" ><i class="fa fa-lg fa-fw fa-barcode"></i> <span class="menu-item-parent">Products</span></a>
    </li>
    <li ng-class="{active : active=='users'}"  >
        <a href="{% url 'users' %}" title="Users" ><i class="fa fa-lg fa-fw fa-users"></i> <span class="menu-item-parent">Customers</span></a>
    </li>
    <li ng-class="{active : active=='inventory'}"  >
        <a href="{% url 'inventory_restock' %}" title="Inventory" ><i class="fa fa-lg fa-fw fa-tachometer"></i> <span class="menu-item-parent">Inventory</span></a>
    </li>
    <li ng-class="{active : active=='settings'}"  >
        <a href="{% url 'taxes_settings' %}" title="Settings" ><i class="fa fa-lg fa-fw fa-cogs"></i> <span class="menu-item-parent">Settings</span></a>
    </li>
    {% if zm %}
    <li ng-class="{active : active=='videos'}"  >
        <a href="{% url 'livestream' %}" title="Videos" ><i class="fa fa-lg fa-fw fa-video-camera"></i> <span class="menu-item-parent">Videos</span></a>
    </li>

    {% else %}
    <li ng-class="{active : active=='videos'}"  >
        <a href="{% url 'iframezm' %}" title="Videos" ><i class="fa fa-lg fa-fw fa-video-camera"></i> <span class="menu-item-parent">Videos</span></a>
    </li>

        
    {% endif %}

    <li ng-class="{active : active=='admin'}"  >
        <a href="{% url 'admin_functions' %}" title="Admin" ><i class="fa fa-lg fa-fw fa-lock"></i> <span class="menu-item-parent">Admin</span></a>
    </li>
    <li ng-class="{active : active=='feedback'}"  >
        <a href="{% url 'feedback' %}" title="Feedback" ><i class="fa fa-lg fa-fw fa-envelope-o"></i> <span class="menu-item-parent">FeedBack</span></a>
    </li>




    
</ul>
<ul class="col-md-offset-11">
<li  >
        <a href="{% url 'logout' %}?next=/dashboard" title="Logout" style="color:#fff"><i class="fa fa-lg fa-fw fa-sign-out"></i> <span class="menu-item-parent">Logout</span></a>
    </li>
    
</ul>

