<span class="ribbon-button-alignment" style="margin-right:25px">
	<!--sub menu for home/dashboard nav -->
	<div class="sub_nav_menu " ng-class="{sticky_nav : active=='home'}">
		<ul class='sub_nav_menu_ul'>
				<li ng-class="getClassUrl('{% url 'home' %}')">
					<a href="{% url 'home' %}">Sales</a>
				</li>
				<li class="dropdown" ng-class="getClassDropdown('reports')">
					<a href="" id="dropdownMenu1" data-toggle="dropdown" class="">Reports</a>
					<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
					<li><a href="{% url 'home_reports_cashbox' %}">Cash Box</a></li>	
		            <li><a href="{% url 'home_reports_products_sold' %}">Products Sold</a></li>         
	                <li><a href="{% url 'home_reports_non_moving_stock' %}">Non Moving Stock</a></li>
	                <li><a href="{% url 'home_reports_missing_barcodes' %}">Missing Scanned Barcodes</a></li>
	                <li><a href="{% url 'home_reports_financial_report' %}">Financial Report</a></li>
	                <li><a href="{% url 'home_reports_daily_financial_report' %}">Daily Financial Report</a></li>
	                <li><a href="{% url 'home_reports_product_profitability' %}">Product Profitability</a></li>
	                <li><a href="{% url 'home_reports_user_profitability' %}">User Profitability</a></li>





                  <!--<li><a href="">Stock Level</a></li>
                  
                  
                  <li><a href="">Users Products Profitability tool</a></li>-->
  				</ul>

				</li>
				<li ng-class="getClassUrl('{% url 'all_locations' %}')">
					<a href="{% url 'all_locations' %}">ALL</a>
				</li>
				
			</ul>

	</div>

	<!--sub menu for orders nav -->

	<div class="sub_nav_menu " ng-class="{sticky_nav : active=='orders'}">
		<ul class='sub_nav_menu_ul'>
				<li ng-class="getClassUrl('{% url 'orders' %}')">
					<a href="{% url 'orders' %}">Orders</a>
				</li>
				<li ng-class="getClassUrl('{% url 'usersonpayroll' %}')">
					<a href="{% url 'usersonpayroll' %}">PayRoll Payments</a>
				</li>
				<li ng-class="getClassUrl('{% url 'orders_cash_flow_list' %}')">
					<a href="{% url 'orders_cash_flow_list' %}">Cash Transactions</a>
				</li>
				<li ng-class="getClassUrl('{% url 'orders_cash_flow_details' %}')">
					<a href="{% url 'orders_cash_flow_details' %}">Cash Flow</a>
				</li>
				
				
			</ul>

	</div>
	<!--sub menu for products nav -->


	<div class="sub_nav_menu " ng-class="{sticky_nav : active=='products'}">
		<ul class='sub_nav_menu_ul'>
				<li ng-class="getClassUrl('{% url 'products' %}')">
					<a href="{% url 'products' %}">Barcode Products</a>
				</li>
				<li ng-class="getClassUrl('{% url 'no_barcode_products' %}')">
					<a href="{% url 'no_barcode_products' %}">No Barcode Products</a>
				</li>
				<li ng-class="getClassUrl('{% url 'category_list' %}')">
					<a href="{% url 'category_list' %}">Categories</a>
				</li>
				<li ng-class="getClassUrl('{% url 'suppliers_list' %}')">
					<a href="{% url 'suppliers_list' %}">Suppliers</a>
				</li>
				
				
				
			</ul>

	</div>

	<!--sub menu for users nav -->


	<div class="sub_nav_menu " ng-class="{sticky_nav : active=='users'}">
		<ul class='sub_nav_menu_ul'>
				<li ng-class="getClassUrl('{% url 'users' %}')">
					<a href="{% url 'users' %}">Customer List</a>
				</li>
				
	
			</ul>

	</div>

	<!--sub menu for Inventory nav -->


	<div class="sub_nav_menu " ng-class="{sticky_nav : active=='inventory'}">
		<ul class='sub_nav_menu_ul'>
		<li ng-class="getClassUrl('{% url 'inventory_restock' %}')">
					<a href="{% url 'inventory_restock' %}">Inventory Restock </a>
				</li>
				<li ng-class="getClassUrl('{% url 'inventory_extra_category_options' %}')">
					<a href="{% url 'inventory_extra_category_options' %}">Extra Category Options</a>
				</li>
				<li ng-class="getClassUrl('{% url 'stock_movement' %}')">
					<a href="{% url 'stock_movement' %}">Stock Movement</a>
				</li>
				<li ng-class="getClassUrl('{% url 'stock_take_reports' %}')">
					<a href="{% url 'stock_take_reports' %}">Stock Take Reports</a>
				</li>
	
		</ul>

	</div>

	<!--sub menu for Inventory nav -->


	<div class="sub_nav_menu " ng-class="{sticky_nav : active=='settings'}">
		<ul class='sub_nav_menu_ul'>
		<li ng-class="getClassUrl('{% url 'taxes_settings' %}')">
					<a href="{% url 'taxes_settings' %}">Taxes Settings </a>
				</li>
				
	<li ng-class="getClassUrl('{% url 'location_settings' %}')">
					<a href="{% url 'location_settings' %}">Location Settings </a>
				</li>
		</ul>
		
				
	
		

	</div>

	<div class="sub_nav_menu " ng-class="{sticky_nav : active=='videos'}">
		<ul class='sub_nav_menu_ul'>
		<li ng-class="getClassUrl('{% url 'orders_videos' %}')">
					<a href="{% url 'orders_videos' %}">Orders</a>
				</li>
				<li ng-class="getClassUrl('{% url 'livestream' %}')">
					<a href="{% url 'livestream' %}">Live Streams</a>

				</li>
				<li ng-class="getClassUrl('{% url 'event_step' %}')">
					<a href="{% url 'event_step' %}">Event Step</a>
					
				</li>
				<li ng-class="getClassUrl('{% url 'event_list' %}')">
					<a href="{% url 'event_list' %}">Event List</a>
					
				</li>
				
	
			</ul>

	</div>

	<div class="sub_nav_menu " ng-class="{sticky_nav : active=='admin'}">
		<ul class='sub_nav_menu_ul'>
				<li ng-class="getClassUrl('{% url 'admin_functions' %}')">
					<a href="{% url 'admin_functions' %}">Kiosk Functions</a>
				</li>
				
	
			</ul>

	</div>

				
					


</span> 