{% extends "dashboardui/base.html" %}

{% block extra_css %}
<style type="text/css">


.badge{
    width:15px!important;
    height:15px!important;
    border-radius:15px!important;

}
.badge-success{
    background-color: #13A902!important;


}
.badge-danger{
    background-color: #E70909!important;


}

.badge:empty {
display: inherit;
}
    
</style>
    
{% endblock extra_css %}

{% block sidebar %}
    
{% endblock sidebar %}



{% block ng %}
 ng-controller='adminFunctionsCtrl'  ng-init = 'initLocations({{locations}})' 
{% endblock ng %}

{% block maincontent %}
<div id="" class="col-md-8 col-md-offset-2" style="margin-bottom:60px">
<h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-lock"></i> Admin <span> Kiosk Functions </span></h1>

<div class="table-responsive">
<table class="table table-stripped table-bordered">
<thead>
    <tr>
        <th>Location</th>
        <th>Online Status</th>
        <th>Database Status</th>
        <th>Current Load</th>
        <th>Disk</th>


        <th>Reboot</th>
    </tr>
</thead>

<tbody ng-cloak>
    {% verbatim %}
    <tr ng-repeat="(key, val) in locations">
    
        <th>{{key}}</th>
        <th ng-show="val.current_state=='0'"><span  class="badge badge-success "></span> Online</th>
        <th ng-show="val.current_state!='0'" class="row"><span  class="badge badge-danger "></span> Offline</th>
        <th ng-show="val.db=='0'"><span  class="badge badge-success "></span> OK</th>
        <th ng-show="val.db!='0'" class="row"><span  class="badge badge-danger "></span> Check db</th>
        <th>{{val.current_load}}</th>
        <th>{{val.disk}}</th>

        <td><button class="btn btn-danger" ng-click="reboot(key)">Reboot</button></td>
   
    
        
    </tr>
    {% endverbatim %}
    
</tbody>

    
</table>
    
</div>


  
</div>

<div>

    
</div>

    
{% endblock maincontent %}

{% block extra_angular %}
  <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/admin_functions.js'></script>  
  <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/services/admin.js'></script>  


    
{% endblock extra_angular %}