{% extends "dashboardui/base.html" %}
{% block extra_css %}
<style type="text/css">
    #sparks li h5 {

margin: 0px 0 0 0;



}
.grid {
  width: 100%;
  height: 725px;
}
.label{
    font-weight: bolder!important;
}
.note, .smart-form .note {
margin-top: 6px;
padding: 0 1px;
font-size: 11px;
line-height: 15px;
color: #F50606;
}
pre {
display: block;
padding: 8.5px;
margin: 0 0 9px;
font-size: 14px;
line-height: 1.42857143;
word-break: break-all;
word-wrap: break-word;
color: #333;
background-color: #f5f5f5;
border: 1px solid #ccc;
border-radius: 2px;
}



</style>
    
{% endblock extra_css %}

{% block ng %}
 ng-controller='ProductsListCtrl'   ng-init="initLocationsProducts('{{location_name}}')"
{% endblock ng %}

{% block sub_sidebar %}
{{block.super}}
{% block datetime %}
    
{% endblock datetime %}
    
    <div class="well">
    <div class="row">
  <div class="col-lg-12 col-md-12">
 Filters By Status <br>
    
      <select class="form-control" ng-model='status' ng-options='status.status for status in productsStatus'></select>
     
      
    </div><!-- /input-group -->
    <div class="col-lg-12 col-md-12" style="margin-top:10px">
 Filters By Category <br>
    
      <select class="form-control" ng-model='category' ng-options='category.name for category in categories'></select>
     
      
    </div><!-- /input-group -->
    <div class="pull-right">
    <button class='btn btn-success' style="margin-top:10px">Submit</button>
        
    </div>
  </div><!-- /.col-lg-6 -->
  
</div>
<div class="well">

<div class="row" style="margin-top:10px">

<div class="col-md-12" style="margin-top:10px">
<span class="text-muted"></span>
<button class="btn btn-success btn-block" ng-click="uploadNewProducts()" >Import Products Csv</button>
    
</div>
<div class="col-md-12" style="margin-top:10px">
<button class="btn btn-success btn-block" ng-csv="export_csv()" filename="products.csv" csv-header='csv_headers' lazy-load='true'>Export Products csv</button>
    </div>

    <div class="col-md-12" style="margin-top:10px">
<button class="btn btn-success btn-block" ng-click="createNewProduct('lg')">Add Product</button>
    </div>
    <div class="col-md-12" style="margin-top:10px">
<button class="btn btn-danger btn-block" ng-click="delete_products('lg')">Delete All Products</button>
    </div>
</div>
    
</div>
        
   
{% endblock sub_sidebar %}

{% block content %}
<div >
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-barcode"></i> Products <span> Products List </span></h1>
        

    </div>
   <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-1"><div class="input-group" style='margin-top: 10px;'>  
      <input type="text" class="form-control" placeholder="Search Product name" ng-model='productsToBeSearched' input-submit="search_product()">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button" ng-click="search_product()">Go!</button>
      </span>
    </div>
    <span style="color:red;font-weight:bolder">Note: Products Must Be Active To Scan At Kiosk</span></div>
   
    
</div>
    <section id='widget-grid'>
        
    <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                        <h2>Products List (Double Click On Row Cell To Start Editing - Press Enter To Save) {{items}} </h2>
                        <div class="widget-toolbar">
                        <!-- add: non-hidden - to disable auto hide -->

                        {% verbatim %}
                        
                        PAGE {{meta.offset/meta.limit+1}} of {{meta.total_count/meta.limit|number : 0 }}
                        <button class="btn btn-default" role="button" ng-click="get_previous()">Previous</button>
                        <button class="btn btn-default" role="button" ng-click="get_next()">Next</button>
                        {% endverbatim %}
                        

                        
                    </div>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" cg-busy="{promise:promise,message:'Please Wait',minDuration:100}">

                                            
                                           <div class="grid" ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNa  external-scopes="$scope"  >
        </div>
        
          
                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>


<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Add New Product</h3>
        </div>
        <div class="modal-body">
            
            <form class="smart-form" novalidate name='product_form' >

            <fieldset>
            <section ng-class="{ 'state-error' : product_form.name.$invalid  }">
                <label class="label">Product Name</label>
                <label class="input">
                    <input type="text"  ng-model="new_product.name" required name="name" />
                </label>
                <div class="note note-error" ng-show="product_form.name.$invalid" >Name is required.</div>
            </section>
            <section ng-class="{ 'state-error' : product_form.barcode.$invalid}">
                <label class="label">Barcode (UPC)</label>
                <label class="input">
                    <input type="text"  ng-model="new_product.barcode" ng-unique required name="barcode"   />
                </label>
                <div class="note note-error" ng-show="product_form.barcode.$error.unique" >Product Already Exists.</div>
                <div class="note note-error" ng-show="product_form.barcode.$dirty && product_form.barcode.$invalid" id="barcode_error" >Invalid Characters. Enter a Integer or float</div>
                
                <div class="note note-error" ng-show="product_form.barcode.$invalid" id="barcode_error" >Barcode is required.</div>
                
            </section>
            <section ng-class="{ 'state-error' : product_form.quantity.$invalid   }">
                <label class="label">Quantity</label>
                <label class="input">
                    <input type="number"  ng-model="new_product.quantity" required  name="quantity"/>
                </label>
                <div class="note note-error" ng-show="product_form.quantity.$dirty && product_form.quantity.$invalid " id="barcode_error" >Invalid Characters. Enter a Integer or float</div>
                <div class="note note-error" ng-show="product_form.quantity.$invalid " >Quantity is required.</div>
            </section>
            <section ng-class="{ 'state-error' : product_form.unit_price.$invalid }">
                <label class="label">Unit Price</label>
                <label class="input">
                    <input type="number"  ng-model="new_product.unit_price" required name="unit_price"/>
                </label>
                <div class="note note-error" ng-show="product_form.unit_price.$dirty && product_form.unit_price.$invalid" id="barcode_error" >Invalid Characters. Enter a Integer or float</div>
                <div class="note note-error" ng-show="product_form.unit_price.$invalid" >Unit Price is required.</div>
            </section >
            <section ng-class="{ 'state-error' : product_form.unit_cost.$invalid }">
                <label class="label">Unit Cost</label>
                <label class="input">
                    <input type="number"  ng-model="new_product.unit_cost" required name="unit_cost" />
                </label>
                <div class="note note-error" ng-show="product_form.unit_cost.$dirty && product_form.unit_cost.$invalid" id="barcode_error" >Invalid Characters. Enter a Integer or float</div>
                <div class="note note-error" ng-show="product_form.unit_cost.$invalid" >Unit Cost is required.</div>
            </section>
            <section ng-class="{ 'state-error' : product_form.min_stock.$invalid }">
                <label class="label">Min Stock</label>
                <label class="input">
                    <input type="number"  ng-model="new_product.min_stock" required name="min_stock" />
                </label>
                <div class="note note-error" ng-show="product_form.min_stock.$dirty && product_form.min_stock.$invalid" id="barcode_error" >Invalid Characters. Enter a Integer or float</div>
                <div class="note note-error" ng-show="product_form.min_stock.$invalid" >Min Stock is required.</div>
            </section>
            <section ng-class="{ 'state-error' : product_form.max_stock.$invalid }">
                <label class="label">Max Stock</label>
                <label class="input">
                    <input type="number"  ng-model="new_product.max_stock" required name="max_stock"/>
                </label>
                <div class="note note-error" ng-show="product_form.max_stock.$dirty && product_form.max_stock.$invalid" id="barcode_error" >Invalid Characters. Enter a Integer or float</div>
                <div class="note note-error" ng-show="product_form.max_stock.$invalid" >Max Stock is required.</div>
            </section>
            <section ng-class="">
                <label class="label">Category</label>
                <label class="select">
                    <select ng-model="new_product.category" ng-options="category.name for category in categories" />
                        
                    </select> <i></i> </label>
                    
            </section>
            <!-- 
            <section ng-class="{ 'state-error' : product_form.name.$invalid }">
                <label class="label">Supplier</label>
                <label class="input">
                    <input type="text" >
                </label>
                <div class="note note-error" ng-show="product_form.name.$invalid" >Your First Name is required.</div>
            </section>-->
            <section class="row" style="margin-left:10px" >
            <div class="col-md-4">
                <div class='col-md-5'>
                <label class="toggle">
                    <input type="checkbox" name="active" ng-model="new_product.active" disable-invalid-styling="true" /> 
                    <i data-swchon-text="ON" data-swchoff-text="OFF"></i>Active</label>
                </div>
            
            </div>
            <div class="col-md-4">
                <div class='col-md-5'>
                <label class="toggle">
                    <input type="checkbox" name="hst" ng-model="new_product.hst" disable-invalid-styling="true" />
                    <i data-swchon-text="ON" data-swchoff-text="OFF"></i>Hst</label>
                </div>
            
            </div>
            <div class="col-md-4">
                <div class='col-md-5'>
                <label class="toggle">
                    <input type="checkbox" name="pst" ng-model="new_product.pst" disable-invalid-styling="true" />
                    <i data-swchon-text="ON" data-swchoff-text="OFF"></i>Pst</label>
                </div>
            
            </div>
                
                
                
                
            </section>

            <section style="margin-top:15px"  >

                                    <label class="label"><h4>Choose Locations to Add Product</h4></label>
                                    <div class="row" ng-class="{ 'state-error' : selectedError }">
                                    <div class=" col col-4"> <label class="checkbox">
                                            <input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()">
                                            <i></i>Select All</label></div>
                                            </div>
                                    

                                    <div class="inline-group col-md-12">
                                    {% verbatim %}

                                    <label class="checkbox col-md-3" ng-repeat="location in locations">
                                            <input type="checkbox" ng-checked="isSelected(location)" ng-click="updateSelection($event, location)" ng-class="{ 'state-error' : selectedError }">
                                            <i></i>{{location}}</label>
                                    {% endverbatim %}
                                    
                                        

                                        
                                    </div>
                                    <div class="note note-error state-error" ng-show="selectedError" >Atleast One Location Must be selected.</div>
                                </section>


            </fieldset>
            
            </form>
            </b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()" ng-disabled="product_form.$invalid || selectedError ">Save Product</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
        </script>


        <script type="text/ng-template" id="uploadFileContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Upload Products Csv </h3>
        </div>
        <form name="product_form" class="smart-form">
        <div class="modal-body">

            
           
           <fieldset>
           <section>
           <label class="label">
           Choose Products Csv
           </label>
           <input type="file" ng-file-select="onFileSelect($files)" onclick="this.value=null" name="file" required>
           </section>

           <section style="margin-top:15px"  >
           

                                    <label class="label"><h4>Choose Locations to Add Product</h4></label>
                                    <div class="row" ng-class="{ 'state-error' : selectedError }">
                                    <div class=" col col-4"> <label class="checkbox">
                                            <input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()">
                                            <i></i>Select All</label></div>
                                            </div>
                                    

                                    <div class="inline-group col-md-12">
                                    {% verbatim %}

                                    <label class="checkbox col-md-3" ng-repeat="location in locations">
                                            <input type="checkbox" ng-checked="isSelected(location)" ng-click="updateSelection($event, location)" ng-class="{ 'state-error' : selectedError }">
                                            <i></i>{{location}}</label>
                                    {% endverbatim %}
                                    
                                        

                                        
                                    </div>
                                    <div class="note note-error state-error" ng-show="selectedError" >Atleast One Location Must be selected.</div>
                                </section>

                                </fieldset>

                       <div class="alert alert-warning">Note: The csv Must follow the following Format. Headers Should Appers as Below</div> 
                       <div>
                       <pre>
UPC,Description,price,unit_cost,min_stock,max_stock,category,supplier,hst,pst,active
061200225945,Caramilk,1.25,1.00,2,4,Food,Food inc,True,True,True
058496328733,Mars,1.25,1.00,2,4,Food,Food inc,True,True,True
058496352776,Twix,1.25,1.00,2,4,Food,Food inc,True,True,True
058496812324,m&M,1.25,1.00,2,4,Food,Food inc,True,True,True
059800000116,Aero,1.25,1.00,2,4,Food,Food inc,True,True,True
                       </pre>
                       
                           
                       </div>   


        </div>

        </form>
        <div class="modal-footer">                                                                                                                                                                                                                                                                                                                              
            <button class="btn btn-success" ng-click="ok()" ng-disabled="product_form.$invalid || selectedError ">Save Products</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             
        </div>
        
        </script>
    

</div>



{% endblock content %}

{% block extra_angular %}
<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/products_list.js?v=1.3'></script>
    
{% endblock extra_angular %}