{% extends "dashboardui/base.html" %}
{% block extra_css %}
<style type="text/css">
    #sparks li h5 {

margin: 0px 0 0 0;



}
.grid {
  width: 100%;
  height: 725px;
}
.label{
    font-weight: bolder!important;
}



</style>
    
{% endblock extra_css %}

{% block ng %}
 ng-controller='CategoryOptionsCtrl'   
{% endblock ng %}

{% block sub_sidebar %}
    
    {{block.super}}
{% block datetime %}
    
{% endblock datetime %}

        
   
{% endblock sub_sidebar %}

{% block content %}
<div >
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Inventory <span> Category Options List </span></h1>
        

    </div>
   <div class="col-md-3 col-md-offset-2" style="margin-top:10px">
<button class="btn btn-success" ng-click="createNewCategoryOption('lg')">Add Category Option</button>
    </div>
   
    
</div>
    <section id='widget-grid'>
        
    <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                        <h2>Category Options List (Double Click On Row Cell To Start Editing - Press Enter To Save) </h2>
                        <div class="widget-toolbar">
                        <!-- add: non-hidden - to disable auto hide -->

                        
                        

                        
                    </div>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">

                                            
                                           <div class="grid" ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNa  external-scopes="$scope"  >
        </div>
        
          
                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>


<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Add Extra Category Options</h3>
        </div>
        <div class="modal-body">
            
            <form class="smart-form" novalidate name='category_form' >

            <fieldset>
            <section ng-class="{ 'state-error' : category_form.category.$invalid  }">
                <label class="label">Category</label>
                <label class="select">
                    <select ng-model="new_category.category" ng-options="category.name for category in categories" ng-unique-category-option name="category" required/>
                        
                    </select> <i></i> </label>
                    <div class="note note-error" ng-show="category_form.category.$error.unique" >Category Option Already Exists.</div>
                <div class="note note-error" ng-show="category_form.category.$invalid" >Category Name is required.</div>
            </section>
            <section ng-class="{ 'state-error' : category_form.days_of_product.$invalid}">
                <label class="label">Days Of Product </label>
                <label class="input">
                    <input type="number"  ng-model="new_category.days_of_product" required name="days_of_product" />
                </label>
                
                <div class="note note-error" ng-show="category_form.days_of_product.$dirty && category_form.days_of_product.$invalid" id="round_to_case_error" >Invalid Characters. Enter a Integer</div>
                
                <div class="note note-error" ng-show="category_form.days_of_product.$invalid"  >Days of Product is required.</div>
                
            </section>
            <section ng-class="{ 'state-error' : category_form.hard_max.$invalid}">
                <label class="label">Hard Max</label>
                <label class="input">
                    <input type="number"  ng-model="new_category.hard_max" required name="hard_max"   />
                </label>
                
                <div class="note note-error" ng-show="category_form.hard_max.$dirty && category_form.hard_max.$invalid" id="round_to_case_error" >Invalid Characters. Enter a Integer</div>
                
                <div class="note note-error" ng-show="category_form.hard_max.$invalid" id="round_to_case_error" >Hard Max is required.</div>
                
            </section>
            <section ng-class="{ 'state-error' : category_form.round_to_case.$invalid}">
                
                <div class="col-md-7">
                <div class='col-md-5'>
                <label class="toggle">
                    <input type="checkbox" name="round_to_case" ng-model="new_category.round_to_case" disable-invalid-styling="true" />
                    <i data-swchon-text="ON" data-swchoff-text="OFF"></i><span style="font-weight:bold">Round To Case</span></label>
                </div>
            
            </div>
                
            </section>
        </div>    
            <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()" ng-disabled="category_form.$invalid">Save Category</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
            
        </script>
    

</div>



{% endblock content %}
{% block extra_angular %}
  <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/categoryoptionsctr.js'></script>  
{% endblock extra_angular %}