{% extends "dashboardui/base.html" %}
{% block extra_css %}
<style type="text/css">
    #sparks li h5 {

margin: 0px 0 0 0;



}
.grid {
  width: 100%;
  height: 725px;
}
.label{
    font-weight: bolder!important;
}
.panel-body {
font-size: 13px;
font-weight: normal;
}
.fa3{
  font-size:30px;
}
.action{
  margin-right:10px;
   font-size:15px;
   color:red;
}
.menu-on-top #main {

margin-top: 10px!important; */
}




</style>

    
{% endblock extra_css %}

{% block topnav %}
    
{% endblock topnav %}
{% block subnav %}
    
{% endblock subnav %}

{% block ng %}
    ng-controller='ViewInventoryRestockCtrl' 
{% endblock ng %}

{% block sub_sidebar %}
    
    
    <div class="panel panel-info">
    <div class="panel-heading">
      Report Status
    </div>
    <div class="panel-body">
    <table class="table">
      <tr><td><i class="fa3 fa " ng-class="restock_report.prekitting_completed ? ['fa-check', 'text-success'] : ['fa-times', 'text-danger']" ></i></td><td>Prekitting Complete</td></tr>
      <tr><td><i class="fa3 fa " ng-class="restock_report.isUpdated ? ['fa-check', 'text-success'] : ['fa-times', 'text-danger']"></i></td><td>Products DB Updated</td></tr>
    </table>
      
    </div>
      
    </div>
    

        
   
{% endblock sub_sidebar %}

{% block content %}
<div ng-init=init("{{report_id}}") cg-busy="{promise:save_products_promise,message:'Please Wait.. Updating Products',minDuration:900}"  >
    <div class="row" style="margin-bottom:5px">
    
    <div class="col-md-6" style="margin-top:5px" ng-hide='restock_report.prekitting_completed' ng-cloak>
        <span class="action">Press When Prekitting Is Completed</span><button class="btn btn-info" ng-click="prekittingCompleted()" style="line-height:25px">PreKitting Completed</button>
    </div>
    <div class="col-md-6" style="margin-top:5px" ng-show='restock_report.prekitting_completed' ng-cloak>
        <span class="action"><span ng-show='restock_report.prekitting_completed&&!restock_report.isUpdated'>Update Products Db With Values Below</span><span ng-show='restock_report.prekitting_completed&&restock_report.isUpdated'>Products Update Complete - Check to Update Again <input type="checkbox" ng-model='update_again' style="
    height: 25px;
    width: 25px;
    padding-top: 5px;
"></span></span><button class="btn btn-success" ng-click="save_products()" ng-disabled="!update_again && restock_report.isUpdated" style="line-height:25px">Update Products</button>
    </div>

    <div class="col-md-3 col-md-offset-3" style="margin-top:10px">
    <a href="/accounts/logout" class="btn btn-danger btn-large" style="line-height:25px">Logout</a>

        
    </div>
</div>



    <section id='widget-grid'>
        
    <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                        <h2 ng-cloak>Restock Inventory Items for <span class='text-uppercase'>
                          {% verbatim %}
                        {{restock_report.name}}
                        {% endverbatim %}
                        </span>
                         </h2>
                        <div class="widget-toolbar">
                        <!-- add: non-hidden - to disable auto hide -->

                        
                        

                        
                    </div>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">



                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        
                                        <div class="grid" ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNa  external-scopes="$scope"  >

                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>


    






{% endblock content %}
{% block extra_angular %}
    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/viewrestockinventory.js'></script>

{% endblock extra_angular %}
{% block extra_js %}
 <script type="text/javascript" src='{{ STATIC_URL }}jspdf.min.js'></script>
    
    <script type="text/javascript" src="{{ STATIC_URL }}bwip-js/bwip.js"></script>

<script type="text/javascript" src="{{ STATIC_URL }}bwip-js/lib/symdesc.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bwip-js/lib/needyoffset.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}bwip-js/lib/canvas.js"></script>
<script type="text/javascript" src='{{ STATIC_URL }}bwip-js/libpng.js'></script>
  
{% endblock extra_js %}