{% extends "dashboardui/base.html" %}
{% block extra_css %}
<style type="text/css">
    #sparks li h5 {

margin: 0px 0 0 0;



}
.grid {
  width: 100%;
  height: 725px;
}
.label{
    font-weight: bolder!important;
}
.notCompleted{
    background: #

}
.completed{

}



</style>
    
{% endblock extra_css %}

{% block ng %}
 ng-controller='InventoryRestockCtrl'   
{% endblock ng %}

{% block sub_sidebar %}
    
    {{block.super}}
{% block datetime %}
    
{% endblock datetime %}
        
   
{% endblock sub_sidebar %}

{% block content %}
<div >
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Inventory <span> Inventory Restock  </span></h1>
        

    </div>
    <div class="col-md-3 col-md-offset-2" style="margin-top:15px">
        <button class="btn btn-success" ng-click="createRestockReport('lg')">Setup Restock Report</button>
    </div>
   
   
    
</div>
    <section id='widget-grid'>
        
    <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                        <h2>Restock Inventory  </h2>
                        <div class="widget-toolbar">
                        <!-- add: non-hidden - to disable auto hide -->

                        
                        

                        
                    </div>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        

                                           <div class="table-responsive">
                                               <table class="table table-bordered">
                                               <thead>
                                                 <tr>
                                                 <th>Location</th>
                                                       
                                                   <th>Report Name</th>
                                                   <th>Run</th>
                                                   <th>Edit</th>
                                                   <th>Delete</th>
                                               </tr>  
                                               </thead>
                                               <tbody>
                                               {% verbatim %}
                                               <tr ng-repeat="placeholder in placeholders" ng-cloak>
                                               <th>{{placeholder.location}}</th>
                                                   <td>{{placeholder.name}}</td>
                                                   <td><button class="btn btn-success" ng-click="run_restock_report(placeholder.id)">Run Report</button></td>
                                                   <td><button class="btn btn-info" ng-click="EditRestockReport('lg', placeholder)">Edit</button></td>
                                                   <td><button class="btn btn-danger" ng-click="delete_choices_placeholders(placeholder)">Delete</button></td>
                                               </tr>
                                               {% endverbatim %}
                                               
                                                   
                                               </tbody>
                                                   

                                               </table>
                                           </div> 
                                           
        
          
                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>


    <section id='widget-grid'>
        
    <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                        <h2>Reports  </h2>
                        <div class="widget-toolbar">
                        <!-- add: non-hidden - to disable auto hide -->

                        
                        

                        
                    </div>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        

                                           <div class="table-responsive">
                                               <table class="table table-bordered">
                                               <thead>
                                                 <tr>
                                                 <th>Location</th>
                                                       
                                                   <th>Report Name</th>
                                                   <th>Created</th>
                                                   <th>Prekitting Completed</th>
                                                   <th>Products DB Updated</th>
                                                   <th>View Report</th>
                                               </tr>  
                                               </thead>
                                               <tbody>
                                               {% verbatim %}
                                               <tr ng-repeat="report in reports" ng-cloak>
                                               <th>{{report.location}}</th>
                                                   <td>{{report.name}}</td>
                                                   <td>{{report.created|date : 'MMM dd, yyyy  H:mm a'}}</td>
                                                   <td style="font-weight:bold" ><span class="text-uppercase" ng-class="report.prekitting_completed ? 'text-success':'text-danger' ">{{report.prekitting_completed}}</span></td>
                                                   
                                                   <td style="font-weight:bold"> <span class="text-uppercase" ng-class="report.isUpdated ? 'text-success':'text-danger' ">{{report.isUpdated}}</span></td>
                                                   <th>
                                                       <a href="/dashboard/inventory/reports/view_restock_report/{{report.id}}/" class="btn btn-success">View Report</a>
                                                   </th>
                                               </tr>

                                               {% endverbatim %}
                                               
                                                   
                                               </tbody>
                                                   

                                               </table>
                                           </div> 
                                           
        
          
                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>


<script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Setup New Restock Report</h3>
        </div>
        <div class="modal-body">
            
            <form class="smart-form" novalidate name='report_form' >

            <fieldset>
            <section ng-class="{ 'state-error' : report_form.name.$invalid }">
                <label class="label">Report Name</label>
                <label class="input">
                    <input type="text"  ng-model="new_restock_report.placeholder.name" required name="name" />
                </label>
                <div class="note note-error" ng-show="report_form.name.$invalid" >Report Name is required.</div>
            </section>
              <section >

                                    <label class="label">Choose Categories</label>
                                    <div class="row">
                                    <div class=" col col-4"> <label class="checkbox">
                                            <input type="checkbox" ng-click="selectAll($event)" ng-checked="isSelectedAll()">
                                            <i></i>Select All</label></div>
                                            </div>
                                    

                                    <div class="inline-group col-md-12">
                                    {% verbatim %}

                                    <label class="checkbox col-md-3" ng-repeat="category in new_restock_report.categories">
                                            <input type="checkbox" ng-checked="isSelected(category)" ng-click="updateSelection($event, category)">
                                            <i></i>{{category.name}}</label>
                                    {% endverbatim %}
                                    
                                        

                                        
                                    </div>
                                </section>
            
        </div>    
            <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()" ng-disabled="report_form.$invalid">Save Category</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
            
        </script>



        <script type="text/ng-template" id="edit_restock_report.html">
        <div class="modal-header">
            <h3 class="modal-title">Edit Restock Report - {% verbatim %}
            {{restock_report.placeholder.name}}
            {% endverbatim %}
             </h3>
        </div>
        <div class="modal-body">
            
            <form class="smart-form" novalidate name='report_form' >

            <fieldset>
            <section ng-class="{ 'state-error' : report_form.name.$invalid }">
                <label class="label">Report Name</label>
                <label class="input">
                    <input type="text"  ng-model="restock_report.placeholder.name" required name="name" save-on-blur="savePlaceholderName()" />
                </label>
                <div class="note note-error" ng-show="report_form.name.$invalid" >Report Name is required.</div>
            </section>
            <section >

                                    <label class="label">Choose Categories</label>
                          
                                    

                                    <div class="inline-group col-md-12">
                                    {% verbatim %}

                                    <label class="checkbox col-md-3" ng-repeat="category in restock_report.categories">
                                            <input type="checkbox" ng-checked="isSelected(category)" ng-click="updateSelection($event, category)" >
                                            <i></i>{{category.name}}</label>
                                    {% endverbatim %}
                                    
                                        

                                        
                                    </div>
                                </section>
            
        </div>    
            <div class="modal-footer">
            <button class="btn btn-success" ng-click="ok()">Done</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
            
        </script>
    

</div>



{% endblock content %}
{% block extra_angular %}
    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/inventoryrestockctrl.js'></script>
{% endblock extra_angular %}