{% extends "dashboardui/base.html" %}
{% block extra_css %}
<style type="text/css">
    #sparks li h5 {

margin: 0px 0 0 0;



}
.grid {
  width: 100%;
  height: 725px;
}
.label{
    font-weight: bolder!important;
}



</style>
    
{% endblock extra_css %}

{% block ng %}
    
{% endblock ng %}

{% block sub_sidebar %}
    {{block.super}}
    <div class="well">
    <div class="row">
  
  
</div><!-- /.row -->
    
<div class="row" style="margin-top:10px">

<div class="col-md-12" style="margin-top:10px">
<span class="text-muted">(will Export from the selected date range)</span>
<button class="btn btn-success btn-block">Export Csv</button>
    
</div>

    
</div>


    


        
    </div>
{% endblock sub_sidebar %}

{% block content %}
<div ng-controller="StockMovement">
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-tachometer"></i> Inventory <span> Stock Movement </span></h1>
        

    </div>
    <div class="col-xs-12 col-sm-5 col-md-5"><div class=" col-md-12" style='margin-top: 10px;'>  
      <input type="text" class="form-control" placeholder="Search Product name" >
      
    </div>
    </div>
   
   
    
</div>
    <section id='widget-grid'>
        
    <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                        <h2>Stock Movement </h2>
                        <div class="widget-toolbar">
                        <!-- add: non-hidden - to disable auto hide -->

                        
                        

                        
                    </div>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" cg-busy="{promise:stockmovement,message:'Calculating Stock Movement.Please Wait ...',minDuration:900}">

                                            
                                           <div class="grid" ui-grid="gridOptions" ui-grid-edit ui-grid-row-edit ui-grid-cellNa  external-scopes="$scope"  >
        </div>
        
          
                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>



    

</div>



{% endblock content %}
{% block extra_angular %}
  <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/stock_movementctr.js'></script>  
{% endblock extra_angular %}