{% extends "dashboardui/base.html" %}
{% block extra_css %}
<style type="text/css">
    #sparks li h5 {

margin: 0px 0 0 0;



}
.grid {
  width: 100%;
  height: 725px;
}
.label{
    font-weight: bolder!important;
}



</style>
    
{% endblock extra_css %}

{% block datetime %}
    
{% endblock datetime %}

{% block ng %}
    
{% endblock ng %}

{% block sub_sidebar %}
    {{block.super}}
    <div class="well">
    <div class="row">
  
  
</div><!-- /.row -->
    
<div class="row" style="margin-top:10px">

<div class="col-md-12" style="margin-top:10px">
<span class="text-muted">(will Export from the selected date range)</span>
<button class="btn btn-success btn-block">Export Csv</button>
    
</div>

    
</div>


    


        
    </div>
{% endblock sub_sidebar %}

{% block content %}
<div ng-controller="StockTakeReports">
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-tachometer"></i> Inventory <span> Stock Take Reports </span></h1>
        

    </div>
    
    </div>
   
   
    

    <section id='widget-grid'>
        
    <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                        <h2>Stock Take Reports </h2>
                        <div class="widget-toolbar">
                        <!-- add: non-hidden - to disable auto hide -->

                        
                        

                        
                    </div>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" cg-busy="{promise:promise,message:'Calculating Stock Movement.Please Wait ...',minDuration:900}">
                                        <div class="table-responsive">

                                        <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Stocktake</th>
                                                <th>View</th>

                                            </tr>
                                        </thead>
                                        {% verbatim %}
                                        
                                        <tbody ng-repeat="values in takes" ng-cloak>

                                            <tr ng-repeat="(key, value) in values">
                                                <td >
                                                    Stock Take at {{key}}
                                                </td>
                                                <td>
                                                    <button class="btn btn-success btn-sm" ng-click="view(value)">View</button>
                                                </td>
                                            </tr>
                                                
                                            </tbody>
                                        
                                        {% endverbatim %}
                                        
                                            
                                            
                                        </table>
                                            
                                        </div>

                                            
                                           
        
          
                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>



    

</div>

<script type="text/ng-template" id="view.html">
          <div class="modal-header">
              <h3 class="modal-title">Products in stock Take</h3>
          </div>
          
          <div class="modal-body">
              <div class="table-responsive" ng-cloak>
                  <table class="table table-bordered">
                  <thead>
                      <tr>
                                                <th>Product Name</th>
                                                <th>Change</th>
                                                <th>Change Amount</th>
                                                <th>Product Pre Quantity</th>
                                                <th>Product Post Quantity</th>

                                                <th>Date</th>
                                            </tr>
                  </thead>
                  <tbody>
                  {% verbatim %}
                  <tr ng-repeat="item in items">
                  <td>
                      {{item.product_name}}
                  </td>
                  <td>
                      {{item.status}}
                  </td>
                  <td>
                      {{item.amount}}
                  </td>
                  <td>
                      {{item.pre_quantity}}
                  </td>
                  <td>
                      {{item.post_quantity}}
                  </td>
                  <td>
                      {{item.datetime|date : 'yyyy/MM/dd HH:mm'}}
                  </td>
                      
                          
                      </tr>
                  
                  {% endverbatim %}
                  
                      
                  </tbody>
                                            
                                        </table>
              </div>
          </div>
  
        
          <div class="modal-footer">                                                                                        
              <button class="btn btn-success" ng-click="ok()" >Ok</button>
                                                                                                                                                  
          </div>
          
          </script>  




{% endblock content %}
{% block extra_angular %}
  <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/stock_take_reports.js?v=1.2'></script>  
{% endblock extra_angular %}