{% extends "kioskui/base.html" %}
{% load i18n %}
{% block extra_css %}
    <style>
   
    </style>
{% endblock %}

{% block bodyclass %}
    whiteBg
{% endblock bodyclass %}
{% block ng %}ng-controller="AutoCheckoutPayrollCtr" {% endblock ng %}

{% block topnav %}
    
{% endblock topnav %}

{% block content %}
<div>
    Please Wait ...
</div>

    
    

    <div class="row" style="text-align: center;">
                    <br />
                    <ul id="payment_options" style="list-style: none">
                    </ul>
                </div>

                <div  style="text-align: center;">
                    <form id="payment_selection_form" method="POST" style="display:none">
                        {% csrf_token %}
                        {% for field in payment_selection_form %}
                            {{ field }}
                        {% endfor %}

                    </form>
                </div>
 
    </div>
{% endblock content %}