{% extends "kioskui/base.html" %}
{% block extra_css %}
    

{% endblock extra_css %}

{# we rely on the scankey #}

{% block content %}

    <div class="container">
        
        <div class="row">
        <div class="col-md-12">
            <div class="product col-md-12 text-center">
            <h1>Insufficient funds in your account.</h1>
               <div class='col-md-4 col-md-offset-4' style="margin-top:25px">
                 <a href="{% url 'user_account' %}" class="btn  btn-kiosk-green btn-large btn-block">ADD MONEY To Account </a>  
               </div>
            <div class='col-md-4 col-md-offset-4' style="margin-top:25px">
                 <a href="/checkout/" class="btn  btn-kiosk-green btn-large btn-block">Try Another Payment Method </a>  
               </div>
                
            </div>
        </div>
            
            
        </div>
    </div>
{% endblock content %}


