{% extends "kioskui/base.html" %}
{% load i18n %}
{% block extra_css %}
    <style>
   
    </style>
{% endblock %}

{% block bodyclass %}
    whiteBg
{% endblock bodyclass %}
{% block ng %}ng-controller="CheckoutCtr" ng-keypress='autocheckout($event)'{% endblock ng %}

{% block content %}



    <script text="text/javascript">


    </script>


    <div    >
    <div class="text-center"><h2 style="font-weight:bolder">Scan your keytag or Fingerprint <br />To complete the purchase :</h2></div>
    <div class="row">
    <div class="col-md-6 col-md-offset-4">
        <img src="{{ STATIC_URL }}cart-images/scan_keytag.png" alt="">
    </div>

        
    </div>
    <div class="row">

    {% verbatim %}
    
    <div class="col-md-6 col-md-offset-5" ng-repeat="method in methods" style="margin-top: 20px">
 
        <button class="btn btn-kiosk-info btn-large" style="line-height: 50px; font-size: 17px!important" ng-click="submit_form(method.value)">{{method.name}}</button>
    </div>
    
    {% endverbatim %}

    <div class="row" style="text-align: center;">
                    <br />
                    <ul id="payment_options" style="list-style: none">
                    </ul>
                </div>

                <div  style="text-align: center;">
                    <form id="payment_selection_form" method="POST" style="display:none">
                        {% csrf_token %}
                        {% for field in payment_selection_form %}
                            {{ field }}
                        {% endfor %}

                    </form>
                </div>
    
    

        
    </div>
    
    </div>
{% endblock content %}
