{% extends "kioskui/base.html" %}
{% block title %}
    Thank You
{% endblock title %}
{% block extra_css %}
    <style type="text/css">
    .margin-down-15{
        margin-bottom: 15px
    }
    </style>

{% endblock extra_css %}

{% block content %}
<div class="container" ng-controller="ThankYouCtr">


    
    <div class="row" >
    
        <div class="col-md-12">
            <div class="product col-md-12 text-center">

            
    <h1>Thank you for shopping</h1>
    <div class="col-md-8 col-md-offset-2">
        <img src="/static/cart-images/thank_you.png">
    </div>
    <div class="col-md-8 col-md-offset-2">
        


<div class="row" style="">
    <div class="col-md-6"><a href="{% url 'printingreceiptsview' %}" class="btn btn-kiosk-green btn-block" style="line-height: 45px">Print Receipt</a></div>
    <div class="col-md-6"><a href="/accounts/logout" class="btn btn-kiosk-green btn-block " style="line-height: 45px">Done</a></div>

</div>


    </div>




            


             
                
            </div>

           
            
            

        </div>
    </div>


    
</div>
    {% endblock content %}