{% extends "dashboardui/base.html" %}
{% block extra_css %}
<style type="text/css">
    #sparks li h5 {

margin: 0px 0 0 0;

}
</style>
    
{% endblock extra_css %}

{% block ng %}
   
{% endblock ng %}

{% block sub_sidebar %}
    {{block.super}}
    <div class="well">
    <div class="row">
  <div class="col-lg-12 col-md-12">
  Search  user <br>
  <span class="text-muted">(will be searched from the selected date range)</span>
    <div class="input-group">  
      <input type="text" class="form-control" placeholder="Name, keytag">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  
</div><!-- /.row -->
    
<div class="row" style="margin-top:10px">

<div class="col-md-12" style="margin-top:10px">
<span class="text-muted">(will Export from the selected date range)</span>
<button class="btn btn-success btn-block">Export List Csv</button>
    
</div>

    
</div>


    


        
    </div>
{% endblock sub_sidebar %}

{% block content %}
<div ng-controller='CashFlowCtrl' ng-init="limitInit(0)" >
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Transactions <span> Cash Flow Transactions </span></h1>
    </div>
    
    
</div>
    <section id='widget-grid'>
        
    <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                        <h2>Cash Flow Details </h2>
                        <div class="widget-toolbar">
                        <!-- add: non-hidden - to disable auto hide -->
   
                    </div>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="table-responsive" cg-busy="{promise:promise,message:'Please Wait',minDuration:300}">
                                            <table class="table table-bordered text-center">
                                            <thead>
                                                <tr>
                                                    <th>Account Update via Cash</th>
                                                    <th>Account Increment via Admin</th>
                                                    <th>Account Decrement via Admin</th>
                                                
                                                    <th>Account Update via Credit Card</th>
                                                    <th>Order Payment via Account</th>
                                                    <th>Order Payment via Credit Card</th>
                                                    

                                                </tr>
                                            </thead>
                                            <tbody>
                                            {% verbatim %}
                                            <tr ng-cloak>
                                                        <td>$ {{sum_accountDeposit|number:2}}</td>
                                                    <td>$ {{sum_admin|number:2}}</td>
                                                    <td>$ {{sum_adminDeducts|number:2}}</td>
                                                        <td>$ {{sum_creditDeposit|number:2}}</td>
                                                        <td>$ {{sum_accountPurcase|number:2}}</td>
                                                        <td>$ {{sum_creditPurcase|number:2}}</td>

                                                        
                                                    </tr>
                                            {% endverbatim %}
                                            
                                                
                                                    
                                                    <tr>
                                                        <td><button class='btn btn-success' ng-click='get_cash()'>View details</button></td>
                                                        <td><button class='btn btn-success' ng-click='get_admin()'>View details</button></td>
                                                        <td><button class='btn btn-success' ng-click='get_adminDeducts()'>View details</button></td>
                                                        <td><button class='btn btn-success' ng-click='get_credittoacccount()'>View details</button></td>
                                                        <td><button class='btn btn-success' ng-click='get_accounttopurchase()'>View details</button></td>
                                                        <td><button class='btn btn-success' ng-click='get_credittopurchase()'>View details</button></td>

                                                        

                                                    </tr>

                                                    
                                                    
                                                    
                                                
                                            </tbody>
                                                
                                            </table>
                                        </div>
                                        <hr/>

                                        <div class="table-responsive" ng-show="cash" ng-cloak>
                                        <table class="table table-bordered">
                                        <caption>Cash Deposits To account</caption>
                                        <tr>
                                            <th>Location</th>
                                            <th>UserName</th>
                                            <th>Date</th>
                                            <th>Amount</th>
                                            
                                        </tr>
                                        {% verbatim %}
                                        <tr ng-repeat="cash in cashdata = (cashflow_data|filter:{status:20})" ng-cloak>
                                            <th>{{cash.location}}</th>
                                            <td>{{cash.user}}</td>
                                            <td>{{cash.date |date : 'MMM dd, yyyy  H:mm a'}}</td>
                                            <td>{{cash.amount}}</td>
                                            
                                        </tr>
                                        {% endverbatim %}
                                        
                                        
                                            
                                        </table>
                                            
                                        </div>
                                        <div class="table-responsive" ng-show="admin" ng-cloak>
                                        <table class="table table-bordered">
                                        <caption>Account increase Via Admin</caption>
                                        <tr>
                                            <th>Location</th>
                                            <th>UserName</th>
                                            <th>Date</th>
                                            <th>Description</th>
                                            <th>Amount</th>

                                        </tr>
                                        {% verbatim %}
                                        <tr ng-repeat="admin in admindata = (cashflow_data|filter:{status:40})" ng-cloak>
                                            <th>{{admin.location}}</th>
                                            <td>{{admin.user}}</td>
                                            <td>{{admin.date |date : 'MMM dd, yyyy  H:mm a'}}</td>
                                            <td>{{admin.description}}</td>
                                            <td>{{admin.amount}}</td>
                                            
                                        </tr>
                                        {% endverbatim %}
                                        
                                        
                                            
                                        </table>
                                            
                                        </div>
                                        <div class="table-responsive" ng-show="admindeduct" ng-cloak>
                                        <table class="table table-bordered">
                                        <caption>Account Decrease Via Admin</caption>
                                        <tr>
                                            <th>Location</th>
                                            <th>UserName</th>
                                            <th>Date</th>
                                            <th>Description</th>
                                            <th>Amount</th>

                                        </tr>
                                        {% verbatim %}
                                        <tr ng-repeat="admin in admindata = (cashflow_data|filter:{status:70})" ng-cloak>
                                            <th>{{admin.location}}</th>
                                            <td>{{admin.user}}</td>
                                            <td>{{admin.date |date : 'MMM dd, yyyy  H:mm a'}}</td>
                                            <td>{{admin.description}}</td>
                                            <td>{{admin.amount}}</td>
                                            
                                        </tr>
                                        {% endverbatim %}
                                        
                                        
                                            
                                        </table>
                                            
                                        </div>

                                        <div class="table-responsive" ng-show="credittoaccount" ng-cloak>
                                        <table class="table table-bordered">
                                        <caption>Account Update via Credit Card</caption>
                                        <tr>
                                            <th>Location</th>
                                            <th>UserName</th>
                                            <th>Date</th>
                                            <th>Amount</th>
                                            <th>Credit Card</th>
                                        </tr>
                                        {% verbatim %}
                                        <tr ng-repeat="credit in creditdata = (cashflow_data|filter:{status:30})" ng-cloak>
                                            <th>{{credit.location}}</th>
                                            <td>{{credit.user}}</td>
                                            <td>{{credit.date |date : 'MMM dd, yyyy  H:mm a'}}</td>
                                            <td>{{credit.amount}}</td>
                                            
                                            <th>{{credit.extra_field}}</th>
                                        </tr>
                                        {% endverbatim %}
                                        
                                        
                                            
                                        </table>
                                            
                                        </div>
                                        <div class="table-responsive" ng-show="credittopurchase" ng-cloak>
                                        <table class="table table-bordered">
                                        <caption>Order Payment via Credit Card</caption>
                                        <tr>
                                            <th>Location</th>
                                            <th>UserName</th>
                                            <th>Date</th>
                                            <th>Amount</th>
                                            <th>Order</th>
                                            <th>Credit card</th>
                                        </tr>
                                        {% verbatim %}
                                        <tr ng-repeat="creditpurchase in creditpurchasedata = (cashflow_data|filter:{status:60})" ng-cloak>
                                            <th>{{creditpurchase.location}}</th>
                                            <td>{{creditpurchase.user}}</td>
                                            <td>{{creditpurchase.date |date : 'MMM dd, yyyy  H:mm a'}}</td>
                                            <td>{{creditpurchase.amount}}</td>
                                            <td>{{creditpurchase.order_id}}</td>
                                            <th>{{creditpurchase.extra_field}}</th>
                                        </tr>
                                        {% endverbatim %}
                                        
                                        
                                            
                                        </table>
                                            
                                        </div>

<div class="table-responsive" ng-show="accounttopurchase" ng-cloak>
                                        <table class="table table-bordered">
                                        <caption>Order Payment via Account</caption>
                                        <tr>
                                            <th>Location</th>
                                            <th>UserName</th>
                                            <th>Date</th>
                                            <th>Amount</th>
                                            <th>Order</th>
                                            
                                        </tr>
                                        {% verbatim %}
                                        <tr ng-repeat="accountpurchase in accountpurchasedata = (cashflow_data|filter:{status:50})" ng-cloak>
                                            <th>{{accountpurchase.location}}</th>
                                            <td>{{accountpurchase.user}}</td>
                                            <td>{{accountpurchase.date |date : 'MMM dd, yyyy  H:mm a'}}</td>
                                            <td>{{accountpurchase.amount}}</td>
                                            <td>{{accountpurchase.order_id}}</td>
                                            
                                        </tr>
                                        {% endverbatim %}
                                        
                                        
                                            
                                        </table>
                                            
                                        </div>

                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>
</div>

{% endblock content %}
{% block extra_angular %}
    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/cashflowCtrl.js?v=1.5'></script>
{% endblock extra_angular %}