{% extends "dashboardui/base.html" %}
{% block extra_css %}
<style type="text/css">
    #sparks li h5 {

margin: 0px 0 0 0;

}
</style>
    
{% endblock extra_css %}

{% block ng %}
    
{% endblock ng %}

{% block sub_sidebar %}
    {{block.super}}
    <div class="well">
    <div class="row">
  <div class="col-lg-12 col-md-12">
  Search  user <br>
  <span class="text-muted">(will be searched from the selected date range)</span>
    <div class="input-group">  
      <input type="text" class="form-control" placeholder="Name, keytag">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  
</div><!-- /.row -->
    
<div class="row" style="margin-top:10px">

<div class="col-md-12" style="margin-top:10px">
<span class="text-muted">(will Export from the selected date range)</span>
<button class="btn btn-success btn-block">Export List Csv</button>
    
</div>

</div>


    


        
    </div>
{% endblock sub_sidebar %}

{% block content %}
<div ng-controller='CashFlowCtrl' ng-init="limitInit(30)">
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Transactions <span> Cash Flow Details </span></h1>
    </div>
    
    
</div>
    <section id='widget-grid'>
        
    <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                        <h2>Order List </h2>
                        <div class="widget-toolbar">
                        <!-- add: non-hidden - to disable auto hide -->

                        {% verbatim %}
                        
                        <span ng-cloak>PAGE {{meta.offset/meta.limit+1}} of {{meta.total_count/meta.limit|number : 0 }}</span>

                        <button class="btn btn-default" role="button" ng-click="get_previous()">Previous</button>
                        <button class="btn btn-default" role="button" ng-click="get_next()">Next</button>
                        {% endverbatim %}
                        

                        
                    </div>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="table-responsive">
                                            <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Location</th>
                                                    <th>User</th>
                                                
                                                    <th>Date/Time</th>
                                                   
                                                    <th>Amount</th>

                                                    <th>Method</th>
                                                    <th>Card Info</th>
                                                    <th>Order id</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                    {% verbatim %}
                                                    <tr ng-repeat="cashflow in cashflow_data" ng-cloak>
                                                        <th>{{cashflow.location}}</th>
                                                        <td>{{cashflow.user}}</td>
                                                        <td>{{cashflow.date|date : 'MMM dd, yyyy  H:mm a'}}</td>
                                                        <td>{{cashflow.amount}}</td>
                                                        <td>{{cashflow.description}}</td>
                                                        <td>{{cashflow.extra_field}}</td>
                                                      
                                                        <td>{{cashflow.order_id}}</td>

                                                    </tr>

                                                    
                                                    {% endverbatim %}

                                                    
                                                    
                                                    
                                                
                                            </tbody>
                                                
                                            </table>
                                        </div>
                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>
</div>

{% endblock content %}

{% block extra_angular %}
    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/cashflowCtrl.js?v=1.5'></script>
{% endblock extra_angular %}