{% extends "dashboardui/base.html" %}
{% block extra_css %}
    <style type="text/css">
    #sparks li h5 {
    margin: 0px 0 0 0;
    }
    .grid {
    width: 100%;
    height: 725px;
    }
    </style>
    
{% endblock extra_css %}
{% block ng %}
ng-controller='ItemsCtrl'
ng-init='initItems({{items}})'
    
{% endblock ng %}
{% block sub_sidebar %}
    
    {{block.super}}
    {% block datetime %}
        
    {% endblock datetime %}
    
    
{% endblock sub_sidebar %}
{% block content %}
    <div >
        <div class="row">
            <div class="col-xs-12 col-sm-7 col-md-7">
                <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Payments<span> Payroll Payments History</span></h1>
                
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-1">
            <button style="margin-top:10px" class="btn btn-success" ng-csv="export_csv_list()" filename="PayrollPayments.csv" csv-header='csv_headers' >Download csv</button>
            
            
            
        </div>
            
        <section id='widget-grid'>
            
            <div class="row">
                <article class="col-md-12">
                    
                    <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                        
                        <header>
                            <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                            <h2>PayRoll Payments  History</h2>
                            <div class="widget-toolbar">
                                <!-- add: non-hidden - to disable auto hide -->
                                {% verbatim %}
                                
                                {{meta.total_count|number : 0 }} Users
                                
                            {% endverbatim %}
                            
                            
                        </div>
                    </header>
                    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
                            
                            test
                        </div>
                        <!-- end widget edit box -->
                        
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" cg-busy="{promise:users,message:'Please Wait',minDuration:900}">
                                            

                                            <div class="table-responsive">

                                            {% verbatim %}
                                            
                                            
                                            
                                            <table class="table table-bordered">
                                                <thead>
                                                    <tr>
                                                        
                                                        <td>User keytag</td>
                                                        <td>First Name</td>
                                                        <td>Last Name</td>
                                                        <td>Email</td>
                                                        <td>Amount</td>

                                                        
                                                        
                                                        
                                                    </tr>
                                                </thead>
                                                <tbody ng-cloak>
                                                
                                                
                                                    
                                                
                                                    <tr ng-repeat="user in items">
                                                        
                                                        
                                                        <td>{{user.user_keytag}}</td>
                                                        <td>{{user.user__first_name}}</td>
                                                        <td>{{user.user__last_name}}</td>
                                                        <td>{{user.user__email}}</td>
                                                        <td>{{user.amount}}</td>
                                                        
                                                    </tr>
                                                    
                                                
                                               
                                                
                                                    
                                                </tbody>
                                            </table>
                                            {% endverbatim %}
                                                
                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </section>
</div>
{% endblock content %}
{% block extra_angular %}
<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/items.js'></script>
<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/filters/payroll_status.js'></script>


{% endblock extra_angular %}