{% extends "dashboardui/base.html" %}
{% load i18n %}
{% block extra_css %}
<style type="text/css">
    #sparks li h5 {

margin: 0px 0 0 0;

}
</style>
    
{% endblock extra_css %}

{% block ng %}
  
{% endblock ng %}
{% block sub_sidebar %}
    

<div class="well">
        <div class="form-group">
    <label for="locations" style="font-weight:bold; font-size:18px" >Location </label>
    <br/>
    {{location_name}}
  </div> 
  </div>
   
{% endblock sub_sidebar %}

{% block content %}
<div  ng-controller='OrderListCtrl' >
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Transactions <span> Order Detail </span></h1>
    </div>
   
    
</div>
    <section id='widget-grid'>
        
    <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                        <h2>Order Detail </h2>
                        <div class="widget-toolbar">
                        <!-- add: non-hidden - to disable auto hide -->

                        
                        

                        
                    </div>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        
                                            
                                           

<h3>
  {% trans "Order ID:" %} {{ order.pk }}
</h3>
<h3>
  {% trans "User:" %} {{ order.user }}
</h3>

<p>
  {% trans "Order Status" %}: {{ order.get_status_display }}
</p>
<p>
  {% trans "Order Time" %}: {{ order.created }}
</p>



<table border="1" class="table table-bordered">
  <thead>
    <tr>
    <th>{% trans "Product name" %}</th>
    <th>{% trans "Unit price" %}</th>
    <th>{% trans "Quantity" %}</th>
    <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    {% for item in order.items.all %}
      <tr>
        <td>{{item.product_name}}</td>
        <td>{{ item.unit_price }}</td>
        <td>{{item.quantity}}</td>
        <td>{{item.line_subtotal }}</td>
      </tr>
      
      <tr><td colspan="2">&nbsp;</td><td>{% trans "Line Total" %}:</td><td>{{item.line_total }}</td></tr>
    {% endfor %}
  </tbody>

  <tfoot>
    <tr><td colspan="2">&nbsp;</td><td>{% trans "Order Subtotal" %}</td><td>{{order.order_subtotal }}</td></tr>
    {% for extra_price_field in order.extraorderpricefield_set.all %}
      <tr>
        <td colspan="2">&nbsp;</td>
        <td>{{ extra_price_field.label }}</td>
        <td>{{ extra_price_field.value }}</td>
      </tr>
    {% endfor %}
    <tr><td colspan="2">&nbsp;</td><td><b>{% trans "Order Total" %}</b></td><td><b>{{order.order_total}}</b></td></tr>
  </tfoot>
</table>

{% for extra_info in order.extra_info.all  %}
  <p>{{ extra_info.text }}</p>
{% endfor %}


                                        
                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>
</div>



{% endblock content %}
{% block extra_angular %}

    
{% endblock extra_angular %}