{% extends "dashboardui/base.html" %}
{% block extra_css %}
<style type="text/css">
    #sparks li h5 {

margin: 0px 0 0 0;

}
</style>
    
{% endblock extra_css %}

{% block ng %}
  
{% endblock ng %}

{% block sub_sidebar %}
    {{block.super}}
    
    

   
    <div class="well">
    <div class="row">
  <div class="col-lg-12 col-md-12">
  Search Orders For user <br>
  <span class="text-muted">(will be searched from the selected date range)</span>
    <div class="input-group">  
      <input type="text" class="form-control" placeholder="Name, keytag">
      <span class="input-group-btn">
        <button class="btn btn-success" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
  
</div><!-- /.row -->
    
<div class="row" style="margin-top:10px">

<div class="col-md-12" style="margin-top:10px">
<span class="text-muted">(will Export from the selected date range)</span>
<button class="btn btn-success btn-block" ng-csv="export_csv_list()" filename="Order_list_{{last_week}}_{{today}}.csv" csv-header='csv_list_headers' >Export List Csv</button>
    
</div>
<div class="col-md-12" style="margin-top:10px">
<button class="btn btn-success btn-block" ng-csv="export_csv_details()" filename="Order_details_{{last_week}}_{{today}}.csv" csv-header='csv_details_headers'>Export Details Csv</button>
    
</div>
    
</div>


    


        
    </div>
{% endblock sub_sidebar %}

{% block content %}
<div  ng-controller='OrderListCtrl' >
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-4">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-home"></i> Transactions <span> Orders List </span></h1>
    </div>
    <div class="col-xs-12 col-sm-5 col-md-5 col-lg-8">
    {% verbatim %}
        <ul id="sparks" class="">
            <li class="sparks-info">
                <h5>Order Total <span class="txt-color-blue" ng-cloak>${{sales.order_total | number }}</span></h5>

                
            </li>
            <li class="sparks-info">
                <h5> Total Taxes <span class="txt-color-purple" ng-cloak>${{sales.taxes | number }}</span></h5>
                
            </li>
            <li class="sparks-info">
                <h5> Orders in time range <span class="txt-color-greenDark" ng-cloak><i class="fa fa-shopping-cart"></i>&nbsp;
            {{order_meta.total_count}}
                
                </span></h5>
                
            </li>
        </ul>
        {% endverbatim %}
    </div>
    
</div>
    <section id='widget-grid'>
        
    <div class="row">
            <article class="col-md-12">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                        <h2>Order List </h2>
                        <div class="widget-toolbar">
                        <!-- add: non-hidden - to disable auto hide -->

                        {% verbatim %}
                        
                        <span ng-cloak>PAGE {{order_meta.offset/order_meta.limit+1}} of {{order_meta.total_count/order_meta.limit|number : 0 }}</span>
                        <button class="btn btn-default" role="button" ng-click="get_previous()">Previous</button>
                        <button class="btn btn-default" role="button" ng-click="get_next()">Next</button>
                        {% endverbatim %}
                        

                        
                    </div>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                        <div class="table-responsive" cg-busy="{promise:promise,message:'Please Wait',minDuration:900}">
                                            <table class="table table-bordered">
                                            <thead>
                                                <tr>
                                                    <th>Location</th>
                                                    <th>Order Id</th>
                                                    <th>Status</th>
                                                    <th>Date/Time</th>
                                                    <th>User</th>
                                                    <th>Order Total</th>
                                                    <th>Gst Total</th>
                                                    <th>Pst Total</th>
                                                    <th>Payment Method</th>
                                                    <th>Video</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                
                                                    {% verbatim %}
                                                    <tr ng-repeat="order in orders" ng-cloak>
                                                        <th>{{order.location}}</th>
                                                        <td><a href="/dashboard/orders/order_detail/{{order.id}}/">{{order.id}}</a></td>
                                                        <td>{{order.status | status}}</td>
                                                        <td>{{order.created|date : 'yyyy/MM/dd HH:mm'}}</td>
                                                        <td>{{order.user}}</td>
                                                        <td>{{order.order_total}}</td>
                                                        <td>{{order.Gst}}</td>
                                                        <td>{{order.Pst}}</td>
                                                        <td>{{order.payment_method}}</td>
                                                        <td ng-show='order.event'><a href="/dashboard/videos/video_for_transaction/{{order.id}}" class="btn btn-success btn-xs">Video</a></td>
                                                        <td ng-show='!order.event'>None</td>
                                                    </tr>

                                                    
                                                    {% endverbatim %}

                                                    
                                                    
                                                    
                                                
                                            </tbody>
                                                
                                            </table>
                                        </div>
                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>
</div>



{% endblock content %}
{% block extra_angular %}
    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/orderlistctrl.js?v=1.5'></script>
<script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/categoryctrl.js'></script>
    <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/supplierctrl.js'></script>
    
{% endblock extra_angular %}