{% extends "dashboardui/base.html" %}
{% block extra_css %}
<style type="text/css">
    #sparks li h5 {

margin: 0px 0 0 0;



}
.grid {
  width: 100%;
  height: 725px;
}
.label{
    font-weight: bolder!important;
}
.smart-form .col {

padding-right: 0px;

}



</style>
    
{% endblock extra_css %}

{% block ng %}
    
{% endblock ng %}

{% block datetime %}
    
{% endblock datetime %}

{% block content %}
<div ng-controller="LocationCtr">
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-cog"></i> Settings <span> Location Settings </span></h1>
        

    </div>
   
   
    
</div>
    <section id='widget-grid'>
        
    <div class="row">
            <article class="col-md-8 col-md-offset-2">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                        <h2>Location Settings </h2>
                        <div class="widget-toolbar">
                        <!-- add: non-hidden - to disable auto hide -->

                        
                        

                        
                    </div>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                        <form class="smart-form" name="location_settings" cg-busy="{promise:promise,message:'Please Wait',minDuration:500}">
                                        <fieldset>
                                        
                                            <section ng-class="{ 'state-error' : location_settings.location_name.$invalid  }">
                                                <label class="label">Location Name</label>
                                                <label class="input">
                                                <input type="text" ng-model="location.location_name" name="location_name" required  />
                                                    
                                                </label>
                <div class="note note-error" ng-show="location_settings.location_name.$invalid" >Location Name is required.</div>

                                            </section>

                                            <section ng-class="{ 'state-error' : location_settings.address.$invalid  }">
                                                <label class="label">Address</label>
                                                <label class="input">
                                                <input type="text" ng-model="location.address" name="address"  />
                                                    
                                                </label>
                <div class="note note-error" ng-show="location_settings.address.$invalid" >Address is required.</div>

                                            </section>
                                            <section ng-class="{ 'state-error' : location_settings.contact_name.$invalid  }">
                                                <label class="label">Contact Name</label>
                                                <label class="input">
                                                <input type="text" ng-model="location.contact_name" name="contact_name"  />
                                                    
                                                </label>
                <div class="note note-error" ng-show="location_settings.contact_name.$invalid" >Contact Name is required.</div>

                                            </section>
                                            <section ng-class="{ 'state-error' : location_settings.contact_number.$invalid  }">
                                                <label class="label">Contact Number</label>
                                                <label class="input">
                                                <input type="text" ng-model="location.contact_number" name="contact_number"  />
                                                    
                                                </label>
                <div class="note note-error" ng-show="location_settings.contact_number.$invalid" >Contact Number is required.</div>

                                            </section>
                                            

                                            <section>
                                    <label class="label">Working Days</label>
                                    <div class="row">
                                    <label class="select col col-6" >
                                    <label class="label">From</label>
                                        <select ng-model="location.weekday_from" ng-options="day | weekdays : day for day in weekdays " >
                                           
                                        </select> </label>

                                    <label class="select col col-6" >
                                    <label class="label">To</label>
                                        <select ng-model="location.weekday_to" ng-options="day | weekdays : day for day in weekdays " >
                                           
                                        </select> </label>    
                                        
                                        
                                    </div>
                                    
                                </section>

                                <section>
                                <label class="label">Working Hours</label>
                                    
                                    <div class="row">
                                    <label class="select col col-4" >
                                    <label class="label">From</label>
                                        <select ng-model="location.from_hour" ng-options="hour | hoursfilter for hour in hours">
                                            
                                        </select>  </label>
                                    
                                        <label class="select col col-4" >
                                        <label class="label">To</label>
                                        <select ng-model="location.to_hour" ng-options="hour | hoursfilter for hour in hours">
                                            
                                        </select> </label>
                                        
                                    </div>
                                    
                                </section>
                                <section ng-class="{ 'state-error' : location_settings.notes.$invalid  }">
                                                <label class="label">Notes</label>
                                                <label class="textarea textarea-resizable">
                                                <textarea name="notes" ng-model="location.notes" rows="3" class="custom-scroll"></textarea>
                                                    
                                                </label>
                <div class="note note-error" ng-show="location_settings.contact_name.$invalid" >Contact Name is required.</div>

                                            </section>

                                            

                                            <footer>
                                <button type="submit" class="btn btn-success" ng-click="save()" ng-disabled="location_settings.$invalid">
                                    Save Changes
                                </button>
                                
                            </footer>
                                        </fieldset>


                                            
                                        </form>

                                            
                                      
        
          
                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>


    

</div>



{% endblock content %}
{% block extra_angular %}
  <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/location_settingsctrl.js'></script> 
  <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/filters/filterdatetime.js'></script>  

{% endblock extra_angular %}