{% extends "dashboardui/base.html" %}
{% block extra_css %}
<style type="text/css">
    #sparks li h5 {

margin: 0px 0 0 0;



}
.grid {
  width: 100%;
  height: 725px;
}
.label{
    font-weight: bolder!important;
}



</style>
    
{% endblock extra_css %}

{% block ng %}
    
{% endblock ng %}

{% block datetime %}
    
{% endblock datetime %}

{% block content %}
<div ng-controller="TaxesCtr">
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-cog"></i> Settings <span> Tax Settings </span></h1>
        

    </div>
   
   
    
</div>
    <section id='widget-grid'>
        
    <div class="row">
            <article class="col-md-8 col-md-offset-2">
               
                <div class="jarviswidget jarviswidget-color-blueDark" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                    
                    <header>
                        <span class="widget-icon"> <i class="glyphicon glyphicon-stats"></i> </span>
                        <h2>Taxes Settings </h2>
                        <div class="widget-toolbar">
                        <!-- add: non-hidden - to disable auto hide -->

                        
                        

                        
                    </div>
                    </header>
    
                    <!-- widget div-->
                    <div class="no-padding">
                        <!-- widget edit box -->
                        <div class="jarviswidget-editbox">
    
                            test
                        </div>
                        <!-- end widget edit box -->
    
                        <div class="widget-body">
                            <!-- content -->
                            <div id="myTabContent" class="tab-content">
                                <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                    <div class="row no-space">
                                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                                        <form class="smart-form" name="tax_settings" cg-busy="{promise:promise,message:'Please Wait',minDuration:500}">
                                        <fieldset>
                                        
                                            <section ng-class="{ 'state-error' : tax_settings.hst.$invalid  }">
                                                <label class="label">HST</label>
                                                <label class="input">
                                                <input type="number" ng-model="hst.value" name="hst" required  />
                                                    
                                                </label>
                <div class="note note-error" ng-show="tax_settings.pst.$invalid" >Hst is required or Zero.</div>

                                            </section>
                                            <section ng-class="{ 'state-error' : tax_settings.pst.$invalid  }">
                                                <label class="label">PST</label>
                                                <label class="input">
                                                <input type="number" ng-model="pst.value" name="pst" required  />
                                                    
                                                </label>
                                                <div class="note note-error" ng-show="tax_settings.pst.$invalid" >Pst is required or Zero.</div>

                                            </section>

                                            <footer>
                                <button type="submit" class="btn btn-success" ng-click="save()" ng-disabled="tax_form.$invalid">
                                    Save Changes
                                </button>
                                
                            </footer>
                                        </fieldset>


                                            
                                        </form>

                                            
                                      
        
          
                                        </div>                          
                                    </div>
                                </div>                      
                            </div>            
                        </div>
                    </div>       
                </div>
            </article>
        </div>
    </section>


    

</div>



{% endblock content %}
{% block extra_angular %}
  <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/taxctrl.js'></script>  
{% endblock extra_angular %}