{% extends "dashboardui/base.html" %}
{% block extra_css %}
<style type="text/css">
    #sparks li h5 {

margin: 0px 0 0 0;



}
.grid {
  width: 100%;
  height: 725px;
}
.label{
    font-weight: bolder!important;
}
.smart-form .col {

padding-right: 0px;

}
.inbox-body .table-wrap {
background: #fff;
padding: 10px 14px 7px;
position: relative;
margin-left: 0!important;
overflow-x: hidden;
}



</style>
    
{% endblock extra_css %}

{% block ng %}
    
{% endblock ng %}

{% block datetime %}
    
{% endblock datetime %}

{% block content %}
<div ng-controller="FeedbackCtr">
    <div class="row">
    <div class="col-xs-12 col-sm-7 col-md-7">
        <h1 class="page-title txt-color-blueDark"><i class="fa-fw fa fa-envelope-o"></i> Feedback <span> Feedback and Suggestions </span></h1>
        

    </div>
   
   
    
</div>
    <section id='widget-grid'>
        
    <div class="row">


            <div id="content" style="opacity: 1;">
           <!--  <div class="inbox-nav-bar no-content-padding">

    <a href="javascript:void(0);" id="compose-mail-mini" class="btn btn-primary pull-right hidden-desktop visible-tablet"> <strong><i class="fa fa-file fa-lg"></i></strong> </a>

    <div class="btn-group pull-right inbox-paging">
        <a href="javascript:void(0);" class="btn btn-default btn-sm"><strong><i class="fa fa-chevron-left"></i></strong></a>
        <a href="javascript:void(0);" class="btn btn-default btn-sm"><strong><i class="fa fa-chevron-right"></i></strong></a>
    </div>
    <span class="pull-right"><strong>1-30</strong> of <strong>3,452</strong></span>

</div> -->

<div id="inbox-content" class="inbox-body no-content-padding">

    

    <div class="table-wrap custom-scroll animated fast fadeInRight" style="height: 320px; opacity: 1;"><table id="inbox-table" class="table table-striped table-hover">
    <tbody ng-cloak>
    {% verbatim %}
    <tr id="{{msg.id}}" ng-class="{unread:!msg.archived}" ng-repeat="msg in msgs" ng-click="viewfeedback(msg)">
            <td class="inbox-table-icon">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" class="checkbox style-2">
                        <span></span> </label>
                </div>
            </td>
            <td class="inbox-data-from hidden-xs hidden-sm">
                <div>
                    {{msg.name}}
                </div>
            </td>
            <td class="inbox-data-message">
                <div>
                    <span><span class="label bg-color-orange">{{msg.location}}</span>  No Title</span> {{msg.text}}
                </div>
            </td>
            <td class="inbox-data-attachment hidden-xs">
                <div>
                    
                </div>
            </td>
            <td class="inbox-data-date hidden-xs">
                <div>
                    {{msg.date|date:'yyyy/MM/dd HH:mm'}}
                </div>
            </td>
        </tr>
    
    {% endverbatim %}
    

        




        

        

    </tbody>
</table>


</div>


</div>

</div>
        </div>
    </section>


    

</div>

<script type="text/ng-template" id="viewfeedback.html">
        {% verbatim %}
        <div class="modal-header">
            <h3 class="modal-title">Feedback left by {{msg.name}} at {{msg.date|date:'yyyy/MM/dd HH:mm'}}</h3>
        </div>
        
        <div class="modal-body">
            <p>{{msg.text}}</p>
        </div>

      
        <div class="modal-footer">                                                                                        
            <button class="btn btn-success" ng-click="ok()" >Ok</button>
                                                                                                                                                  
        </div>
        
        {% endverbatim %}

        
        
        </script>



{% endblock content %}
{% block extra_angular %}
  <script type="text/javascript" src='{{ STATIC_URL }}dashboard_scripts/controllers/feedback.js'></script> 
  

{% endblock extra_angular %}